@charset "utf-8";

:root{
  --theme-main-hue  : 250;
  --theme-sub-hue   : 270;
  --theme-accent-hue: 95;
  --theme-menu-hue : 95;
  --a-line-color: oklch(80% 0.21 var(--theme-accent-hue));
}
@media screen {
  .night {
    --a-line-color: oklch(55% 0.21 var(--theme-accent-hue));
  }
}
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-wheel.png);
  background-blend-mode: normal, normal;
  .night & {
    background-blend-mode: hard-light, hard-light;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position-x: 0, 15vw;
  }
}
