@charset "utf-8";

@import "icons.css" layer(system);

@media screen and (width <= 550px){
  html {
    font-size: 1.8vw;
  }
}

@layer system {
/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-first.png);
  @media screen and (width <= 735px){
    background-size: auto, 80%;
  }
}
article,
.color-set {
  --arts-name-bg-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.5 ), 20%
  );
  --arts-head-bg-color: hsla(
    var(--box-head-bg-color-h, 225),
    calc( var(--box-head-bg-color-s,  9%) * 0.9 ),
    var(--box-head-bg-color-l, 65%),
    var(--box-head-bg-color-a, 0.4)
  );
  .night & {}
}

/* // Base
---------------------------------------------------------------------------------------------------- */
article {
  max-width: 800px;
}
/* // Layout
---------------------------------------------------------------------------------------------------- */
#area-description > section:first-of-type {
  margin-top: 0;
}
@media screen and (width >= 1400px){
  body.wide {
    grid-template-columns: minmax(0, 1fr) minmax(auto, 1800px) minmax(0, 1fr);

    & header nav {
      max-width: 1800px;
    }
    & article {
      max-width: 1760px;
    }
    & #god,
    & #school {
      max-width: 1760px;
      display: grid;
      grid-gap: 0 1.2rem;
      grid-template-columns: 1fr 1fr;
      padding: 0 1.2rem;
      position: relative;
    }
    & #area-name,
    & #tags {
      grid-column: span 2;
    }
  }
  #area-description {
    grid-column: 1;
  }
  #magics,
  #mystic-arts {
    grid-column: 2;
    margin-top: 0;
  }
}

/* // Font
---------------------------------------------------------------------------------------------------- */
#god-name,
#school-name,
.data-magic .name dd,
.data-magic h3.name {
  font-family: var(--base-font-family-min);
}
#god-name small,
#school-name small {
  font-family: var(--base-font-family-jp);
}


/* // MagicData
---------------------------------------------------------------------------------------------------- */
#magic > h2 {
  width: max-content;
  padding: .4em .5em .3em;
  border-radius: 5px 5px 0 0;
  line-height: 1;
  background: var(--box-outside-border-color);
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
  font-weight: bold;
  font-size: 100%;
}
.data-magic {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 1fr 0.8fr;
  grid-template-areas:
    "NAME NAME NAME COST"
    "TRGT RANG DURA RESI"
    "SMRY SMRY SMRY ELEM"
    "EFCT EFCT EFCT EFCT"
  ;

  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--box-outside-border-color);
  
  background-color: var(--box-base-bg-color);

  & * {
    border-color: var(--box-outside-border-color);
  }
  .wide & {
    margin-top: 1em;
    @media print {
      break-inside: avoid;
    }
  }
  .wide .data-magic + & {
    margin-top: 1.5em;
  }
  &   .name     { grid-area: NAME; }
  & dl.cost     { grid-area: COST; }
  & dl.target   { grid-area: TRGT; }
  & dl.range    { grid-area: RANG; }
  & dl.duration { grid-area: DURA; }
  & dl.resist   { grid-area: RESI; }
  & dl.element  { grid-area: ELEM; }
  & dl.summary  { grid-area: SMRY; }
  & dl:not(.element)+dl.summary { grid-column: 1/-1; }
  & dl.effect   { grid-area: EFCT; }
  
  & dl.type      { grid-area: TYPE; }
  & dl.rank      { grid-area: RANK; }
  & dl.premise   { grid-area: PRMS; }
  & dl.condition { grid-area: CDTN; }
  
  & dl.sing      { grid-area: SING; }
  & dl.pet       { grid-area: PET ; }
  & dl.basepoint { grid-area: BAPT; }
  & dl.setpoint  { grid-area: STPT; }
  & dl.addpoint  { grid-area: ADPT; }
  
  & dl.part      { grid-area: PART; }
  & dl.human-form{ grid-area: HUMF; }
  
  & dl.ccost     { grid-area: CCST; }
  & dl.ccharge   { grid-area: CCHG; }
  
  & dl.type      { grid-area: TYPE; }
  & dl.equip     { grid-area: EQIP; }
  & dl.use       { grid-area: USE ; }
  & dl.apply     { grid-area: APLY; }
  & dl.risk      { grid-area: RISK; }
  
  & dl.a-cost    { grid-area: ACST; }
}

.data-magic > dl {
  display: grid;
  grid-template-columns: 3.5em 1fr;
  border-width: 1px 0 0 1px;
  border-style: solid;
}

.data-magic.enhance {
  grid-template-areas:
    "NAME NAME NAME DURA"
    "SMRY SMRY SMRY SMRY"
    "EFCT EFCT EFCT EFCT"
  ;
}
.data-magic.song {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "NAME NAME NAME"
    "SING PET  PET "
    "CDTN RESI ELEM"
    "BAPT STPT ADPT"
    "SMRY SMRY SMRY"
    "EFCT EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 6.2em 1fr;
  }
  > dl.condition dt::before {
    content: "効果発生"
  }
}
.data-magic.finale {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "NAME NAME NAME"
    "COST RESI ELEM"
    "SMRY SMRY SMRY"
    "EFCT EFCT EFCT"
  ;
}
.data-magic.riding {
  grid-template-columns: 1.3fr .8fr .9fr;
  grid-template-areas:
    "NAME NAME PRMS"
    "TYPE PART PART"
    "SMRY SMRY SMRY"
    "EFCT EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 5em 1fr;
  }
  > dl.premise {
    grid-template-columns: 3em 1fr;
  }
}
.data-magic.geomancy {
  grid-template-columns: 2.1fr .9fr;
  grid-template-areas:
    "NAME COST"
    "DURA ELEM"
    "SMRY SMRY"
    "EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 6em 1fr;
  }
  > dl.duration dt::before {
    content: "効果の"
  }
}
.data-magic.command {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "NAME NAME"
    "TYPE RANK"
    "CCST CCHG"
    "SMRY SMRY"
    "EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 6em 1fr;
  }
}
.data-magic.lead {
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "NAME PRMS"
    "CDTN CDTN"
    "CCST CCST"
    "SMRY SMRY"
    "EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 6em 1fr;
  }
  > dl.condition dt::before {
    content: "使用"
  }
}
.data-magic.divination {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "NAME NAME NAME"
    "TYPE TYPE TYPE"
    "TRGT RANG DURA"
    "SMRY SMRY SMRY"
    "EFCT EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 6em 1fr;
  }
}
.data-magic.potential {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "NAME NAME NAME"
    "PRMS PART HUMF"
    "SMRY SMRY SMRY"
    "EFCT EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 5em 1fr;

    &.human-form {
      grid-template-columns: 6em 1fr;
    }
  }
}
.data-magic.psychokinesis {
  grid-template-areas:
  "NAME NAME NAME COST"
  "PRMS PRMS PRMS PRMS"
  "TRGT RANG DURA RESI"
  "SMRY SMRY SMRY ELEM"
  "EFCT EFCT EFCT EFCT"
  ;
}
.data-magic.seal {
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "NAME NAME"
    "PRMS TYPE"
    "EFCT EFCT"
  ;
  .summary {
    display: none;
  }
}
.data-magic.dignity {
  grid-template-columns: 0.6fr 1.2fr 1.2fr;
  grid-template-areas:
    "NAME NAME NAME"
    "TYPE PRMS TRGT"
    "EFCT EFCT EFCT"
  ;
  .summary {
    display: none;
  }
}

.data-magic.data-arts {
  grid-template-columns: 1fr 1fr .45fr .55fr;
  grid-template-areas:
    "NAME NAME NAME COST"
    "TYPE PRMS EQIP EQIP"
    "USE  APLY RISK RISK"
    "SMRY SMRY SMRY SMRY"
    "EFCT EFCT EFCT EFCT"
  ;
  > dl {
    grid-template-columns: 3.2em 1fr;
  }
  & dl.premise,
  & dl.apply {
    grid-template-columns: 3em 1fr;
  }
  & dl.equip,
  & dl.risk {
    grid-template-columns: 4.2em 1fr;
  }
  & dl.cost {
    grid-template-columns: 4.2em 1fr;
  }
}
#mystic-arts dl.cost dt > span,
#mystic-arts dl.a-cost dt > span {
  display: inline-block;
  font-size: 75%;
  transform: scaleY(calc(1/0.75));
}
#mystic-arts .data-magic:not(.data-arts) {
  grid-template-columns: 1.1fr 1.1fr 0.35fr 0.65fr 0.8fr;
  grid-template-areas:
    "NAME NAME NAME ACST COST"
    "TRGT RANG DURA DURA RESI"
    "SMRY SMRY SMRY SMRY ELEM"
    "EFCT EFCT EFCT EFCT EFCT"
  ;
  & dl.a-cost {
    grid-template-columns: 4.2em 1fr;
  }
}

@media screen and (width <= 735px){
  .data-magic { display: block }
  .data-magic dl {
    grid-template-columns: 5.5em 1fr !important;
  }
  .data-magic dl dd {
    text-align: left !important;
  }
}

.data-magic > h3,
.data-magic > dl > dt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--arts-head-bg-color);
  border-width: 0 1px 0 0;
  border-style: solid;
}
.data-magic > dl > dt {
  min-height: 1.9em;
  line-height: 1;
  padding: 2px 0px;
  text-wrap: balance;
}
.data-magic dl.name {
  grid-template-columns: 3.5em 1fr;
}
.data-magic > dl > dd {
  padding: .2em 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-magic dl.cost     dd,
.data-magic dl.target   dd,
.data-magic dl.range    dd,
.data-magic dl.duration dd,
.data-magic dl.element  dd {
  font-family: var(--font-proportional);
  white-space: nowrap;
}
.data-magic h3.name,
.data-magic dl.name     dd,
.data-magic dl.summary  dd,
.data-magic dl.effect > dd,
.data-magic.song     dl.pet      dd,
.data-magic.riding   dl.type     dd,
.data-magic.lead     dl.condition dd,
.data-magic.lead     dl.ccost dd,
.data-magic.geomancy dl.duration dd,
.data-magic.divination dl.type   dd {
  display: block;
  padding: .2em .5em;
  text-align: left;
}
.data-magic > h3.name {
  border-width: 1px 0 0 1px;
  background: var(--arts-name-bg-color);
  color: #fff;
  font-size: 130%;
  word-break: keep-all;
  text-wrap: balance;
  text-align-last: end;
  overflow-wrap: break-word;
  > div {
    max-width: 100%;
    width: max-content;
  }
}
.data-magic dl.name {
  & dt {
    background: var(--arts-name-bg-color);
    color: #fff;
    font-size: 150%;
  }
  & dd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--arts-name-bg-color);
    color: #fff;
    font-size: 150%;
    :is(#god,#school) & {
      font-size: 130%;
    }
    font-weight: bold;
    word-break: keep-all;
    text-wrap: balance;
    text-align-last: end;
    overflow-wrap: break-word;
  }
  & dd small {
    align-self: end;
    display: block;
    font-size: 55%;
    margin-left: auto;
    margin-right: -.2em;
    transform: scaleY(1.3);
  }
}
.data-magic dl.name dd .s-icon::before,
.data-magic > h3 .s-icon::before {
  color: #fff;
}

.data-magic dl.effect {
  & dd.box {
    padding: 0;
    border-width: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
  }
  & dd.box > *:first-child,
  & dd.box p:empty + * {
    margin-top: .2em;
  }
  > :is(dt,dd):nth-of-type(n+2) {
    border-top-width: 1px;
    border-top-style: solid;
  }
}

@media screen and (width <= 735px){
  .data-magic dl br {
    display: none;
  }
  .data-magic dl.effect br {
    display:unset;
  }
  .data-magic dl dd {
    display: block; 
    padding: .2em .5em;
  }
  div.data dl.category dd hr {
    display: inline;
    border: 0;
  }
  div.data dl.category dd hr::before {
    content: '／';
    margin: 0 0.3em;
  }
}
div.data dl.effects dd.box *:first-child {
  margin-top: .2em;
}
div.data dl.effects :is(dt,dd):nth-of-type(n+2) {
  border-top-width: 1px;
  border-top-style: solid;
}
div.data dl.effects table {
  &,
  & th,
  & td {
    margin: .5em;
    border-width: 1px;
    border-style: solid;
  }
  & th,
  & td {
    padding: .2em .5em;
  }
  & th {
    background: rgba(127,127,127,0.2);
  }
  &.weapon-table th {
    white-space: nowrap;
  }
  &.weapon-table td:not(.left) {
    white-space: nowrap;
  }
}

/* // School
---------------------------------------------------------------------------------------------------- */
#school .box.req {
  margin: 0 0 1em;
  padding: .2em .5em .1em;
  display: grid;
  grid-template-columns: max-content 1fr;
  border-width: 0 0 1px;
  border-style: solid;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;

  & dt::after {
    content: ":";
  }
  & dd {
    font-weight: bold;
    text-align: left;
  }
}

.item-table {
  margin-top: 1em;
  

  &,
  & th,
  & td {
    border-width: 1px;
    border-style: solid;
    border-color: var(--box-outside-border-color);
    text-align: center;
  }
  > thead {
    background-color: var(--arts-head-bg-color);
    .name       { width: 14.5em; }
    .reputation { width: 4em; }
    .category   { width: 10.5em; }
    .price      { width: 7em; }
  }
  & tbody td {
    padding: .2em;
  }
  & tbody td.left {
    font-size: 92%;
  }
  @media screen and (width <= 735px){
    > thead {
      .name       { width: 10.5em; }
      .reputation { width: 3.5em; }
      .category   { width: 8.5em; }
      .price      { width: 6em; }
    }
  }
}
a.failed::before {
  content: "\e002";
  font-family: "Material Symbols Outlined";
  vertical-align: top;
  line-height: 1;
  font-size: 130%;
}

/* // Description
---------------------------------------------------------------------------------------------------- */
.description,
.description .box {
  margin-top: 1.5em;
  border-width: 0;
  box-shadow: none;
  background-image: none;
  background-color: var(--box-base-bg-color);
  box-shadow: none !important;
}
.description :is(h2, h2:nth-child(n+2)) {
  margin: 0;
  padding: 0 .3em;
  border-width: 2px 0px;
  border-style: solid;
  border-color: var(--box-outside-border-color);
  font-size: 115%;
  background-image: linear-gradient(to right, var(--box-head-bg-color), var(--box-base-bg-color));
  background-color: var(--bg-color);
  text-shadow: 0px 0px .3em #fff;
}
.box.description h2 ~ h2,
#mystic-arts.description h2 ~ h2 {
  margin-top: 1em;
}
@media screen {
  .night .description h2 {
    text-shadow: 0px 0px .3em #000;
  }
}
.description#magics,
.description#mystic-arts {
  background-color: transparent;
}
.description .box {
  margin-top: 0;
}

/* // NameArea
---------------------------------------------------------------------------------------------------- */
#area-name {
  align-items: flex-end;
  flex-wrap: wrap;
}
#area-name small {
  display: block;
  margin-top: -1em;
  margin-left: auto;
  font-size: 110%;
  font-weight: bold;
  text-shadow: 0px 0px .3em var(--bg-color), 0px 0px .3em var(--bg-color);
}

/* // Image
---------------------------------------------------------------------------------------------------- */
#symbol {
  display: grid;
  justify-items: center;
  align-items: center;
  float: right;
  width : 208px;
  height: 208px;
  overflow: hidden;
  margin: 5px;
  padding:3px;
  border: 1px solid #777;
  border-radius: 5px;
  background: var(--bg-color);
  position: relative;
  z-index: 1;
  @media screen and (width <= 735px){
    width : 30vw;
    height: 30vw;
  }
}
#symbol img {
  width : 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px #0005);
  .night & {
    filter: drop-shadow(0 0 10px #fff9);
  }
  @media print {
    &, .night & {
      filter: none;
    }
  }
}

/* // Author
---------------------------------------------------------------------------------------------------- */
#author {
  width: max-content;
  min-width: 50%;
  margin: 2em 0 0 auto;
  padding: .5em;
  text-align: right;
  border-width: 0 1px 1px 0px;
  border-style: solid;
}


/* ////////// LayerEnd ////////// */
}