@charset "utf-8";

/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-first.png);
}
@media screen and (max-width:735px){
  body {
    background-size: auto, 80%;
  }
}
/* // Layout
---------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1400px){
  body {
    grid-template-columns: minmax(0, 1fr) minmax(auto, 1800px) minmax(0, 1fr);
  }
  header nav {
    max-width: 1800px;
  }
  article{
    max-width: 1760px;
    display: grid;
    grid-gap: 0 1.2rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 1.2rem;
    position: relative;
  }
  #area-name, #tags {
    grid-column: span 2;
  }
  div.column-status {
    grid-row: span 2;
  }
  #area-actions {
    align-items: flex-start !important;
  }
  #area-items {
    grid-column: 2;
    grid-row: 5;
  }
  #free-note {
    grid-column: 1;
    grid-row: 5;
  }
}

/* // Font
---------------------------------------------------------------------------------------------------- */
#character-name,
.words {
  font-family: var(--base-font-family-min);
}
#character-name rt {
  font-family: Arial,var(--base-font-family-min);
}
#level dd {
  font-family: 'Verdana';
}
#personal dd,
#combat-feats ul,
#mystic-arts ul,
#crafts ul,
#package table,
#language table,
#magic-power table,
#attack-classes table,
#weapons table,
#evasion-classes table,
#armours table,
#accessories table,
.honor-items table {
  font-family: var(--font-proportional);
}
#history table {
  font-family: "Arial",var(--base-font-family-pr);
}
#cashbook p {
  font-family: var(--base-font-family-mono);
}

/* // Name / Date
---------------------------------------------------------------------------------------------------- */
#area-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  padding: 0px 5px;
  border-width: 3px 0px;
  border-style: solid;
  
  background-image: linear-gradient(to right, var(--box-head-bg-color), var(--box-base-bg-color));
  background-color: var(--bg-color);
  border-color: var(--box-outside-border-color, inherit);
}
h1#character-name {
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: var(--bg-color) 0px 0px .5em,
    var(--bg-color)  .1rem .1rem, var(--bg-color) -.1rem -.1rem,
    var(--bg-color) -.1rem .1rem, var(--bg-color)  .1rem -.1rem,
    var(--bg-color)  .0rem .1rem, var(--bg-color)  .0rem -.1rem,
    var(--bg-color) -.1rem .0rem, var(--bg-color)  .1rem  .0rem;
}
#aka {
  margin-right: .5em;
}
#area-name > div { 
  text-align: right;
  font-size: 1.2rem;
}
#update-time {
}
#player-name {
}

/* // Common
---------------------------------------------------------------------------------------------------- */
.data-table {
  width: 100%;
  border-style: hidden hidden none;
}
.data-table:last-child {
  border-bottom-style: hidden;
}
.data-table.side-margin,
.data-tables.side-margin table,
.data-tables.side-margin ul,
.data-tables.side-margin dl {
  width: calc(100% - 1rem);
  margin: 0 .5rem;
}
table.data-table > tbody tr {
  border-width: 1px 0;
  border-style: solid;
}
table.data-table:not(.side-margin) thead th {
  padding: .3rem 0 .2rem;
  border-width: 0;
  line-height: 1;
}
table.data-table tbody td,
ul.data-table > li,  .data-tables ul > li,
dl.data-table > *,   .data-tables dl > *  {
  padding: .2em 0;
  line-height: 1.4;
}
table.data-table:not(.side-margin) tbody th,
table.data-table:not(.side-margin) tbody td {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: dotted;
  border-right-style: dotted;
}
table.data-table:not(.side-margin).line-tbody tbody:nth-of-type(even) td,
table.data-table:not(.side-margin):not(.line-tbody) tbody tr:nth-of-type(even) td {
  background-color: var(--box-even-rows-bg-color);
}

ul.data-table > li,  .data-tables ul  > li,
dl.data-table > *,   .data-tables dl  > *  {
  border-width: 0 0 1px;
  border-style: solid;
}
ul.data-table:last-child > li:last-child,
dl.data-table:last-child > dt:last-of-type,
dl.data-table:last-child > dt:last-of-type ~ dd,
.data-tables ul:last-child > li:last-child,
.data-tables dl:last-child > dt:last-of-type,
.data-tables dl:last-child > dt:last-of-type ~ dd {
  border-bottom-style: hidden;
}

/* // Area-Status
---------------------------------------------------------------------------------------------------- */
#area-status {
  min-height: 56.7rem;
  display: grid;
  grid-gap: var(--box-v-gap);
  grid-template-columns: 0.8fr 0.6fr 1.5fr 2.115fr;
  grid-template-rows: 1fr auto auto auto;
  
  grid-template-areas:
    "PER  PER  PER  IMG"
    "STT  STT  STT  IMG"
    "STT  STT  STT  IMG"
    "EXP  LVL sSTT IMG"
  ;
}
#image-none,
#image     { grid-area: IMG; }
#personal  { grid-area: PER; }
#status    { grid-area: STT; }
#sub-status{ grid-area: sSTT; }
#level     { grid-area: LVL; }
#exp       { grid-area: EXP; }

@media screen and (max-width:767px){
  #area-status {
    grid-gap: calc(var(--box-v-gap) / 2) calc(var(--box-h-gap) / 2);
    grid-template-columns: 0.7fr 0.7fr 1.5fr 2.1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "PER  PER  PER  PER"
      "STT  STT  STT  IMG"
      "STT  STT  STT  IMG"
      "EXP  LVL  sSTT IMG"
    ;
  }
}
@media screen and (max-width:735px){
  #area-status {
    display: grid;
    grid-template-columns: 0.7fr 0.6fr 1.6fr 2.1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "PER  PER  PER  PER"
      "STT  STT  STT  IMG"
      "STT  STT  STT  IMG"
      "EXP  LVL  sSTT IMG"
    ;
  }
}

/* Personal */
#personal {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 0;
  justify-content: space-between;
}
#personal dl {
  flex-basis: 33%;
  display: grid;
  grid-template-rows: max-content 1fr;
}
#personal dl dt {
}
#personal dl dd {
  align-self: center;
  line-height: 1;
}
@media screen and (max-width:767px){
  #personal dl dd {
    line-height: inherit;
  }
}
#personal dl#race         { flex-basis: 58%; order: 1; }
#personal dl#age          { flex-basis: 20%; order: 2; }
#personal dl#gender       { flex-basis: 20%; order: 3; }
#personal dl#race-ability { flex-basis: 85%; order: 4; }
#personal dl#birth        { flex-basis: 28%; order: 6; }
#personal dl#faith        { flex-basis: 46%; order: 7; }
#personal dl#rank         { flex-basis: 24%; order: 8; }
#personal dl#sin          { flex-basis: 14%; order: 5; }

#personal dl#race dd span.variant {
  display: inline-block;
  font-size: 90%;
}
#personal dl#race-ability dd span {
  display: inline-block;
}

/* Status */
#status {
  display: grid;
  grid-gap: 7px 10px;
  grid-template-columns: 1fr 1fr 1fr 1.3fr 0.8fr 1.2fr;
  grid-template-rows: auto;
}
@media screen and (max-width:735px){
  #status {
    grid-gap: 5px 8px;
    grid-template-columns: 1fr 1fr 1fr 1.4fr 0.7fr 1.4fr;
  }
}

#stt-base-tec { grid-row: 1 / span 2; grid-column: 1; }
#stt-base-phy { grid-row: 3 / span 2; grid-column: 1; }
#stt-base-spi { grid-row: 5 / span 2; grid-column: 1; }
#stt-base-A { grid-row: 1; grid-column: 2; }
#stt-base-B { grid-row: 2; grid-column: 2; }
#stt-base-C { grid-row: 3; grid-column: 2; }
#stt-base-D { grid-row: 4; grid-column: 2; }
#stt-base-E { grid-row: 5; grid-column: 2; }
#stt-base-F { grid-row: 6; grid-column: 2; }
#stt-grow-A { grid-row: 1; grid-column: 3; }
#stt-grow-B { grid-row: 2; grid-column: 3; }
#stt-grow-C { grid-row: 3; grid-column: 3; }
#stt-grow-D { grid-row: 4; grid-column: 3; }
#stt-grow-E { grid-row: 5; grid-column: 3; }
#stt-grow-F { grid-row: 6; grid-column: 3; }
#stt-dex { grid-row: 1; grid-column: 4; }
#stt-agi { grid-row: 2; grid-column: 4; }
#stt-str { grid-row: 3; grid-column: 4; }
#stt-vit { grid-row: 4; grid-column: 4; }
#stt-int { grid-row: 5; grid-column: 4; }
#stt-mnd { grid-row: 6; grid-column: 4; }
#stt-add-A { grid-row: 1; grid-column: 5; }
#stt-add-B { grid-row: 2; grid-column: 5; }
#stt-add-C { grid-row: 3; grid-column: 5; }
#stt-add-D { grid-row: 4; grid-column: 5; }
#stt-add-E { grid-row: 5; grid-column: 5; }
#stt-add-F { grid-row: 6; grid-column: 5; }
#stt-bonus-dex { grid-row: 1; grid-column: 6; }
#stt-bonus-agi { grid-row: 2; grid-column: 6; }
#stt-bonus-str { grid-row: 3; grid-column: 6; }
#stt-bonus-vit { grid-row: 4; grid-column: 6; }
#stt-bonus-int { grid-row: 5; grid-column: 6; }
#stt-bonus-mnd { grid-row: 6; grid-column: 6; }

#status dl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position:relative;
  border-width: 1px;
  border-style: dotted;
  border-radius: 5px;
}
#status dl dt {
  font-size: 1.3rem;
}
#status dl dd {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#status dl:nth-child(n+16):nth-child(-n+21),
#status dl[id^="stt-bonus"] {
  border-width: 1px;
  border-style: solid;
}
#status dl:nth-child(n+16):nth-child(-n+21) dd,
#status dl[id^="stt-bonus"] dd {
  font-size: 1.15em;
}
#status dl:nth-child(n+16):nth-child(-n+21) dd {
  font-size: 1.15em;
}
#status dl:nth-child(n+16):nth-child(-n+21) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}
#status dl[id^="stt-add"] {
  border-style: solid;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  margin-left: -1rem;
}
#status dl[id^="stt-add"] dt span {
  display: inline-block;
  margin: 0 -3%;
  transform: scale(0.85, 0.85);
}

#status dl:nth-child(n+4):nth-child(-n+15)::before,
#status dl[id^="stt-add"]::before {
  position: absolute;
  content: "+";
  left: -1rem;
  bottom: 0;
  font-size: 1.2rem;
}
#status dl:nth-child(n+16):nth-child(-n+21)::before {
  position: absolute;
  content: "=";
  left: -1rem;
  bottom: 0;
  font-size: 1.2rem;
}
#status dl[id^="stt-add"]::before {
  left: -.3rem;
}

#status dl[id^="stt-bonus"] {
  margin-left: .8rem;
}
#status dl[id^="stt-bonus"]::before {
  position: absolute;
  content: "";
  left: -1.9rem;
  bottom: 8px;
  width: 1.9rem;
  border-width: 0.4rem 0 0;
  border-style: solid;
  border-color: inherit;
}
#status dl[id^="stt-bonus"]::after {
  position: absolute;
  content: "÷6";
  width: 2rem;
  left: -2.1rem;
  bottom: 8px;
  font-size: 1.2rem;
  text-align: right;
}
#status dl[id^="stt-bonus"] dt span {
  display: block;
  width: 3em;
  margin: 0 -.4em;
  transform: scale(0.75, 0.85);
}
#status dl[id^="stt-bonus"] dt span::after { content: "ボーナス"; }
@media screen and (max-width:850px), screen and (min-width:1400px) and (max-width:1680px){
  #status dl[id^="stt-bonus"] dt span::after { content: "Ｂ"; }
}
#status dl[id^="stt-bonus"] dd {
  transform: scale(1.2,1.25);
}

/* Sub-Status */
#sub-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  white-space:nowrap;
}
#sub-status dl:nth-child(1) { grid-row: 1; grid-column: 1; }
#sub-status dl:nth-child(2) { grid-row: 2; grid-column: 1; }
#sub-status dl:nth-child(3) { grid-row: 1; grid-column: 2; }
#sub-status dl:nth-child(4) { grid-row: 2; grid-column: 2; }
#sub-status dl:nth-child(2),
#sub-status dl:nth-child(4) {
  border-top-width: 1px;
  border-top-style: solid;
}
#sub-status dl:nth-child(1),
#sub-status dl:nth-child(2) {
  border-right-width: 1px;
  border-right-style: solid;
}
#sub-status dd b {
  font-weight:normal;
  font-size: 1.15em;
  display: inline-block;
  transform: scaleY(1.1);
}
@media screen and (max-width:735px){
  #sub-status dt > span {
    display: inline-block;
    margin-left : -5%;
    margin-right: -5%;
    transform: scaleX(0.9);
  }
}

/* Level */
dl#level {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
dl#level dd {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 200%;
}
@media screen and (min-width:1400px) and (max-width:1600px){
  dl#level dt> span::after {
    content:'Lv'
  }
  dl#level dt span.shorten {
    display: none;
  }
}
@media screen and (max-width:735px){
  dl#level dt > span {
    display: inline-block;
    margin-left : -5%;
    margin-right: -5%;
    transform: scaleX(0.9);
  }
  dl#level dt > span::after {
    content:'Lv'
  }
  dl#level dt span.shorten {
    display: none;
  }
}

/* EXP */
#exp {
  display: grid;
}
#exp dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: end;
  margin: 0 .5rem;
  line-height: 1;
  white-space: nowrap;
}
#exp dl > * {
}
#exp dl > *:not(:last-of-type) {
  border-width: 0 0 .1rem;
  border-style: solid;
}
#exp dl dt {
  grid-column: 1;
  font-size: 80%;
  padding: 0 0 .3rem;
}
#exp dl dd {
  grid-column: 2;
  text-align: right;
  font-size: 120%;
  padding: .3rem 0 .1rem;
  font-family: var(--font-proportional);
}

/* // Area-Ability
---------------------------------------------------------------------------------------------------- */
#area-ability {
  display: flex;
  justify-content: space-between;
  
  margin-top: var(--box-v-gap);
  line-height: 1.8;
}
#area-ability > * {
  flex-basis: 30%;
  flex-grow: 1;
  margin-left: var(--box-h-gap);
}
#area-ability > *:first-child {
  margin-left: 0px;
}

#area-ability .box + .box {
  margin-top: var(--box-v-gap);
}
@media screen and (max-width:735px){
  #area-ability {
    flex-wrap: wrap;
  }
  #area-ability > * {
    flex-basis: calc(50% - 1rem);
  }
  #area-ability > *:last-child {
    margin-top: var(--box-v-gap);
    margin-left: 0px;
  }
}

/* Classes */
#area-classes {
  position: relative;
}
#area-classes h2 + div {
  position: absolute;
  top: .2rem;
  right: .5em;
  font-size: 80%;
}
#area-classes h2 + div span {
  font-size: 120%;
}
#area-classes dl {
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-rows: auto;
}
#area-classes dl dt {
  grid-column: 1;
  font-weight: normal;
}
#area-classes dl dd {
  grid-column: 2;
  font-size: 1.15em;
  line-height: 1.1;
}
#area-classes .priest-faith {
  display: inline-block;
  font-size: 90%;
  line-height: 1;
}
#area-classes #priest-faith.narrow {
  margin: 0 -10%;
  transform: scaleX(0.8);
}

/* Combat-feats */
#combat-feats {
}
#combat-feats ul li {
}
#combat-feats ul li[id^=combat-feats-lv] {
  position: relative;
}
#combat-feats ul li[id^=combat-feats-lv]::before {
  display: block;
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 1.1em;
  opacity: 0.5;
  font-size: 80%;
  white-space: nowrap;
}
#combat-feats ul li[id|="combat-feats"]::before { content: attr(data-lv); }
#combat-feats ul li.fail {
  color: #ee0000;
}

/* Crafts */
#crafts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#crafts > .box {
  width: 100%;
}
@media screen and (max-width:735px){
  #crafts {
    flex-direction: row;
    justify-content: space-between;
  }
  #crafts > .box {
    width: auto;
    flex-basis: 49%;
    margin-bottom: var(--box-v-gap);
  }
  #crafts > .box + .box {
    margin-top: 0;
  }
}
#crafts li {
  position: relative;
}
#crafts li span[data-ruby] {
  display: block;
  position: relative;
  bottom: -.35em;
}
#crafts li span[data-ruby]::before {
  content: attr(data-ruby);
  display: block;
  position: absolute;
  left: -5em;
  right: -5em;
  text-align: center;
  white-space: nowrap;
  transform: scale(0.7) translateY(-1.2em);
}

/* // Area-Actions & Language
---------------------------------------------------------------------------------------------------- */
#area-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  
  margin-top: var(--box-v-gap);
  line-height: 1.8;
}
@media screen and (min-width:1400px){
  #area-actions {
    margin-top: 0;
  }
}
#area-actions > * {
  flex-basis: 30%;
  flex-grow: 1;
  margin-left: var(--box-h-gap);
}
#area-actions > *:first-child {
  margin-left: 0px;
}
#area-actions .box#package td:last-child {
  width: 1.8em;
  padding-left: 0.2rem;
  font-size: 1.15em;
  line-height: 1.6;
  white-space: nowrap;
}
@media screen and (max-width:735px){
  #area-actions {
    display: grid;
    grid-gap: var(--box-v-gap);
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  #area-actions > * {
    margin: 0;
  }
  #language { grid-row: 1 / 3; grid-column: 2 / 3; }
  #magic-power { grid-column: 1 / 3; }
}

/* Actions-Package */
#package {}
#package table {
  white-space: nowrap;
}
#package table tr:first-child th:first-child {
  width: 12em;
  white-space: nowrap;
}
#package table tr th:nth-last-child(3) {
  width: 3em;
  white-space: nowrap;
}
#package table tr td:nth-last-child(2) {
  font-size: 90%;
  white-space: nowrap;
  vertical-align: middle;
}
#package table tr th {
  font-weight: normal;
}

/* Area-Other-Actions */
#area-other-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#area-other-actions input {
  width: 3.5em;
}
/* Monster-Lore  */
#monster-lore {
  flex-basis: calc(50% - 5px);
}
#monster-lore dd {
  font-size: 1.15em;
}

/* Initiative */
#initiative {
  flex-basis: calc(50% - 5px);
}
#initiative dd {
  font-size: 1.15em;
}

/* Mobility */
#mobility {
  flex-grow: 1;
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  
  margin-top: var(--box-v-gap);
}
#mobility dt {
  grid-row: 1;
}
#mobility dd {
  grid-row: 2;
}
#mobility b {
  font-weight: normal;
  font-size: 1.15em;
}

/* Magic-Power */
#magic-power{
  flex-basis: auto;
  flex-grow: 0;
  margin-top: var(--box-v-gap);
  margin-left: 0;
}
#magic-power table {
  margin-top: -1.2em;
}
#magic-power table thead th {
}
#magic-power table tbody td:nth-child(1),
#magic-power table tbody td:nth-child(2) {
  padding-left : .2em;
  padding-right: .2em;
}
#magic-power table tbody td:nth-child(2) {
  white-space: nowrap;
}
#magic-power table tbody td:nth-child(2) > span {
  display: block;
  font-size: 0.85em;
  line-height: 1;
  margin-bottom: 0.3em;
}
#magic-power table tbody td.num {
  width: 4em;
  font-size: 1.15em;
  line-height: 1.6;
  white-space: nowrap;
}

#magic-power p#magic-power-add {
  margin-top: -1.5em;
  margin-bottom: 0;
  text-align: right;
}
#magic-power p + table {
  border-top-width: 1px;
  border-top-style: solid;
}
#magic-power #fairycontact {
  margin: -.2em 0 -.1em;
  font-size: 90%;
  line-height: 1;
}
#magic-power #fairycontact > span {
  display: inline-block;
  border-radius: .5rem;
  margin: .1em;
  padding: .3rem;
}
#fairycontact .ft-earth { background: hsla( 45,100%, 50%,0.3); }
#fairycontact .ft-water { background: hsla(210,100%, 50%,0.3); }
#fairycontact .ft-fire  { background: hsla(  0,100%, 50%,0.3); }
#fairycontact .ft-wind  { background: hsla(120,100%, 50%,0.3); }
#fairycontact .ft-light { background: hsla(  0,100%,100%,0.3); }
#fairycontact .ft-dark  { background: hsla(  0,100%,  0%,0.3); }

/* Language */
#language {
  width: 100%;
  align-self :flex-start;
}
#language table:first-of-type {
  margin-top: -1.5em !important;
}
#language table tr > *:nth-last-child(-n+2) {
  width: 2.4em;
}
#language table td:first-child {
  text-align: left;
}
#language p#language-notice {
  margin: 0;
  padding-right: .5em;
  line-height: 1.4;
  text-align: right;
}

/* // Area-Equipment
---------------------------------------------------------------------------------------------------- */
#area-equipment {
}
#area-equipment > .box {
  margin-top: var(--box-v-gap);
}

#area-equipment table.data-table tbody th {
  border-style: none solid hidden;
}
#area-equipment table.data-table tbody:first-of-type tr:first-of-type th {
  border-top: hidden;
}
#area-equipment table td b {
  font-weight: normal;
  font-size: 1.15em;
}

#area-equipment .item-name {
  display: block;
  margin: 0 -6%;
  transform:scaleX(0.88);
}

/* Attack-Status */
#attack-classes {
  width: calc(25% + 24em + 1px);
}
#attack-classes thead th:nth-child(1) { width:  auto; } /* 名前 */
#attack-classes thead th:nth-child(2) { width: 3.5em; } /* 必筋 */
#attack-classes thead th:nth-child(3) { width:   5em; } /* 命中 */
#attack-classes thead th:nth-child(4) { width: 3.5em; } /* 威力 */
#attack-classes thead th:nth-child(5) { width: 3.5em; } /* Ｃ値 */
#attack-classes thead th:nth-child(6) { width:   5em; } /* 追加Ｄ */

#attack-classes + #weapons {
  margin-top: .3rem;
}

#weapons thead th:nth-child(1) { width:   25%; } /* 名前 */
#weapons thead th:nth-child(2) { width: 3.5em; } /* 用法 */
#weapons thead th:nth-child(3) { width: 3.5em; } /* 必筋 */
#weapons thead th:nth-child(4) { width:   5em; } /* 命中 */
#weapons thead th:nth-child(5) { width: 3.5em; } /* 威力 */
#weapons thead th:nth-child(6) { width: 3.5em; } /* Ｃ値 */
#weapons thead th:nth-child(7) { width:   5em; } /* 追加Ｄ */
#weapons thead th:nth-child(8) { width:   1em; } /* 専用 */
#weapons thead th:nth-child(9) { width: auto; } /* 備考 */

#weapons tbody td:last-child { padding-left: .3em; text-align: left; font-size: 90%; } /* 備考 */


/* Defense-Status */
#evasion-classes {
  width: calc(25% + 13em + 1px);
}
#evasion-classes th:nth-child(1) { width:  auto; } /* 名前 */
#evasion-classes th:nth-child(2) { width: 3.5em; } /* 必筋 */
#evasion-classes th:nth-child(3) { width: 3.5em; } /* 回避 */
#evasion-classes th:nth-child(4) { width: 3.5em; } /* 防護 */

#evasion-classes + #armours {
  margin-top: .3rem;
}

#armours thead th.type { width: 2.5em; } /* 種別 */
#armours thead th.name { width:   25%; } /* 名前 */
#armours thead th.reqd { width: 3.5em; } /* 必筋 */
#armours thead th.eva  { width: 3.5em; } /* 回避 */
#armours thead th.def  { width: 3.5em; } /* 防護 */
#armours thead th.own  { width:   1em; } /* 専用 */
#armours thead th.note { width:  auto; } /* 備考 */

#armours td.note {
  padding-left: .3em;
  text-align: left;
  font-size: 90%;
}

#armours .defense-total th {
  padding-right: 5px;
  text-align: right;
}
#armours .defense-total td {
  border-width: 1px;
  border-style: solid dotted;
}
#armours .defense-total td:is(.eva, .def) {
  font-size: 1.15em;
}


/* Accessories */
#accessories thead th:nth-child(1) { width: 2.5em; } /* 種別 */
#accessories thead th:nth-child(2) { width:   25%; } /* 名前 */
#accessories thead th:nth-child(3) { width: 3.5em; } /* 専用 */
#accessories thead th:nth-child(4) { width:  auto; } /* 備考 */

#accessories tbody td:nth-child(4) { padding-left: .3em; text-align: left; font-size: 90%; } /* 備考 */


/* // Area-Items
---------------------------------------------------------------------------------------------------- */
#area-items {
  display: flex;
  justify-content: space-between;
}
#area-items > div > .box {
  margin-top: var(--box-v-gap);
}

div#area-items-L {
  flex-basis: 60%;
}
div#area-items-R {
  flex-basis: 40%;
  margin-left: var(--box-h-gap);
}
/* Money */
#money{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
  #money dt {
    grid-row: 1;
  }
  #money dd {
    grid-row: 2;
  }

/* MaterialCard */
#material-cards table tr > * {
  width: 20%;
}
#material-cards table tr th:first-child {
  width: auto;
  text-align: center;
}
#material-cards table tbody tr th:first-child::before {
  font-family: "Material Symbols Outlined";
  font-variation-settings: 'FILL' 1;
  margin-right: .3rem;
  line-height: 1;
  font-weight: bold;
  display: inline-block;
  transform: scale(1.15);
  transform-origin: top;
}
#material-cards table tbody tr.cards-red { background-color: rgba(255,  0,  0,0.15); } #material-cards > h2 + table tr.cards-red th::before { content:'\e91d'; color: #a00; }
#material-cards table tbody tr.cards-gre { background-color: rgba( 50,255,220,0.15); } #material-cards > h2 + table tr.cards-gre th::before { content:'\e123'; color: #0c3; }
#material-cards table tbody tr.cards-bla { background-color: rgba(125,125,125,0.2); } #material-cards > h2 + table tr.cards-bla th::before { content:'\ead5'; color: #777; }
#material-cards table tbody tr.cards-whi { background-color: rgba(255,255,255,0.2); } #material-cards > h2 + table tr.cards-whi th::before { content:'\e87d'; color: #bbb; }
#material-cards table tbody tr.cards-gol { background-color: rgba(255,210, 50,0.15); } #material-cards > h2 + table tr.cards-gol th::before { content:'\e3e4'; color: #f90; }
#material-cards table tbody tr td {
  background-color: transparent;
}
/* BattleItems */
#battle-items ul {
  counter-reset: battle-items;
}
#battle-items ul li {
  position: relative;
  counter-increment: battle-items 1;
  padding-left: 1em;
  text-align: left;
}
#battle-items ul li::before {
  content: counter(battle-items);
  display: block;
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 1.1em;
  opacity: 0.5;
  font-size: 80%;
  text-align: center;
  white-space: nowrap;
}
#battle-items ul li.fail {
  color: #ee0000;
}

/* Honor */
#honor,
#dishonor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
#honor dt,
#dishonor dt {
  grid-row: 1;
}
#honor dd,
#dishonor dd {
  grid-row: 2;
}
#honor.zero-data {
  grid-template-columns: 1fr 1fr 1fr;
}
#honor.zero-data > *:not(:last-of-type){
  border-right-width: 1px;
  border-right-style: solid;
}
.honor-items table {
  margin-top: -1.5em !important;
}
.honor-items table thead th:last-child {
  width: 4em;
}
.honor-items dl#honor-offset {
  display: grid;
  grid-template-columns: 1fr 4.2em;
  margin-top: .5em;
  border-width: .1rem 0 0;
  border-style: solid;
}
.honor-items dl#honor-offset dt {
  text-align: center;
}
.honor-items dl#honor-offset dd input {
  margin: 0;
}

#honor    + #honor-items,
#dishonor + #dishonor-items {
  margin-top: .3rem;
}

/* // Free-Memo
---------------------------------------------------------------------------------------------------- */
#free-note,
#free-history{
  margin-top: var(--box-v-gap);
}


/* // History
---------------------------------------------------------------------------------------------------- */
#history {
  margin-top: var(--box-v-gap);
}
#history table thead th.num    { width:   2em; } /* No. */
#history table thead th.date   { width: 5.2em; } /* 日付 */
#history table thead th.title  { width:  auto; } /* タイトル */
#history table thead th.exp    { width: 4.6em; } /* 経験点 */
#history table thead th.money  { width: 4.5em; } /* ガメル */
#history table thead th.honor  { width:   3em; } /* 名誉点 */
#history table thead th.grow   { width: 3.5em; } /* 成長 */
#history table thead th.gm     { width:  auto; } /* ＧＭ */
#history table thead th.member { width:  auto; } /* 参加者 */

#history table tr td.money {
  text-align: right;
}
#history table tr td.money::after {
  content: "G";
  margin-left: 2px;
  font-size: 1.1rem;
}
#history table tr td.money:empty::after {
  content: "";
}
#history table tr td:is(.gm, .member) {
  font-size: 1.1rem;
}

#history table tfoot tr td.grow::after {
  content: "回";
  margin-left: 2px;
  font-size: 1rem;
}

/* // Cashbook
---------------------------------------------------------------------------------------------------- */
#cashbook {
  margin-top: var(--box-v-gap);
  height: max-content;
  overflow: hidden;
}
#cashbook > div {
  max-height: 16em;
  overflow: auto;
}
#cashbook p {
  line-height: 1.5;
  white-space: pre-wrap;
}
#cashbook b.cash {
  padding: 2px 0;
  font-weight: normal;
  background: linear-gradient(to top, rgba(0,100,255,0.5) 0rem, rgba(0,100,255,0.3) .5rem, transparent .5rem);
}
#cashbook b.cash.plus {
  background: linear-gradient(to top, rgba(0,255,100,0.5) 0rem, rgba(0,255,100,0.3) .5rem, transparent .5rem);
}
#cashbook b.cash.minus {
  background: linear-gradient(to top, rgba(255,100,0,0.5) 0rem, rgba(255,100,0,0.3) .5rem, transparent .5rem);
}

/* // Fellow
---------------------------------------------------------------------------------------------------- */
#fellow #personal-area {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-gap: var(--box-v-gap);
  grid-template-columns: 100px 1.1fr 0.3fr 0.6fr;
  grid-template-rows: auto;
  
  grid-template-areas:
    " LVL NAME  IMG  IMG"
    " LVL  PLN  IMG  IMG"
    "RACE RACE  IMG  IMG"
    " PER  PER  IMG  IMG"
    " CLS  CLS  IMG  IMG"
    "LANG LANG  IMG  IMG"
    "NOTE NOTE  IMG  IMG"
    "NOTE NOTE   MP CHCK"
  ;
}
#f-image-none,
#f-image          { grid-area: IMG; }
#f-level          { grid-area: LVL; }
#f-character-name { grid-area: NAME; }
#f-player-name    { grid-area: PLN; }
#f-race           { grid-area: RACE; }
#f-personal       { grid-area: PER; }
#f-classes        { grid-area: CLS ; }
#f-language       { grid-area: LANG; }
#f-mp             { grid-area: MP; }
#f-note           { grid-area: NOTE; }
#f-checkboxes     { grid-area: CHCK; }


#f-image-none,
#f-image          {
  max-height:546px;
}

#fellow #f-level {
  margin: 0 auto;
  width: 52px;
  height: 86px;
  display: block;
  position: relative;
  border-bottom: 0px !important;
}
#fellow #f-level dd {
  width: 100%;
  height: 90px;
  line-height: 80px;
  color: var(--text-color);
  text-align: center;
  font-size: 2.5rem;
  display: block;
  position: relative;
  z-index: 1;
  border-width: 2px 0px;
  border-style: solid;
  border-color: var(--box-outside-border-color);
}
#fellow #f-level::before,
#fellow #f-level::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  border-width: 2px 0px;
  border-style: solid;
  border-color: var(--box-outside-border-color);
}
#fellow #f-level::before {
  transform: rotate(60deg);
}
#fellow #f-level::after {
  transform: rotate(-60deg);
}
#fellow #f-level dt {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
#fellow dl {
  border-bottom: 1px solid var(--box-outside-border-color);
  font-size: 1.15em;
}
#fellow dd {
  line-height: 1.3;
}
#fellow dd {
  font-size: 1.8rem;
}

#f-character-name,
#f-player-name {
  margin-left: .5em;
}
#f-character-name dd,
#f-player-name dd {
  text-align: center;
}
#f-character-name dd {
  font-size: 2rem;
}

#f-race,
#f-personal,
#f-classes,
#f-language {
  display: flex;
  justify-content:space-between;
  text-align: left;
  align-items: flex-start;
}
#f-race dt,
#f-personal dt {
  width: 3.1em;
  white-space: nowrap;
}
#f-classes dt,
#f-language dt {
  width: 2.1em;
  white-space: nowrap;
}
#f-race dd,
#f-personal dd,
#f-classes dd,
#f-language dd {
  flex-grow: 1;
}

#f-classes span:not(.priest-faith),
#f-language span {
  display: inline-block;
  margin-left: 1em;
}

#f-classes,
#f-language {
  min-height: 80px;
}

#f-note {
  min-height: 250px;
}
#f-mp dt {
  white-space: nowrap;
}
#f-mp dd {
  text-align: center;
  font-size: 130%;
  line-height: 1;
}

#f-checkboxes dl {
  display: flex;
  max-width: 14em;
  margin-left: auto;
}
#f-checkboxes dt::after {
  content:':';
  position: absolute;
  right: -.5em;
}
#f-checkboxes dt,
#f-checkboxes dd {
  position: relative;
  width: 4em;
  margin-right: 1em;
  white-space: nowrap;
}

#fellow-actions {
  width: 100%;
  margin-top: 1.5rem;
  border: 1px solid;
  border-color: var(--box-outside-border-color);
}
#fellow-actions th {
  border-bottom: 1px solid;
  border-color: var(--box-outside-border-color);
  white-space: nowrap;
}
#fellow-actions td {
  border-bottom: 1px solid;
  border-right: 1px dotted;
  border-color: var(--box-outside-border-color);
  padding: .2rem .5rem;
}

#fellow-actions td[rowspan]{
  width: 2em;
  font-size: 2rem;
  white-space: normal;
  text-align: center;
}
#fellow-actions td.number {
  width: 2.5em;
  font-size: 2rem;
  text-align: center;
}
#fellow-actions td:nth-last-child(2){
  width: 3em;
  font-size: 2rem;
  text-align: center;
}

#fellowNote {
  margin-top: 1.5rem;
}

@media screen and (max-width:735px){
  #fellow #personal-area {
    grid-template-areas:
      " LVL NAME NAME NAME"
      " LVL  PLN  PLN  PLN"
      "RACE RACE  IMG  IMG"
      " PER  PER  IMG  IMG"
      " CLS  CLS  IMG  IMG"
      "LANG LANG  IMG  IMG"
      "NOTE NOTE  IMG  IMG"
      "NOTE NOTE   MP CHCK"
    ;
  }

  #fellow #f-level {
    width: 46px;
    height: 76px;
}
  #fellow #f-level dd {
    height: 80px;
    line-height: 70px;
    font-size: 2.5rem;
}
  #f-image-none,
  #f-image          {
    max-height: 35rem;
  }
  #f-note {
    min-height: 6rem
  }
}