@charset "utf-8";

/* // キャラクター
---------------------------------------------------------------------------------------------------- */
#regulation {
  margin: 10px 0;
  overflow-y: auto;
}
#regulation > dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  grid-template-rows: auto;
  margin: 10px 0;
}
#sw2\.0 #regulation > dl {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr;
}
#regulation dl dt {
  grid-row: 1 / 2;
}
#regulation dl dd {
  grid-row: 2 / 3;
  font-size: 1.2rem;
}
#regulation dl#regulation-grow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width:735px){
  #regulation > dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 10px 0;
  }
  #sw2\.0 #regulation > dl {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #regulation > dl > dt:last-of-type {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  #regulation > dl > dd:last-of-type {
    grid-column: 1 / span 3;
    grid-row: 4;
  }
}

#area-status {
  grid-template-columns: 0.6fr 0.5fr 1.6fr 1.8fr;
}

@media screen and (max-width:735px){
  #area-status {
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px 5px;

    grid-template-areas:
      "IMG  IMG "
      "PER  PER "
      "STT  STT "
      "STT  STT "
      "sSTT sSTT"
      "EXP  LVL "
    ;
  }
  dl#level dt::after {
    content:''
  }
  dl#exp br {
    display: none;
  }
}

#personal dl#race         { flex-basis: 58%; order: 1; }
#personal dl#gender       { flex-basis: 20%; order: 2; }
#personal dl#age          { flex-basis: 20%; order: 3; }
#personal dl#race-ability { flex-basis: 85%; order: 4; }
#personal dl#birth        { flex-basis: 30%; order: 6; }
#personal dl#faith        { flex-basis: 69%; order: 7; }
#personal dl#sin          { flex-basis: 14%; order: 5; }
#personal dl#race-ability select {
  width: auto;
}

#status dl[id^="stt-add"]::before {
  left: -.6rem;
}
#status dl#stt-pointbuy-type {
  grid-column: span 2;
}
@media screen and (max-width:735px){
  #status {
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.8fr 1fr;
  }
  #status dl.box {
    overflow-x: visible;
  }
  #status dl dt {
    font-size: 2rem;
  }
  #status dl#stt-pointbuy-TPS dt,
  #status dl#stt-pointbuy-AtoF dt {
    font-size: 1.8rem;
  }
  #status dl#stt-pointbuy-type {
    grid-column: span 3;
  }
  #status dl dd input[type="number"] {
    min-width: 2em;
  }
}

#sub-status input,
#mobility input {
  width: 3.5em;
}

#area-ability {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
#area-ability > * {
  margin-bottom: 1rem;
  margin-left: 0;
}
#area-ability > p {
  flex-basis: 100%;
}

#area-classes {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
#area-classes.common-classes-off {
  flex-basis: calc(66% - 1rem);
  margin-right: 1rem;
}

#classes {
  flex-basis: 66%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}
#classes h2 {
  flex-basis: 100%;
}
#common-classes {
  flex-grow: 1;
  margin: 0 0 0 1rem !important;
}

#classes dl {
  flex-grow: 1;
  flex-basis: calc(50% - 10px);
  grid-template-columns: 1fr 3.5em;
}
#classes dl dt {
  font-size: inherit;
}
#common-classes td:last-child {
  width: 3.5em;
}
@media screen and (max-width:735px){
  #area-classes {
    display: block;
  }
  #status dl:nth-child(n+16):nth-child(-n+21) dd {
    transform: none;
    font-size: 1.25em;
  }
  #classes {
    width: 100%;
  }
  #classes dl {
    grid-template-columns: 1fr 5em;
  }
  #common-classes {
    margin: 1rem 0 0 !important;
  }
  #common-classes td:last-child {
    width: 5em;
  }
}
#classes dl select {
  font-size: 80%;
}

#combat-feats {
  margin-left: 0 !important;
}
#combat-feats select {
  margin-left: 1em;
  width: calc(100% - 4px - 1em);
}
#combat-feats #combat-feat-vagrants-auto li {
  display: grid;
  grid-template-columns: 5em auto;
}
#combat-feats #combat-feat-vagrants-auto li::before {
  content: attr(data-label);
  align-self: end;
  text-align: right;
  white-space: nowrap;
  font-size: 90%;
}
#combat-feats #combat-feat-vagrants-auto li select {
  margin-left: 5px;
  width: calc(100% - 4px - 5px);
}
#combat-feats .feats-options {
  margin: .3rem .5em;
  border-width: 0 0 1px;
  border-style: solid;
}
#combat-feats .feats-options h6 {
  font-size: 85%;
}
#combat-feats .feats-options li {
  display: inline-block;
  border: none;
  font-size: 90%;
  line-height: 1;
}
#combat-feats .feats-options li input {
  margin-right: .5em;
}
#combat-feats > p:last-child {
  font-size: 90%;
}

#mystic-arts {
  position: relative;
}
#mystic-arts h2 + div {
  position: absolute;
  top: .2rem;
  right: .5em;
  font-size: 80%;
}
#mystic-arts h2 + div span {
  font-size: 120%;
}
#mystic-arts ul li {
  display: grid;
  grid-template-columns: max-content 1fr 4em;
  grid-template-rows: auto;
}
#sw2\.0 #mystic-arts ul li {
  grid-template-columns: max-content 1fr 6em;
}
#sw2\.0 #mystic-arts ul li .honor-pt {
  margin: 2px;
}
#sw2\.0 #mystic-arts ul li .honor-pt input {
  margin-right: 0;
}
#mystic-arts ul li .handle {
  width: 1.2em;
  margin-left: -.5rem;
}

#crafts {
  flex-basis: 66%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#crafts > .box {
  flex-basis: calc(50% - 1rem);
  margin: 0 0 1rem 1rem !important;
}
#area-classes.common-classes-off + div + #crafts > .box {
  flex-basis: calc(33% - 1rem);
}
#area-classes.common-classes-off + div + #crafts > .box:first-child {
  margin-left: 0 !important;
}
@media screen and (max-width:735px){
  #area-classes.common-classes-off + div + #crafts > .box {
  flex-basis: calc(50% - 1rem);
  }
}
#crafts > .box ul {
  margin-bottom: -1px;
}
#crafts > .box ul li:last-child {
  padding-bottom: 1px;
}
@media screen and (max-width:735px){
  #crafts {
    display: block;
  }
  #crafts > .box {
    margin: 0 0 1rem !important;
  }
}


#area-status + p {
  margin-top: 1rem;
}

#area-package #package table {
  margin-top: 1px;
  margin-bottom: -1px;
}
#package table tr:first-child th:first-child {
  width: 10em;
}
#package table tr td:nth-last-child(2) input {
  width: calc(100% - 1em);
}


#language dl {
  display: grid;
  grid-template-columns: auto 3em 3em;
  grid-template-rows: auto;
  
  margin: 0 5px;
}
#language dl dt {
  font-weight: normal;
}
#language dl dd {
  text-align: center;
}
#language table td {
  vertical-align: bottom;
}
#language table td.handle::before {
  display: block;
  width: 1.2em;
  margin-left: -.5rem;
  text-align: center;
}
#language table tr > *:nth-last-child(-n+2) {
  width: 3em;
  position: relative;
}
#language table#language-table td select,
#language table#language-table td .lang-select-view {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 1px;
  height: auto;
  cursor: pointer;
}
#language table#language-table td select {
  appearance: none;
  opacity: 0;
}
#language table#language-table td .lang-select-view {
  display: block;
  margin: 1px 1px 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: var(--box-input-border-color);
  border-radius: 5px;
  font-size: 85%;
  pointer-events: none;
}
#language select + .lang-select-view { background: var(--input-bg-color); }
#language select option[value="auto"],
#language select[data-type="auto"] + .lang-select-view { background: #00ccff22; }
#language select[data-type="auto"] + .lang-select-view::before { content: '自動'; }
#language select option[value="Sag"],
#language select[data-type="Sag"] + .lang-select-view { background: #55ff0033; }
#language select[data-type="Sag"] + .lang-select-view::before { content: 'セージ'; }
#language select option[value="Bar"],
#language select[data-type="Bar"] + .lang-select-view { background: #ffaa0033; }
#language select[data-type="Bar"] + .lang-select-view::before { content: 'バード'; }
#language select option[value="listen"],
#language select[data-type="listen"] + .lang-select-view { background: #77777722; }
#language select[data-type="listen"] + .lang-select-view::before { content: '△'; }
#language #language-notice {
  background: #ff000033;
  padding: .3em .5em;
  border-radius: 5px;
  font-size: 88%;
  line-height: 1.3;
}
#language #language-notice:empty {
  display: none;
}
@media screen and (max-width:735px){
  #area-actions {
    display: block;
  }
  #area-actions .box {
    margin: 1rem 0 0;
  }
}

#magic-power {
  min-width: 10em;
}
#magic-power table {
}
#magic-power table td input[type=number] {
  width: 3.5em;
}
#magic-power a {
  font-size: 90%;
}
#magic-power #fairycontact {
  display: flex;
  margin: 0 -.2em;
  border-width: .1rem 0 0;
  border-style: solid;
}
#magic-power #fairycontact label {
  padding: .2em;
}
#magic-power #fairycontact label input[type="checkbox"] {
  width: auto;
  margin-right: .2em;
  border: 0;
  vertical-align: middle;
  transform: scale(1.1);
}
#magic-power #fairycontact label span {
  padding: .2em 0;
  font-size: 85%;
}
#magic-power #fairycontact label input[type="number"] {
  width: 2em;
  border: 0;
  vertical-align: middle;
  transform: scale(1.1);
}
#magic-power table td:nth-child(3) {
  padding-left : .5em;
  padding-right: .5em;
  border-width: 0 1px;
  border-style: none dotted;
  font-size: 85%;
  text-align: left;
}
#magic-power table td:nth-child(3) input {
  vertical-align: text-bottom;
}
#magic-power table td:nth-child(3) label {
  line-height: 1;
}
#magic-power table td:nth-child(4),
#magic-power table td:nth-child(5),
#magic-power table td:nth-child(6) {
  width: max-content !important;
  padding-right: .2em;
  text-align: left;
}
#magic-power table td b {
  display: inline-block;
  min-width: 2.5em;
  padding-right : .2em;
  line-height: 1.6;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}
#magic-power #magic-power-hr td {
  height: .5em;
}
@media screen and (max-width:735px){
  #magic-power {
    width: 100%;
    overflow-x: auto;
  }
  #magic-power table {
    margin-top: -.5em;
    table-layout: fixed;
  }
  #magic-power thead th:nth-child(2) { width: 7.5em; } /* 魔法名 */
  #magic-power thead th:nth-child(3) { width:   6em; } /* 専用 */
  #magic-power thead th:nth-child(4) { width: 8.5em; } /*  */
  #magic-power thead th:nth-child(5) { width: 8.5em; } /*  */
  #magic-power thead th:nth-child(6) { width: 9.5em; } /*  */

  #magic-power table tr > *:nth-child(1) {
    display: none;
  }
  #magic-power table thead th:nth-child(2) {
    visibility: hidden;
  }
  #magic-power table tr td:nth-child(3) {
    white-space: nowrap;
  }
  #magic-power #fairycontact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #magic-power table td input[type=number] {
    width: 2.5em;
  }
}

#classes dl dt.zero-data,
option.zero-data {
  background-color: rgba(0,200,255,0.2);
}
#classes dl dt.zero-data {
  font-family: 'Arial';
}
option.zero-data::before {
  content: '★';
}

#attack-classes {
  width: calc(25% + 24.7em + 1px);
}
#weapons {
  width: 100%;
}
#weapons table {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#weapons table td {
  font-size: 90%;
  vertical-align: top;
}
#weapons table td:last-child {
  padding: 0;
  border-right: 0;
  vertical-align: middle;
}
#weapons table td b {
  display: inline-block;
}
#weapons table td b::before {
  content: '=';
  margin-right: .2rem;
}
#weapons td input[name$="Acc"],
#weapons td input[name$="Dmg"] {
  width: 3.5em;
}
#weapons td input[type="checkbox"] {
  vertical-align:bottom;
}
#weapons .annotate {
  text-align: center;
}
#weapons td span.handle {
  display: block;
  width: 2em;
  line-height: 2.2;
  margin-right: auto;
}
#weapons td:last-child span[onclick] {
  padding: 7px 5px;
}
#weapons thead th:nth-child(2) { width: 4.2em; } /* 用法 */
@media screen and (max-width:735px){
  #attack-classes {
    overflow-x: auto;
  }
  #attack-classes table {
    table-layout: fixed;
  }
  #attack-classes thead th:nth-child(1) { width:  17em; } /* 名前 */
  #attack-classes thead th:nth-child(2) { width:   4em; } /* 必筋 */
  #attack-classes thead th:nth-child(3) { width: 5.5em; } /* 命中 */
  #attack-classes thead th:nth-child(4) { width:   4em; } /* 威力 */
  #attack-classes thead th:nth-child(5) { width:   4em; } /* Ｃ値 */
  #attack-classes thead th:nth-child(6) { width: 5.5em; } /* 追加Ｄ */
  
  #weapons {
    overflow-x: auto;
  }
  #weapons table {
    table-layout: fixed;
  }
  #weapons thead th:nth-child(1) { width:  12em; } /* 名前 */
  #weapons thead th:nth-child(2) { width:   5em; } /* 用法 */
  #weapons thead th:nth-child(3) { width:   4em; } /* 必筋 */
  #weapons thead th:nth-child(4) { width: 5.5em; } /* 命中 */
  #weapons thead th:nth-child(5) { width:   4em; } /* 威力 */
  #weapons thead th:nth-child(6) { width:   4em; } /* Ｃ値 */
  #weapons thead th:nth-child(7) { width: 5.5em; } /* 追加Ｄ */
  #weapons thead th:nth-child(8) { width: 1.4em; } /* 専用 */
  #weapons thead th:nth-child(9) { width:  10em; } /* カテゴリ */
  #weapons thead th:nth-child(10){ width:  10em; } /* 技能 */
}

#armours .defense-total th label {
  display: inline-block;
}
#armours .defense-total th label input + span {
  opacity: 0.5;
  font-size: 90%;
}
#armours .defense-total th label input:checked + span {
  opacity: 1;
}
@media screen and (max-width:735px){
  #evasion-classes {
    width: auto;
  }
  #evasion-classes thead th:nth-child(1) { width:14.5em; } /* 名前 */
  #evasion-classes thead th:nth-child(2) { width:   4em; } /* 必筋 */
  #evasion-classes thead th:nth-child(3) { width:   4em; } /* 回避 */
  #evasion-classes thead th:nth-child(4) { width:   4em; } /* 防護 */
  #armours {
    overflow-x: auto;
  }
  #armours table {
    min-width: 0;
    table-layout: fixed;
  }
  #armours thead th:nth-child(1) { width: 2.5em; } /* 種別 */
  #armours thead th:nth-child(2) { width:  12em; } /* 名前 */
  #armours thead th:nth-child(3) { width:   4em; } /* 必筋 */
  #armours thead th:nth-child(4) { width:   4em; } /* 回避 */
  #armours thead th:nth-child(5) { width:   4em; } /* 防護 */
  #armours thead th:nth-child(6) { width: 1.5em; } /* 専用 */
  #armours thead th:nth-child(6) { width: 1.5em; } /* 専用 */
  #armours thead th:nth-child(7) { width:  16em; } /* 備考 */
}

#accessories thead th:nth-child(1) { width: 1.5em; } /*  */
#accessories thead th:nth-child(2) { width: 2.5em; } /* 種別 */
#accessories thead th:nth-child(3) { width:   25%; } /* 名前 */
#accessories thead th:nth-child(4) { width: 4.5em; } /* 専用 */
#accessories thead th:nth-child(5) { width:  auto; } /* 備考 */
#accessories tbody th {
  cursor: ns-resize;
}
#accessories tbody tr:nth-child(6n+1),
#accessories tbody tr:nth-child(6n+2),
#accessories tbody tr:nth-child(6n+3) {
  background-color: transparent;
}
#accessories tbody tr:nth-child(6n+4),
#accessories tbody tr:nth-child(6n+5),
#accessories tbody tr:nth-child(6n+6) {
  background-color: var(--box-even-rows-bg-color);
}
@media screen and (max-width:735px){
  #accessories {
    overflow-x: auto;
  }
  #accessories table {
    min-width: 0;
    table-layout: fixed;
  }
  #accessories thead th:nth-child(1) { width: 1.5em; } /* ✔ */
  #accessories thead th:nth-child(2) { width: 2.5em; } /* 種別 */
  #accessories thead th:nth-child(3) { width:  12em; } /* 名前 */
  #accessories thead th:nth-child(4) { width: 4.5em; } /* 専用 */
  #accessories thead th:nth-child(5) { width:  16em; } /* 備考 */
  
  #accessories tbody td:nth-child(4) { padding-left: 0; } /* 専用 */
}


@media screen and (max-width:735px){
  #area-items {
    flex-direction: column;
  }
  div#area-items-R {
    margin-left: 0;
  }
}

#money input {
  width: calc(100% - 3em);
}

#items textarea {
  height: 20em;
}

#cashbook textarea {
  height: 16em;
}
#cashbook-total-value {
  font-size: 120%;
  font-weight: bold;
}
#cashbook p {
  font-size: 90%;
  font-family: inherit;
  white-space: normal;
  text-align: left;
}


#battle-items ul li {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
}
#battle-items ul li::before {
  left: 0;
  pointer-events: none;
}
#battle-items ul li .handle {
  display: inline-block;
  width: 1.8em;
  margin-left: calc(-1em - .2rem);
  text-align: right;
}


.honor-items table td.handle::before {
  display: block;
  width: 1.4em;
  margin: 0 -.5rem;
  text-align: center;
}
.honor-items > p:nth-last-child(1) {
  font-size: 90%;
  border-width: 1px 0 0;
  border-style: dotted;
}
#sw2\.0 .honor-items td:last-child {
  position: relative;
  width: 6.5em;
}
#sw2\.0 .honor-pt {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  position: relative;
  white-space: nowrap;
}
#sw2\.0 .honor-pt select,
#sw2\.0 .honor-pt .honor-select-view {
  grid-column: 1;
  grid-row: 1;
  width: calc(1.5em + 1px);
  min-width: calc(1.5em + 1px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}
#sw2\.0 .honor-pt select {
  appearance: none;
  opacity: 0;
}
#sw2\.0 .honor-pt .honor-select-view {
  display: grid;
  border-width: 1px;
  border-style: solid;
  border-color: var(--box-input-border-color);
  border-radius: 5px;
  pointer-events: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  place-items: center;
  line-height: 1;
}
#sw2\.0 .honor-pt .honor-select-view::before {
  font-size: 85%;
}
#sw2\.0 select + .lang-select-view { background: var(--input-bg-color); }
#sw2\.0 select option[value="human"],
#sw2\.0 select[data-type="human"] + .honor-select-view { background: #00ccff22; }
#sw2\.0 select[data-type="human"] + .honor-select-view::before { content: '人'; }
#sw2\.0 select option[value="barbaros"],
#sw2\.0 select[data-type="barbaros"] + .honor-select-view { background: #ffaa0033; }
#sw2\.0 select[data-type="barbaros"] + .honor-select-view::before { content: '蛮'; }
#sw2\.0 select option[value="dragon"],
#sw2\.0 select[data-type="dragon"] + .honor-select-view { background: #55ff0033; }
#sw2\.0 select[data-type="dragon"] + .honor-select-view::before { content: '竜'; }
#sw2\.0 .honor-pt input {
  grid-column: 2;
  width: auto;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.battle-items ul li.fail::before {
  content: '✖';
  opacity: 0.8;
}

#free-note,
#free-history {
  padding-bottom: .3rem;
}
#free-note textarea,
#free-history textarea {
  height: 18em;
}

#history{
  overflow-x: auto;
  overflow-y: hidden;
}
#history table {
  width: calc(100% - 1px);
}
#history table thead th:nth-child(1) { width: 1.4em; }
#history table thead th:nth-child(2) { width:   6em; } /* 日付 */
#history table thead th:nth-child(3) { width:  12em; } /* タイトル */
#history table thead th:nth-child(4) { width:   5em; } /* 経験点 */
#history table thead th:nth-child(5) { width: 3.5em; } /* 名誉点 */
#history table thead th:nth-child(5).zero-data { width: 5em; } /* 名誉点 */
#history table thead th:nth-child(6) { width: 4.5em; } /* ガメル */
#history table thead th:nth-child(7) { width: 4.5em; } /* 成長 */
#history table thead th:nth-child(8) { width:   6em; } /* ＧＭ */
#history table thead th:nth-child(9) { width:  auto; } /* 参加者 */
@media screen and (max-width:735px){
  #history table  { table-layout: fixed; }
  #history table thead th:nth-child(3) { width: 12em; } /* タイトル */
  #history table thead th:nth-child(9) { width: 16em; } /* 参加者 */
}

#history table thead td {
  padding: 1px;
  border-width: 1px;
  border-style: solid dotted;
  font-size: inherit;
}

#history table tbody td {
  border: 0;
  padding: .4rem 0 .1rem !important;
  vertical-align: top;
}
#history table tbody td:nth-child(6)::after {
  margin: 0 2px 0 -1px;
  font-size: 1.1rem;
}
#history table tbody td:nth-child(6) input {
  width: calc(100% - 0.9em);
}
#history table tbody td.handle {
  vertical-align: middle;
}
#history table tbody td.left {
  padding: 0 0 .4rem !important;
  border-top: hidden;
}
#history table tfoot th {
  vertical-align: top;
}
#history table tfoot #history-grow-total {
  display: block;
  font-size: 85%;
  font-weight: normal;
  line-height: 1;
}

#history .annotate {
  width: 70%;
  margin: auto 3px auto auto;
}

article > form > hr {
  margin: 5rem 0px;
  border-width: 1px 0 0;
  border-style: solid;
}

#f-public,
#f-checkboxes {
  width: 16em;
  margin-top: 1rem;
  padding: .5em;
}

#f-profile {
  margin-top: 1rem;
}
#f-profile textarea {
  height: 10em;
}

#f-actions {
  margin-top: 1rem;
}
#f-actions table {
  margin-top: 1rem;
}
#f-actions table {
  width: 100%;
}
#f-actions table tr.border-top {
  border-width: 1px 0 0;
  border-style: solid;
}
#f-actions table th {
  white-space: nowrap;
}
#f-actions td[rowspan]{
  width: 2em;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}
#f-actions td.number {
  width: 2.5em;
  font-size: 2rem;
  text-align: center;
}
#f-actions td:nth-last-child(2){
  width: 3.5em;
}

#f-note {
  min-height: auto;
  margin-top: 1rem;
}
#f-note textarea {
  height: 10em;
}

#deleteform {
  margin-top: 5rem;
  padding-top: 5rem;
  border-width: 1px 0 0;
  border-style: solid;
  text-align: right;
}

#deleteform input[type="submit"] {
  margin-left: .5rem;
  padding: .3rem .5rem;
}



/* // モンスター
---------------------------------------------------------------------------------------------------- */
form#monster div.box {
  margin: 1rem 0;
  overflow-x: auto;
}
form#monster .box h2 {
  font-size: 100%;
}
form#monster #area-name {
  font-weight: bold;
}
form#monster #monster-name {
  flex-grow: 1;
}
form#monster #monster-name input {
  width: calc(100% - 3em);
}
form#monster div.status dl {
  margin: .5rem 0;
}
form#monster div.status input[name="lv"],
form#monster div.status input[name="sin"],
form#monster div.status input[name^="reputation"],
form#monster div.status input[name="initiative"],
form#monster div.status input[name*="Resist"] {
  width: 5em;
}
form#monster div.status input[name="language"] {
  width: 25em;
}
@media screen and (max-width:735px){
  form#monster div.status input[name="language"] {
    width: 18em;
  }
}

form#monster table.status {
  border-width: 0;
}
form#monster table.status thead th:nth-child(1) { width: 1.4em; }
form#monster table.status thead th:nth-child(2) { width: auto; }
form#monster table.status thead th:nth-child(3) { width: 12%; }
form#monster table.status thead th:nth-child(4) { width: 12%; }
form#monster table.status thead th:nth-child(5) { width: 12%; }
form#monster table.status thead th:nth-child(6) { width: 12%; }
form#monster table.status thead th:nth-child(7) { width: 12%; }
form#monster table.status thead th:nth-child(8) { width: 12%; }

form#monster table.status tr {
  border-right: hidden;
}
form#monster table.status th {
  background: transparent;
}
form#monster table.status td {
  white-space: nowrap;
}
form#monster table.status td:first-child {
  border-left: 0;
}
form#monster table.status input {
  width: calc(100% - 1.8em);
}
form#monster table.status input[name$="Style"] {
  width: calc(100% - 4px);
}
form#monster div.parts input {
  width: auto;
}
form#monster div.parts input[name="partsNum"] {
  width: 5em;
}
@media screen and (max-width:735px){
  form#monster table.status { width: 50em; }
  form#monster div.parts dl { display: block; }
}

form#monster textarea[name="skills"] + .annotate code {
  font-size: 100%;
  font-family: monospace,serif;
}

form#monster textarea[name="skills"] {
  height: 16em;
  padding: 2px;
}

form#monster textarea[name="description"] {
  height: 16em;
  padding: 2px;
}
form#monster div#loots-list {
  display: grid;
  grid-template-columns: 7em auto;
  white-space: nowrap;
}
form#monster div#loots-list ul li {
  border-width: 1px 0;
  border-style: solid;
}
form#monster div#loots-list ul li + li {
  border-top-width: 0;
}
form#monster div#loots-list .handle {
  display: inline-block;
  widows: 1.4em;
}
form#monster div#loots-list input {
  width: calc(100% - 1.4em - 2px);
}
form#monster ul#loots-num {
  background-color: rgba(127,127,127,0.3);
}

/* // アイテム
---------------------------------------------------------------------------------------------------- */
form#item div.box {
  margin: 1rem 0;
  overflow-x: auto;
}
form#item div.box {
  margin: 1rem 0;
}
form#item #area-name {
  font-weight: bold;
}
form#item #item-name {
  flex-grow: 1;
}
form#item #item-name input {
  width: calc(100% - 1em);
}
form#item #group dl {
  display: grid;
  grid-template-columns: 2.5em 1fr;
  grid-template-rows: auto;
}
form#item div.input-data {
  padding: 1rem;
}
form#item div.input-data div {
  display: flex;
  flex-wrap: wrap;
}
form#item div.input-data dl {
  display: flex;
  margin-right: 1.5em;
}
@media screen and (max-width:735px){
  form#item div.input-data dl {
    display: block;
  }
}
form#item div.input-data dl dt {
  position: relative;
  width: 6em;
  margin-right: 1em;
  text-align-last: justify;
}
form#item div.input-data dl dt::after {
  content: ':';
  position: absolute;
  display: inline-block;
  width: 1em;
  text-align: center;
  font-weight: normal;
}
form#item div.input-data dl dd {
  flex-grow: 1;
  text-align: left;
}
form#item div.input-data dl dd input {
  max-width: 14em;
}
form#item div.input-data dl dd input[name="reputation"] {
  width: 6em;
}
form#item div.input-data dl dd input[name="shape"] {
  max-width: 26em;
}
form#item div.input-data dl dd input[name="summary"] {
  max-width: 100%;
}
form#item .input-weapon-data,
form#item .input-armour-data {
  width: 100%;
}
form#item .input-weapon-data td,
form#item .input-armour-data td {
  width: 5em;
}
form#item .input-weapon-data td:last-child,
form#item .input-armour-data td:last-child {
  width: auto;
}

form#item .input-data label {
  border-width: 1px;
  border-style: solid;
  border-radius: .5em;
  padding: .1em .3em;
  cursor: pointer;
}
form#item .input-data label input {
}
form#item .input-data label input:checked + span {
  font-weight: bold;
}

form#item textarea[name="effects"] {
  height: 16em;
  padding: 2px;
}
form#item textarea[name="description"] {
  height: 16em;
  padding: 2px;
}


