@charset "utf-8";

/* ゆとシートⅡ for SW2.5 - リスト */

/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-first.png);
}
@media screen and (max-width:735px){
  body {
    background-size: auto, 80%;
  }
}
/* // List
---------------------------------------------------------------------------------------------------- */
.list table tr {
    grid-template-columns: 28rem 0.7fr 0.5fr 0.3fr 2em 0.7fr 1.2fr 0.7fr;
    grid-template-areas:
      "NAME PL RACE RACE RANK RANK CLS DATE"
      "NAME PL  AGE  GEN  LVL  EXP CLS DATE"
    ;
}
.list table .name   { grid-area: NAME; }
.list table .player { grid-area:   PL; }
.list table .race   { grid-area: RACE; }
.list table .age    { grid-area:  AGE; }
.list table .gender { grid-area:  GEN; }
.list table .rank   { grid-area: RANK; }
.list table .lv     { grid-area:  LVL; }
.list table .exp    { grid-area:  EXP; }
.list table .class  { grid-area:  CLS; }
.list table .date   { grid-area: DATE; }

.list table .name {
  position: relative;
}
.list table .name small.fellow {
  position: absolute;
  right: 0;
  bottom: .1rem;
  font-size: 80%;
  line-height: 1;
  font-weight: normal;
}
.list table td.lv {
  font-size: 1.15em;
  line-height: 1;
}
.list table td.race {
}
.list table td.class {
  text-align: left;
  font-size: 80%;
}
.list table td.race > div {
  flex-grow: 1;
  margin: 0 -6%;
  transform: scaleX(0.88);
}
.list table td.class > div {
  flex-grow: 1;
  margin: 0 calc(-6% + -1em) 0 -6%;
  transform: scaleX(0.88);
}
.list table td.class > div > span {
  display: inline-block;
  margin-right: 1em;
}
@media screen and (max-width:735px){
  .list table tr {
    grid-template-columns: 18rem 6em 0.6fr 2.8em 0.8fr 8em 4em;
    grid-template-areas:
      "NAME PL RACE RACE EXP CLS DATE"
      "NAME PL  AGE  GEN EXP CLS DATE"
    ;
  }
  .list table .rank,
  .list table .lv { display: none; }
}

/* // List-Simple/Monster
---------------------------------------------------------------------------------------------------- */
.list ul li a::before {
  content: 'Lv'attr(data-lv);
}

/* // List-Item
---------------------------------------------------------------------------------------------------- */
.list.item table tr {
    display: grid;
    grid-template-columns: 24rem 0.5fr 0.6fr 6em 1fr 0.4fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NAME AUTHOR CATEGORY PRICE SUMMARY DATE"
    ;
}
.list.item table .name    { grid-area: NAME; }
.list.item table .author  { grid-area: AUTHOR; }
.list.item table .category{ grid-area: CATEGORY; }
.list.item table .price   { grid-area: PRICE; }
.list.item table .summary { grid-area: SUMMARY; }
.list.item table .date    { grid-area: DATE; }
.list.item table td.name a {
  font-size: 1.4rem;
}
.list.item table td.category,
.list.item table td.summary {
  font-size: 1.2rem;
}
/* アイテムアイコン */
.i-icon {
  width: 1em;
  height: 1em;
}

/* // List-Making
---------------------------------------------------------------------------------------------------- */
#making {
  max-width: 400px;
  margin: 3em auto;
}
#making form dl {
  display: grid;
  grid-template-columns: 5em 1fr;
}
#making form dl dt {
  text-align: justify;
  text-align-last: justify;
}
#making form dl dt,
#making form dl dd {
  padding: 0.2em 0.5em;
  border-width: 0 0 1px;
  border-style: solid;
}
#making form dl dd:nth-of-type(2) input {
  width: 100%;
}
#making form dl dd:nth-of-type(3) input {
  width: 4.5em;
  text-align: center;
}

#making-posts h2 {
  text-align: center;
}
#making-posts .post {
  max-width: 500px;
  margin: .5em auto 1.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
}
#making-posts .post h3 {
  padding: 0.1em 0.3em;
  background: rgba(100,120,190,0.25);
}
#making-posts .post p {
  padding: 0.5em 1.5em
}
#making-posts .post dl {
  margin: .5em;
}
#making-posts .post dt {
}
#making-posts .post dd {
  margin: 0 .5em .5em;
}
#making-posts .post table {
  min-width: 400px;
  margin: .5em auto 1.5em;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
#making-posts .post table tr {
  border-width: 1px;
  border-style: solid;
}
#making-posts .post table th {
  position: relative;
  padding: 0.2em 0.5em;
  background: rgba(100,120,190,0.15);
  text-align: left;
}
#making-posts .post table th a {
  display: inline-block;
  position: absolute;
  top: 0.4em;
  right: .5em;
  font-size: 85%;
  font-weight: normal;
}
#making-posts .post table td {
  padding: 0.2em 0.5em;
  border-width: 1px;
  border-style: dotted;
}
#making-posts .post table td > span {
  font-size: 90%;
}
#making-posts .post time {
  display: block;
  padding: 2px .5em;
  background: rgba(100,120,190,0.1);
  text-align: right;
}
#making-posts .navigation {
  text-align: center;
}
#making-posts .navigation a {
  display: inline-block;
}
#making-posts .navigation a + a {
  margin-left: 3em;
}
