@charset "utf-8";

/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-first.png);
}
article, .color-set {
  --monster-level-bg-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.5 ), 50%
  );
  --monster-head-bg-color: hsla(
    var(--box-head-bg-color-h, 225),
    calc( var(--box-head-bg-color-s,  9%) * 0.9 ),
    var(--box-head-bg-color-l, 65%),
    var(--box-head-bg-color-a, 0.4)
  );
  --s-icon-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.9 ), 40%
  );
}
.night article,
.night .color-set {
  --s-icon-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.9 ), 70%
  );
}


/* // Base
---------------------------------------------------------------------------------------------------- */
article {
  max-width: 800px;
}

/* // Font
---------------------------------------------------------------------------------------------------- */
#area-name h1 {
  font-family: var(--base-font-family-min);
}


/* // Name
---------------------------------------------------------------------------------------------------- */
#area-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  
  margin-top: 1.5em;
  border-width: 3px 0 0;
  border-style: solid;
  border-color: var(--monster-level-bg-color);
  background-image: linear-gradient(to bottom, var(--bg-color), transparent);
}
#area-name .lv {
  order: -1;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  background-color: var(--monster-level-bg-color);
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4));
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
#area-name .name-taxa {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#area-name h1 {
  flex-grow: 1;
  padding: .25em 1rem;
  text-align: left;
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
}
#area-name h1 small {
  display: inline-block;
  font-size: 70%;
  line-height: 1;
}
#area-name .taxa {
  position: absolute;
  top: -1.7em;
  left: 0;
  padding: .4em .5em .3em;
  border-radius: 5px 5px 0 0;
  line-height: 1;
  background: var(--monster-level-bg-color);
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
  font-weight: bold;
}

/* // Status
---------------------------------------------------------------------------------------------------- */
div.status {
  margin: .5rem 0;
  padding: .5rem 1rem;
  background: var(--box-base-bg-color);
}
#tags + div.status {
  border-top: 1px dotted var(--box-outside-border-color);
}
div.status div {
  display: flex;
  flex-wrap: wrap;
}

div.status dl {
  display: flex;
  margin-right: 1.5em;
}
div.status dl dt {
  white-space: nowrap;
}
div.status dl dt::after {
  content: ':';
  display: inline-block;
  width: 1em;
  text-align: center;
  font-weight: normal;
}
div.status dl dl.price {
  align-items: end;
}
div.status dl dl.price dt {
  font-size: 85%;
  margin-right: .2em;
}
div.status dl dl.price dd + dt::before {
  content: 'ï¼';
  margin: 0 .5em;
}
div.status dl dl.price dt::after {
  display: none;
}
div.status dl dl.price dd small {
  margin-left: .2em;
}


table.status {
  width: 100%;
  border-width: 1px;
  border-style: double;
  border-color: var(--box-outside-border-color);
  background-color: var(--box-base-bg-color);
}
table.status thead th.lv     { width: 0em; }
table.status thead th.name   { width: auto; }
table.status thead th.acc    { width: 12%; }
table.status thead th.atk    { width: 12%; }
table.status thead th.eva    { width: 12%; }
table.status thead th.def    { width: 12%; }
table.status thead th.hp     { width: 12%; }
table.status thead th.mp     { width: 12%; }

.mount table.status thead th.lv     { width: 1.8em; }
.mount table.status thead th.name   { width: auto; }
.mount table.status thead th.acc    { width: 8.5%; }
.mount table.status thead th.atk    { width: 8.5%; }
.mount table.status thead th.eva    { width: 8.5%; }
.mount table.status thead th.def    { width: 8.5%; }
.mount table.status thead th.hp     { width: 8.5%; }
.mount table.status thead th.mp     { width: 8.5%; }
.mount table.status thead th.vit    { width: 8.5%; }
.mount table.status thead th.mnd    { width: 8.5%; }

table.status tbody {
  border-top-width: 1px;
  border-top-style: solid;
}
table.status th {
  background-color: var(--monster-head-bg-color);
}
table.status td {
  padding: .2rem;
  border-width: 0 1px;
  border-style: solid;
  border-color: var(--box-inside-border-color);
  text-align: center;
}
table.status tbody tr:nth-child(even) td {
  background-color: var(--box-even-rows-bg-color);
}

.mount table.status tbody td.lv {
  background-color: transparent;
  border-width: 0;
}
.mount table.status tbody tr:first-child td.lv {
  border-top-width: 1px;
  font-weight: bold;
}
.mount table.status tbody tr:not(:first-child) td.lv {
  font-size: 0px;
  color: transparent;
}
table.status tbody:nth-of-type(even) tr td.lv {
  background-color: var(--box-even-rows-bg-color);
}


/* // Parts
---------------------------------------------------------------------------------------------------- */
.parts {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem 0;
  padding: .3em 1rem;
  background: var(--box-base-bg-color);
}
.parts dl {
  display: flex;
  margin-right: 1.5em;
}
.parts dl dt::after {
  content: ':';
  display: inline-block;
  width: 1em;
  text-align: center;
  font-weight: normal;
}


/* // Skills
---------------------------------------------------------------------------------------------------- */
.skills {
  border: 0;
  margin: 1rem 0 0;
  padding-bottom: .5em;
  background: var(--box-base-bg-color);
  border-radius: 0;
  box-shadow: none !important;
}
.parts + .skills {
  margin-top: .5rem;
}
.skills h2 {
  padding: .3rem .5rem;
  background: var(--monster-head-bg-color);
  font-size: 110%;
}
.skills h3::first-letter {
  color: var(--s-icon-color);
}
.skills .s-icon::before {
  color: var(--s-icon-color);
}

/* // Loots
---------------------------------------------------------------------------------------------------- */
.loots {
  margin-top: 1em;
}
.loots h2 {
  font-size: 110%;
}
.loots dl {
  display: grid;
  grid-template-columns: 6em 1fr;
  grid-template-rows: auto;
  border-width: 1px;
  border-style: solid;
  background-color: var(--box-base-bg-color);
}
.loots dl > dt {
  grid-column: 1;
  padding: .2rem;
  background-color: var(--monster-head-bg-color);
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  text-align: center;
}
.loots dl > dd {
  grid-column: 2;
  padding: .2rem .5rem;
  border-width: 0px 0px 1px;
  border-style: solid;
}
.loots dl > dt:last-of-type,
.loots dl > dd:last-of-type {
  border-bottom-width: 0px;
}

/* // Description
---------------------------------------------------------------------------------------------------- */
.description {
  margin-top: 1.5em;
  padding-bottom: .5em;
  border: 0;
  background: var(--box-base-bg-color);
  border-radius: 0;
  box-shadow: none !important;
}
.description h2,
.description h2:nth-child(n+2) {
  margin: 0;
  padding: 0 .3em;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--box-outside-border-color);
  font-size: 115%;
}
.box.description h2 ~ h2 {
  margin-top: 1em;
}

/* // Author
---------------------------------------------------------------------------------------------------- */
#author {
  width: 50%;
  margin: 2em 0 0 auto;
  padding: .5em;
  text-align: right;
  border-width: 0 1px 1px 0px;
  border-style: solid;
}

#link-tag {
  padding: .5em;
  text-align: right;
}
#link-tag input {
  width: 18em;
  padding: 0.2em;
  border-width: 1px;
  border-style: solid;
  border-radius: .5rem;
  font-size: 0.9em;
}

