@charset "utf-8";

/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-first.png);
}

/* // Base
---------------------------------------------------------------------------------------------------- */
article {
  max-width: 800px;
}

/* // Font
---------------------------------------------------------------------------------------------------- */
#area-monstername h1 {
  font-family: var(--base-font-family-min);
}


/* // Name
---------------------------------------------------------------------------------------------------- */
#area-monstername {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  
  margin-top: 1.5em;
  border-width: 3px 0 0;
  border-style: solid;
  border-color: #888;
  background-image: linear-gradient(to bottom, var(--bg-color), transparent);
}
#area-monstername .lv {
  order: -1;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  background-color: #888;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4));
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
#area-monstername .name-taxa {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#area-monstername h1 {
  flex-grow: 1;
  padding: .25em 1rem;
  text-align: left;
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
}
#area-monstername h1 small {
  display: inline-block;
  font-size: 70%;
  line-height: 1;
}
#area-monstername .taxa {
  position: absolute;
  top: -1.7em;
  left: 0;
  padding: .4em .5em .3em;
  border-radius: 5px 5px 0 0;
  line-height: 1;
  background: #888;
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
  font-weight: bold;
}
.night #area-monstername { border-color: #556 }
.night #area-monstername .lv,
.night #area-monstername .taxa { background-color: #556 }

/* // Status
---------------------------------------------------------------------------------------------------- */
div.status {
  padding: 1rem;
}
#tags + div.status {
  border-top: 1px dotted rgba(127,127,127,0.5);
  padding-top: .5rem;
}
div.status div {
  display: flex;
  flex-wrap: wrap;
}

div.status dl {
  display: flex;
  margin-right: 1.5em;
}
div.status dl dt::after {
  content: ':';
  display: inline-block;
  width: 1em;
  text-align: center;
  font-weight: normal;
}


table.status {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
table.status thead th:nth-child(1) { width: auto; }
table.status thead th:nth-child(2) { width: 12%; }
table.status thead th:nth-child(3) { width: 12%; }
table.status thead th:nth-child(4) { width: 12%; }
table.status thead th:nth-child(5) { width: 12%; }
table.status thead th:nth-child(6) { width: 12%; }
table.status thead th:nth-child(7) { width: 12%; }
table.status th {
  background-color: rgba(127,127,127,0.4);
}
table.status td {
  padding: .2rem;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(255,255,255,0.3);
  text-align: center;
}
.night table.status td {
  background-color: rgba(0,0,0,0.3);
}
table.status tbody tr:nth-child(even) td {
  background-color: rgba(127,127,127,0.2);
}


/* // Parts
---------------------------------------------------------------------------------------------------- */
.parts {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding-left: .5em;
}
.parts dl {
  display: flex;
  margin-right: 1.5em;
}
.parts dl dt::after {
  content: ':';
  display: inline-block;
  width: 1em;
  text-align: center;
  font-weight: normal;
}


/* // Skills
---------------------------------------------------------------------------------------------------- */
.skills {
  border: 0;
  margin: 1rem 0;
  background: none !important;
  box-shadow: none !important;
}
.skills h2 {
  padding: .3rem .5rem;
  background-color: rgba(127,127,127,0.4) !important;
  font-size: 110%;
}

/* // Loots
---------------------------------------------------------------------------------------------------- */
.loots {
  margin-top: 2em;
}
.loots h2 {
  font-size: 110%;
}
.loots dl {
  display: grid;
  grid-template-columns: 6em 1fr;
  grid-template-rows: auto;
  border-width: 1px;
  border-style: solid;
}
.loots dl > dt {
  grid-column: 1;
  padding: .2rem;
  background-color: rgba(127,127,127,0.3);
  border-width: 0px 1px 1px 0px;
  border-style: solid;
  text-align: center;
}
.loots dl > dd {
  grid-column: 2;
  padding: .2rem .5rem;
  background-color: rgba(255,255,255,0.3);
  border-width: 0px 0px 1px;
  border-style: solid;
}
.night div.loots dl > dd {
  background-color: rgba(0,0,0,0.3);
}
.loots dl > dt:last-of-type,
.loots dl > dd:last-of-type {
  border-bottom-width: 0px;
}

/* // Description
---------------------------------------------------------------------------------------------------- */
.description {
  margin-top: 1.5em;
  border: 0;
  background: none !important;
  box-shadow: none !important;
}
.description h2 {
  border-width: 1px 0px;
  border-style: solid;
  font-size: 115%;
}

/* // Author
---------------------------------------------------------------------------------------------------- */
#author {
  width: 50%;
  margin: 2em 0 0 auto;
  padding: .5em;
  text-align: right;
  border-width: 0 1px 1px 0px;
  border-style: solid;
}

#link-tag {
  padding: .5em;
  text-align: right;
}
#link-tag input {
  width: 18em;
  padding: 0.2em;
  border-width: 1px;
  border-style: solid;
  border-radius: .5rem;
  font-size: 0.9em;
}

