@charset "utf-8";

:root{
  --theme-main-hue  : 253;
  --theme-sub-hue   : 235;
  --theme-accent-hue: 220;
  --theme-menu-hue: var(--theme-main-hue);
  --header-chroma: 0.12;
  --header-lightness: 65%;
  --menu-icon-current-color   : #30d0e7;
  --menu-icon-current-bg-color: #000055;
  --icon-current-color: #30d0e7;
}
@media screen {
  .night {
    --header-lightness: 55%;
    --menu-icon-bg-color: oklch(32% 0.02 var(--theme-menu-hue));
  }
}
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-kiz.png);
  background-blend-mode: normal, normal;
  .night & {
    background-blend-mode: hard-light, hard-light;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
  }
}
