@charset "utf-8";

:root{
  --theme-main-hue  : 90;
  --theme-sub-hue   : 90;
  --theme-accent-hue: 30;
  --theme-menu-hue: var(--theme-main-hue);
  --menu-icon-current-color: oklch(20% 0.8 30);
  --icon--current-color: var(--menu-icon-current-color);
}
@media screen {
  .night {
  }
}
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-crest.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -80px right -100px;
  background-size: auto, auto 110%;
  .night & {
    background-blend-mode: hard-light, normal;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position-x: 0, 30vw;
  }
}
