@charset "utf-8";

/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-circle.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -80px right -50px;
}
.night body {
  background-blend-mode: hard-light, normal;
}
@media screen and (max-width:735px){
  body {
    background-size: auto, 100%;
    background-position-x: 0, 15vw;
  }
}
/* // Layout
---------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1400px){
  body {
    grid-template-columns: minmax(0, 1fr) minmax(auto, 1800px) minmax(0, 1fr);
  }
  header nav {
    max-width: 1800px;
  }
  article{
    max-width: 1760px;
    display: grid;
    grid-gap: 0 1.2rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 0 1.2rem;
    position: relative;
  }
  #area-name, #tags {
    grid-column: span 2;
  }
  #column-skills {
    grid-column: 2;
  }
}

/* // Font
---------------------------------------------------------------------------------------------------- */
#character-name,
.words {
  font-family: var(--base-font-family-min);
}
#character-name rt {
  font-family: Arial,var(--base-font-family-min);
}
#level dd {
  font-family: 'Verdana';
}

#classes dd,
#specialities td,
#goods td,
#items td,
#battle td,
#other-rolls tbody th small,
#levelup td {
  font-family: var(--font-proportional);
}
#history table {
  font-family: "Arial",var(--base-font-family-pr);
}
#cashbook p {
  font-family: var(--base-font-family-mono);
}

/* // Name / Date
---------------------------------------------------------------------------------------------------- */
#area-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  padding: 0px 5px;
  border-width: 3px 0px;
  border-style: solid;
  
  background-image: linear-gradient(to right, var(--box-head-bg-color), var(--box-base-bg-color));
  background-color: var(--bg-color);
  border-color: var(--box-outside-border-color, inherit);
}
h1#character-name {
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: var(--bg-color) 0px 0px .5em,
    var(--bg-color)  .1rem .1rem, var(--bg-color) -.1rem -.1rem,
    var(--bg-color) -.1rem .1rem, var(--bg-color)  .1rem -.1rem,
    var(--bg-color)  .0rem .1rem, var(--bg-color)  .0rem -.1rem,
    var(--bg-color) -.1rem .0rem, var(--bg-color)  .1rem  .0rem;
}
#aka {
  margin-right: .5em;
}
#area-name > div { 
  text-align: right;
  font-size: 1.2rem;
}
#update-time {
}
#player-name {
}

/* // Common
---------------------------------------------------------------------------------------------------- */
.data-table {
  width: 100%;
  border-style: hidden hidden none;
}
.data-table:last-child {
  border-bottom-style: hidden;
}
.data-table.side-margin,
.data-tables.side-margin table,
.data-tables.side-margin ul,
.data-tables.side-margin dl {
  width: calc(100% - 1rem);
  margin: 0 .5rem;
}
table.data-table > tbody tr {
  border-width: 1px 0;
  border-style: solid;
}
table.data-table:not(.side-margin) thead th {
  padding: .3rem 0 .2rem;
  border-width: 0;
  line-height: 1;
}
table.data-table tbody td,
ul.data-table > li,  .data-tables ul > li,
dl.data-table > *,   .data-tables dl > *  {
  padding: .2em 0;
  line-height: 1.4;
}
table.data-table:not(.side-margin) tbody th,
table.data-table:not(.side-margin) tbody td {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: dotted;
  border-right-style: dotted;
}
table.data-table:not(.side-margin).line-tbody tbody:nth-of-type(even) tr > *,
table.data-table:not(.side-margin):not(.line-tbody) tbody tr:nth-of-type(even) > * {
  background-color: var(--box-even-rows-bg-color);
}

ul.data-table > li,  .data-tables ul  > li,
dl.data-table > *,   .data-tables dl  > *  {
  border-width: 0 0 1px;
  border-style: solid;
}
ul.data-table:last-child > li:last-child,
dl.data-table:last-child > dt:last-of-type,
dl.data-table:last-child > dt:last-of-type ~ dd,
.data-tables ul:last-child > li:last-child,
.data-tables dl:last-child > dt:last-of-type,
.data-tables dl:last-child > dt:last-of-type ~ dd {
  border-bottom-style: hidden;
}

table.data-table tbody td:empty::before {
  content: '　';
}
table.data-table tbody tr td span {
  display: inline-block;
}
table.data-table tbody tr td span.thin {
  transform: scaleY(calc(1/0.93));
  font-size: 93%;
}
table.data-table tbody tr td span.thiner {
  transform: scaleY(calc(1/0.86));
  font-size: 86%;
}
table.data-table tbody tr td span.thinest {
  transform: scaleY(calc(1/0.8));
  font-size: 79%;
}
table.data-table tbody tr td span.thinest.small {
  transform: scaleY(calc(1/0.8));
  font-size: 73%;
}
table.data-table tbody tr td:nth-child(9) span.thinest.small {
  transform: scaleY(calc(1/0.8)) translateY(-.1rem);
  font-size: 70%;
}

/* // AreaTag
---------------------------------------------------------------------------------------------------- */
#tags .stage {
  font-size: 90%;
}

/* // Area-Status
---------------------------------------------------------------------------------------------------- */
#area-status {
  min-height: 56.7rem;
  display: grid;
  grid-gap: var(--box-v-gap) var(--box-h-gap);
  grid-template-columns: 1.6fr 1.4fr 2.14fr;
  grid-template-rows: auto auto auto auto 1fr;
  
  grid-template-areas:
  "LVL  APP IMG"
  "PER  APP IMG"
  "STT  STT IMG"
  "SPC  SPC IMG"
  "GDS  GDS IMG"
  ;
}
#image-none,
#image     { grid-area: IMG; max-height: 56.7rem; }
#levels      { grid-area: LVL; }
#personal    { grid-area: PER; }
#appearance  { grid-area: APP; }
#status      { grid-area: STT; }
#specialities{ grid-area: SPC; }
#goods       { grid-area: GDS; }

@media screen and (max-width:767px){
  #area-status {
    grid-gap: .5rem;
  }
}
@media screen and (max-width:735px){
  #area-status {
    display: grid;
    grid-gap: .5rem;
    grid-template-areas:
    "LVL  APP IMG"
    "PER  APP IMG"
    "STT  STT IMG"
    "SPC  SPC SPC"
    "GDS  GDS GDS"
    ;
  }
}

/* // Area-Status
---------------------------------------------------------------------------------------------------- */
#levels {
  display: grid;
  grid-template-columns: 4fr 4.5em;
  gap: .5rem;
}
#levels dl {
  display: grid;
  grid-template-rows: max-content 1fr;
  align-items: center;
}
#levels #level dd {
  font-size: 150%;
  line-height: 1;
  padding-bottom: .2em;
}
#style {
  margin-top: var(--box-v-gap);
}
#personal .box-union + .box-union {
  margin-top: 10px;
}
#personal .box + .box {
  border-top-width: 1px;
}
#style {
}
#style dd > span + span::before {
  content: "／";
}
@media screen and (max-width:735px){
  #style dd > span {
    display: block;
  }
  #style dd > span + span::before {
    content: "";
  }
}
/* Appearance */
#appearance {
  display: grid;
  grid-template-rows: max-content 1fr;
}
#appearance dl {
  display: grid;
  grid-template-columns: 3.5em 1fr;
}
#appearance dt {
  text-align: center;
  border-right-width: 1px;
  border-right-style: dotted;
  font-size: 92%;
}
#appearance dt,
#appearance dd {
  border-top-width: 1px;
  border-top-style: solid;
  display: grid;
  align-items: center;
}
/* Status */
#status {
  display: grid;
  grid-template-columns: 7.2fr 2.8fr;
  gap: 5px;
}
#user-status {
  display: grid;
  grid-template-rows: max-content 1fr;
}
#user-status dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr;
}
#user-status dl dt {
  grid-row: 1;
  align-self: end;
  padding: .1em 0 .1em .1em;
  font-size: 87%;
  line-height: 1;
}
#user-status dl dd {
  grid-row: 2;
  font-size: 140%;
  font-weight: bold;
  display: grid;
  place-items: center;
  border-top-width: 1px;
  border-top-style: solid;
}
#user-status dl dd:not(:first-of-type) {
  border-left-width: 1px;
  border-left-style: dotted;
}
#hp-and-stamina {
}
#hp-and-stamina dl dd input {
  width: 3.5em;
}
#hp-and-stamina dl dd b {
  font-size: 130%;
  line-height: 1;
}
#hp-and-stamina dl dd {
  position: relative;
}
#hp-and-stamina dl dd small {
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: .1em;
}
#hp-and-stamina dl dd small > b {
  font-size: 120%;
  margin: 0 .1em;
}
#stamina  {
  border-top-width: 1px;
  border-top-style: solid;
}
@media screen and (max-width:735px){
  #status {
    grid-template-columns: 1fr;
  }
  #hp-and-stamina {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #stamina  {
    border-top: 0;
    border-left-width: 1px;
    border-left-style: solid;
  }
}

/* // Area-Specialities
---------------------------------------------------------------------------------------------------- */
#specialities {
  height: max-content;
}
#specialities table { margin-top: -1em; }
#specialities table thead th:nth-child(1) { width: 8.5em; }
#specialities table thead th:nth-child(2) { width: auto; padding-left: .2em; }

#specialities table tbody td:nth-child(2) { font-size: 92%; text-align: left; padding-left: .2em; }

/* // Area-Goods
---------------------------------------------------------------------------------------------------- */
#goods {
  align-self: start;
}
#goods table { margin-top: -1em; }
#goods table thead th:nth-child(1) { width: 8.5em; }
#goods table thead th:nth-child(2) { width: 3.6em; }
#goods table thead th:nth-child(3) { width: auto; padding-left: .2em; }

#goods table tbody td:nth-child(2) { font-size: 87%; }
#goods table tbody td:nth-child(3) { font-size: 92%; text-align: left; padding-left: .2em; }


/* // Area-Goods
---------------------------------------------------------------------------------------------------- */
#items {
  margin-top: var(--box-v-gap);
}
#items table { margin-top: -1em; }
#items table thead th:nth-child(1) { width: 12em; }
#items table thead th:nth-child(2) { width:3.6em; }
#items table thead th:nth-child(3) { width:3.2em; }
#items table thead th:nth-child(4) { width: auto; padding-left: .2em; }

#items table tbody td:nth-child(2) { font-size: 87%; }
#items table tbody td:nth-child(4) { font-size: 92%; text-align: left; padding-left: .2em; }

/* // Battle
---------------------------------------------------------------------------------------------------- */
#battle { margin-top: var(--box-v-gap); }
#battle table { margin-top: -1em; }
#battle table colgroup col.head { width:4.5em; }
#battle table colgroup col.name { width: 14em; }
#battle table colgroup col      { width: auto; }
#battle table th.right {
  padding-right: .2em;
}
#battle .subtotal td,
#battle .total td,
#battle td#battle-level-value {
  position: relative;
  border-left-width: 1px;
  border-left-style: solid;
}
#battle .total td {
  font-weight: bold;
  font-size: 120%;
}
#battle .subtotal td::before,
#battle .total td::before {
  content: '';
  position: absolute;
  inset: 2px 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--box-inside-border-color);
  pointer-events: none;

}
@media screen and (min-width:1400px){
  #battle { margin-top: 0; }
}
@media screen and (max-width:735px){
  #battle th { font-size: 92%; }
}

/* // Free-Memo
---------------------------------------------------------------------------------------------------- */
#free-note,
#free-history{
  margin-top: var(--box-v-gap);
}


/* // History
---------------------------------------------------------------------------------------------------- */
#history {
  margin-top: var(--box-v-gap);
}
#history table thead th:nth-child(1) { width:   2em; } /* No. */
#history table thead th:nth-child(2) { width: 5.2em; } /* 日付 */
#history table thead th:nth-child(3) { width:  auto; } /* タイトル */
#history table thead th:nth-child(4) { width: 4.6em; } /* 戦果点 */
#history table thead th:nth-child(5) { width:  auto; } /* ＧＭ */
#history table thead th:nth-child(6) { width:  auto; } /* 参加者 */

#history table tr td:is(.gm, .member) {
  font-size: 1.1rem;
}


/* // Cashbook
---------------------------------------------------------------------------------------------------- */
#cashbook {
  margin-top: var(--box-v-gap);
  height: max-content;
  overflow: hidden;
}
#cashbook > div {
  max-height: 16em;
  overflow: auto;
}
#cashbook p {
  line-height: 1.5;
  white-space: pre-wrap;
}
#cashbook b.cash {
  padding: 2px 0;
  font-weight: normal;
  background: linear-gradient(to top, rgba(0,100,255,0.5) 0rem, rgba(0,100,255,0.3) .5rem, transparent .5rem);
}
#cashbook b.cash.plus {
  background: linear-gradient(to top, rgba(0,255,100,0.5) 0rem, rgba(0,255,100,0.3) .5rem, transparent .5rem);
}
#cashbook b.cash.minus {
  background: linear-gradient(to top, rgba(255,100,0,0.5) 0rem, rgba(255,100,0,0.3) .5rem, transparent .5rem);
}

