@charset "utf-8";

@layer system {
/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-circle.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -80px right -50px;
  .night & {
    background-blend-mode: hard-light, normal;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position-x: 0, 15vw;
  }
}
/* // List
---------------------------------------------------------------------------------------------------- */
.list table tr {
  grid-template-columns: 26rem 0.7fr 1fr 4em 1.9fr 0.7fr;
  grid-template-areas:
    "NAME   PL RACE RACE STYL DATE"
    "NAME   PL  CLS  LVL  PRF DATE"
    "NAME TAGS TAGS TAGS TAGS DATE"
  ;
  @media screen and (width <= 735px){
    grid-template-columns: 18rem 6em 1fr 3.2em 1.9fr 3.5em;
    grid-template-areas:
      "NAME PL RACE RACE STYL DATE"
      "NAME PL  CLS  LVL  PRF DATE"
    ;
  }
  .name   { grid-area: NAME; }
  .player { grid-area:   PL; }
  .race   { grid-area: RACE; }
  .class  { grid-area:  CLS; }
  .styles { grid-area: STYL; }
  .lv     { grid-area:  LVL; }
  .profile{ grid-area:  PRF; }
  .tags   { grid-area: TAGS; }
  .date   { grid-area: DATE; }
  
  & .name {
    position: relative;
  }
  & td.lv {
    font-size: 1.15em;
    line-height: 1;
  }
  @media screen and (width <= 735px){
    .geis { display: none; }
  }
}

/* // List-Simple/Monster
---------------------------------------------------------------------------------------------------- */
.list ul li a::before {
  content: 'Lv'attr(data-lv);
}


/* ////////// LayerEnd ////////// */
}