@charset "utf-8";

:root{
  --theme-main-hue  : 240;
  --theme-sub-hue   : 205;
  --theme-accent-hue: 185;
  --header-chroma: 0.09;
}
@media screen {
  .night {
  }
}
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-circle.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -80px right -50px;
  .night & {
    background-blend-mode: hard-light, normal;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position-x: 0, 15vw;
  }
}
