@charset "utf-8";

:root{
  --theme-hue: 200;
  --theme-sub-hue: 175;
  --theme-accent-hue: 165;
  --header-saturation: 50%;
  --a-link-color   : hsl(var(--theme-accent-hue),50%,45%);
  --a-visited-color: hsl(var(--theme-accent-hue),15%,50%);
}
@media screen {
  .night {
    --a-link-color   : hsl(var(--theme-accent-hue),100%,80%);
    --a-visited-color: hsl(var(--theme-accent-hue),25%,70%);
  }
}
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-circle.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -80px right -50px;
  .night & {
    background-blend-mode: hard-light, normal;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position-x: 0, 15vw;
  }
}