@charset "utf-8";

/* ゆとシート for SW2.5 */

/* // Base
---------------------------------------------------------------------------------------------------- */
:root {
  --bg-color: #fff;
  --text-color: #000;
}
.night {
  --text-color: #fff;
  --bg-color: #000;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  font-size  : 1.4rem;
  line-height: 1.5;
  -webkit-print-color-adjust: exact;
}

hr {
  border-width: 1px 0 0;
  border-style: solid;
}

table, tr, th, td {
  border-width: 0;
  border-collapse: collapse;
}
td {
  empty-cells: show;
}

dt {
  font-weight: bold;
}

ul,ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link    { color: #78d; }
a:visited { color: #678; }
a:hover   { color: #000; }
.night a:link    { color: #abf; }
.night a:visited { color: #abc; }
.night a:hover   { color: #fff; }
main p a {
  background: linear-gradient(to top, #cef .3rem, transparent .3rem, transparent);
}
.night main p a {
  background: linear-gradient(to top, #338 .3rem, transparent .3rem, transparent);
}

input,
textarea,
select {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
}
.night input,
.night textarea,
.night select {
  background: rgba(0,0,0,0.8);
  color: inherit;
  border-color: #234;
}

body {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, 900px) minmax(0, 1fr);
  position: relative;
  min-height: 100vh;
  height 100%;
  background-color: var(--bg-color);
  background-image: url(../img/back-pattern.png), url(../img/back-first.png);
  background-position: center, bottom right;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: var(--text-color);
}
body.night {
  background-blend-mode: hard-light, hard-light;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  height: 5rem;
  position: relative;
  padding: 0px 10px;
  border-bottom: 1px solid #aaa;
  background-image: url(../img/back-abstract.png);
  background-position: left center;
  background-repeat: no-repeat;
  
  z-index: 100;
}

header h1 {
  position: relative;
  font-size: 3rem;
  line-height: 5rem;
}
header a {
  position: relative;
  color: #fff !important;
  z-index: 101;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  min-height: calc(100vh - 11rem);
  margin: 0;
  padding: 4rem 0 1rem;
  border-width: 0px 3px;
  border-style: double;
  border-color: #aaa;
}

article{
  max-width: 860px;
  margin: 0 auto;
}

* + article{
  border-width: 1px 0 0;
  border-style: solid;
}
article h1 {
  font-size: 2.5rem;
}

footer {
  grid-column: 1 / 4;
  height: 6rem;
  margin-top: auto;
  padding: 15px 10px 20px;
  border-top: 1px solid #aaa;
  background-image: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0) 35em), url(../img/back-abstract-reverse.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  text-align: right;
  font-size: 1.6rem;
}
footer a {
  margin-right: 1em;
  color: #ddf !important;
}

header,
footer {
  background-color: #fff;
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 6px #000, 0 0 7px #000, 0 0 8px #000;
  font-weight: bold;
}
.night header,
.night footer {
  background-color: #456;
  background-blend-mode: color-burn;
}
header a:hover,
footer a:hover {
  opacity: 0.7;
}
footer span {
  display: inline-block;
}
footer .copyright {
  margin-top: 0.5em;
}

* { border-color: #999; }
.night * { border-color: #556; }

@media print{
  header,
  footer,
  #login-form,
  #link-tag,
  .back-button,
  .chat-palette {
    display: none;
  }
}

/* // Font
---------------------------------------------------------------------------------------------------- */
body,
header nav {
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","HiraKakuProN-W3","Meiryo",sans-serif;
}
header,
footer {
  font-family: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", Verdana, "Hiragino Kaku Gothic ProN", "Yu Gothic", "YuGothic", "Meiryo", sans-serif;
}

/* // Sidebar
---------------------------------------------------------------------------------------------------- */
aside#sidebar-left,
aside#sidebar-right {
  grid-row: 2 / 3;
  position: relative;
  overflow: hidden;
}
aside#sidebar-left {
  text-align: right;
}
aside#sidebar-left > p,
aside#sidebar-right > p {
  padding:5px;
}
aside#sidebar-top,
aside#sidebar-bottom {
  display: none;
  margin: 0;
  border-width: 0px 3px;
  border-style: double;
  border-color: #aaa;
  grid-column: 2 / 3;
  text-align: center;
}
aside#sidebar-top {
  padding: 5rem 0 0rem;
}

aside#sidebar-bottom {
  padding: 5rem 0 1rem;
  border-top-width: 1px;
  border-top-style: solid;
}

/* // Nav
---------------------------------------------------------------------------------------------------- */
header nav {
  max-width: 900px;
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  margin: auto;

  z-index: 1;
}
header nav ul  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}
header nav ul li  {
  position: relative;
  margin: 0;
  width: 6rem;
  height: 6rem;
  transform: rotate(45deg);
  
  background: linear-gradient(-45deg, #679, #cdf);
  text-align: center;
  
  outline: 3px double #000;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: calc(6rem + 2rem + 1.5rem);
  
  cursor: pointer;
  
  z-index: 200;
}
header nav ul li a {
  display: block;
  width: 150%;
  height: 150%;
  margin: -25%;
  transform: rotate(-45deg);
  
  text-decoration: none;
  color: #fff;
  text-shadow: -1px -1px 1px #000, 0px 1px 1px #abc;
}
header nav ul li:hover {
  opacity: 0.8;
}
header nav ul li.small  {
  width: 5rem;
  height: 5rem;
  font-size: 1.1rem;
  line-height: calc(5rem + 2rem + 1rem);
}

header nav ul li.very-small {
  width: 3rem;
  height: 3rem;
  font-size: 1.1rem;
  line-height: calc(3rem + 1rem + 1rem);
}

header nav ul li:nth-last-child(even)  {
  top: 2rem;
}
header nav ul li:nth-last-child(odd)  {
  top: 0rem;
}
header nav ul li + li {
  margin-left: 1.7rem;
}
header nav ul li + li.small {
  margin-left: 1.4rem;
}
header nav ul li.small + li.small {
  margin-left: 1.2rem;
}
header nav ul li + li.very-small {
  margin-left: 0.8rem;
}
header nav ul li.small + li.very-small {
  margin-left: 0.8rem;
}

/* // Main-Nav
---------------------------------------------------------------------------------------------------- */
main nav {
}
main nav ul {
  display: flex;
  padding-left: 2rem;
}
main nav ul li {
  max-width: 11.5em;
  width: 100%;
  margin: 1rem;
  transform: skewX(-30deg);
  background: linear-gradient(to top, #679, #cdf);
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  outline: 3px double #000;
  overflow: hidden;
}
main nav ul li a {
  display: block;
  transform: skewX(30deg);
  margin: 0 -50%;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #fff !important;
  text-shadow: -1px -1px 1px #000, 0px 1px 1px #abc;
}
main nav ul li:hover {
  opacity: 0.8;
}

/* // Button
---------------------------------------------------------------------------------------------------- */
.back-button {
  margin: 5rem auto 3rem;
  width: 1.2em;
  height: 1.2em;
  transform: rotate(45deg);
  
  background: linear-gradient(-45deg, #679, #cdf);
  text-align: center;
  
  outline: 3px double #000;
  overflow: hidden;
  font-size: 2em;
  font-weight: bold;
}
.back-button a {
  display: block;
  width: 160%;
  height: 160%;
  margin: -60%;
  transform: rotate(-45deg);
  
  line-height: 3em;
  text-decoration: none;
  color: #fff !important;
  text-shadow: -1px -1px 1px #000, 0px 1px 1px #abc;
}
.back-button:hover {
  opacity: 0.8;
}

#page-top-button {
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 6rem;
  background: #7799ff;
  opacity: 0.6;
  z-index: 200;
}
#page-top-button:hover {
  opacity: 0.8;
}
#page-top-button a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page-top-button a::before{
  font-family: "FontAwesome";
  content: '▲';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  transform: scaleY(0.8);
}
#page-top-button a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}






