@charset "utf-8";
/* // Base
---------------------------------------------------------------------------------------------------- */

/* // Font
---------------------------------------------------------------------------------------------------- */
#personal dl#faith dd {
}
#area-status,
#area-ability,
#area-equipment {
  font-family: "Varela Round","Kosugi","Arial",var(--base-font-family-jp);
}
#history {
  font-family: "Kosugi","Arial",var(--base-font-family-jp);
}
#cashbook p {
  font-family: var(--base-font-family-mono);
}
#level {
  font-family: 'Verdana';
}
#character-name,
.words {
  font-family: var(--base-font-family-min);
}
#character-name rt {
  font-family: Arial,var(--base-font-family-min);
}

/* // Name / Date
---------------------------------------------------------------------------------------------------- */
#area-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  padding: 0px 5px;
  border-width: 3px 0px;
  border-style: solid;
  
  background-image: linear-gradient(to right, var(--box-head-bg-color), var(--box-base-bg-color));
  background-color: var(--bg-color);
  border-color: var(--box-outside-border-color, inherit);
}
h1#character-name {
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: var(--bg-color) 0px 0px .5em,
    var(--bg-color)  .1rem .1rem, var(--bg-color) -.1rem -.1rem,
    var(--bg-color) -.1rem .1rem, var(--bg-color)  .1rem -.1rem,
    var(--bg-color)  .0rem .1rem, var(--bg-color)  .0rem -.1rem,
    var(--bg-color) -.1rem .0rem, var(--bg-color)  .1rem  .0rem;
}
#area-name > div { 
  text-align: right;
  font-size: 1.2rem;
}
#update-time {
}
#player-name {
}

/* // Area-Status
---------------------------------------------------------------------------------------------------- */
#area-status {
  margin-top: .5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 0.8fr 0.6fr 1.5fr 2.115fr;
  grid-template-rows: auto;
  
  grid-template-areas:
    "PER  PER  PER  IMG"
    "STT  STT  STT  IMG"
    "STT  STT  STT  IMG"
    "EXP  LVL sSTT IMG"
  ;
}
#image-none,
#image     { grid-area: IMG; }
#personal  { grid-area: PER; }
#status    { grid-area: STT; }
#sub-status{ grid-area: sSTT; }
#level     { grid-area: LVL; }
#exp       { grid-area: EXP; }

/* Image */
.image {
  overflow: hidden;
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  
  position: relative;
}
.image div[onclick] {
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.image p.image-copyright {
  padding: 0 5px;
  color: #fff;
  text-shadow: 
    #000  .1rem .1rem, #000 -.1rem -.1rem,
    #000 -.1rem .1rem, #000  .1rem -.1rem,
    #000  .0rem .1rem, #000  .0rem -.1rem,
    #000 -.1rem .0rem, #000  .1rem  .0rem,
    #000 0 0 .3rem, #000 0 0 .3rem, #000 0 0 .3rem;
  word-break: break-all;
}
.image-none {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(127,127,127,0.1);
  border-radius: 5px;
  overflow: hidden;
  font-family: "Times New Roman";
}
.image-none::before {
  content: 'no image';
  text-align: center;
  font-size: 2.2rem;
}
.image-none::after {
  content: 'SW\A 2.5';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  line-height: 0.7;
  font-size: 15rem;
  font-weight: bold;
  letter-spacing: -0.08em;
  text-align: center;
  transform: scale(1, 1.2);
  opacity: 0.1;
  white-space: pre;
}

.image p.words,
.image-none p.words {
  position: absolute;
  padding-top: 1em;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 2rem;
  color: var(--text-color);
  text-shadow:
    var(--bg-color) 2px  0px, var(--bg-color) -2px  0px,
    var(--bg-color) 0px -2px, var(--bg-color)  0px  2px,
    var(--bg-color) 2px  2px, var(--bg-color) -2px  2px,
    var(--bg-color) 2px -2px, var(--bg-color) -2px -2px,
    var(--bg-color) 1px  2px, var(--bg-color) -1px  2px,
    var(--bg-color) 1px -2px, var(--bg-color) -1px -2px,
    var(--bg-color) 2px  1px, var(--bg-color) -2px  1px,
    var(--bg-color) 2px -1px, var(--bg-color) -2px -1px;
}
.image p.words .d-dash,
.image-none p.words .d-dash {
  display: inline-block;
  transform: scaleY(0.9);
  white-space: nowrap;
  font-family: inherit;
}
.image p.words .d-dash span,
.image-none p.words .d-dash span {
  display: inline-block;
  transform: scaleY(1.2)
}
p.words span {
  display: inline-block;
}
p.words span.brackets {
  text-indent: -1em;
}

/* Personal */
#personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -0.6rem;
}
#personal dl {
  flex-basis: 33%;
  margin-bottom: 0.6rem;
}
#personal dl dt {
}
#personal dl#race         { flex-basis: 58%; order: 1; }
#personal dl#gender       { flex-basis: 20%; order: 2; }
#personal dl#age          { flex-basis: 20%; order: 3; }
#personal dl#race-ability { flex-basis: 85%; order: 4; }
#personal dl#birth        { flex-basis: 28%; order: 6; }
#personal dl#faith        { flex-basis: 46%; order: 7; }
#personal dl#rank         { flex-basis: 24%; order: 8; }
#personal dl#sin          { flex-basis: 14%; order: 5; }

#personal dl#race-ability dd span {
  display: inline-block;
}

/* Status */
#status {
  display: grid;
  grid-gap: 0.8rem 1rem;
  grid-template-columns: 1fr 1fr 1fr 1.3fr 0.8fr 1.2fr;
  grid-template-rows: auto;
}

#stt-base-tec { grid-row: 1 / span 2; grid-column: 1; }
#stt-base-phy { grid-row: 3 / span 2; grid-column: 1; }
#stt-base-spi { grid-row: 5 / span 2; grid-column: 1; }
#stt-base-A { grid-row: 1; grid-column: 2; }
#stt-base-B { grid-row: 2; grid-column: 2; }
#stt-base-C { grid-row: 3; grid-column: 2; }
#stt-base-D { grid-row: 4; grid-column: 2; }
#stt-base-E { grid-row: 5; grid-column: 2; }
#stt-base-F { grid-row: 6; grid-column: 2; }
#stt-grow-A { grid-row: 1; grid-column: 3; }
#stt-grow-B { grid-row: 2; grid-column: 3; }
#stt-grow-C { grid-row: 3; grid-column: 3; }
#stt-grow-D { grid-row: 4; grid-column: 3; }
#stt-grow-E { grid-row: 5; grid-column: 3; }
#stt-grow-F { grid-row: 6; grid-column: 3; }
#stt-dex { grid-row: 1; grid-column: 4; }
#stt-agi { grid-row: 2; grid-column: 4; }
#stt-str { grid-row: 3; grid-column: 4; }
#stt-vit { grid-row: 4; grid-column: 4; }
#stt-int { grid-row: 5; grid-column: 4; }
#stt-mnd { grid-row: 6; grid-column: 4; }
#stt-add-A { grid-row: 1; grid-column: 5; }
#stt-add-B { grid-row: 2; grid-column: 5; }
#stt-add-C { grid-row: 3; grid-column: 5; }
#stt-add-D { grid-row: 4; grid-column: 5; }
#stt-add-E { grid-row: 5; grid-column: 5; }
#stt-add-F { grid-row: 6; grid-column: 5; }
#stt-bonus-dex { grid-row: 1; grid-column: 6; }
#stt-bonus-agi { grid-row: 2; grid-column: 6; }
#stt-bonus-str { grid-row: 3; grid-column: 6; }
#stt-bonus-vit { grid-row: 4; grid-column: 6; }
#stt-bonus-int { grid-row: 5; grid-column: 6; }
#stt-bonus-mnd { grid-row: 6; grid-column: 6; }

#status dl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position:relative;
  border-width: 1px;
  border-style: dotted;
  border-radius: 5px;
}
#status dl dt {
  font-size: 1.3rem;
}
#status dl dd {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
#status dl:nth-child(n+16):nth-child(-n+21),
#status dl[id^="stt-bonus"] {
  border-width: 1px;
  border-style: solid;
}
#status dl:nth-child(n+16):nth-child(-n+21) dd,
#status dl[id^="stt-bonus"] dd {
  font-size: 1.6rem;
}
#status dl:nth-child(n+16):nth-child(-n+21) dd {
  transform: scale(1,1.15);
}
#status dl:nth-child(n+16):nth-child(-n+21) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}
#status dl[id^="stt-add"] {
  border-style: solid;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  margin-left: -1rem;
}
#status dl[id^="stt-add"] dt span {
  display: inline-block;
  margin: 0 -3%;
  transform: scale(0.85, 0.85);
}

#status dl:nth-child(n+4):nth-child(-n+15)::before,
#status dl[id^="stt-add"]::before {
  position: absolute;
  content: "+";
  left: -1rem;
  bottom: 0;
  font-size: 1.2rem;
}
#status dl:nth-child(n+16):nth-child(-n+21)::before {
  position: absolute;
  content: "=";
  left: -1rem;
  bottom: 0;
  font-size: 1.2rem;
}
#status dl[id^="stt-add"]::before {
  left: -.3rem;
}

#status dl[id^="stt-bonus"] {
  margin-left: .8rem;
}
#status dl[id^="stt-bonus"]::before {
  position: absolute;
  content: "";
  left: -1.9rem;
  bottom: 8px;
  width: 1.4rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: inherit;
}
#status dl[id^="stt-bonus"]::after {
  position: absolute;
  content: "÷6";
  width: 2rem;
  left: -2.2rem;
  bottom: 8px;
  font-size: 1.2rem;
  text-align: right;
}
#status dl[id^="stt-bonus"] dt span {
  display: block;
  width: 3em;
  margin: 0 -.4em;
  transform: scale(0.75, 0.85);
}
#status dl[id^="stt-bonus"] dt span::after { content: "ボーナス"; }
@media screen and (max-width:850px){
  #status dl[id^="stt-bonus"] dt span::after { content: "Ｂ"; }
}
#status dl[id^="stt-bonus"] dd {
  transform: scale(1.2,1.25);
}

/* Sub-Status */
#sub-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  white-space:nowrap;
}
#sub-status *:nth-child(1) { grid-row: 1; grid-column: 1; }
#sub-status *:nth-child(2) { grid-row: 2; grid-column: 1; }
#sub-status *:nth-child(3) { grid-row: 3; grid-column: 1; }
#sub-status *:nth-child(4) { grid-row: 4; grid-column: 1; }
#sub-status *:nth-child(5) { grid-row: 1; grid-column: 2; }
#sub-status *:nth-child(6) { grid-row: 2; grid-column: 2; }
#sub-status *:nth-child(7) { grid-row: 3; grid-column: 2; }
#sub-status *:nth-child(8) { grid-row: 4; grid-column: 2; }
#sub-status dt#mnd-resist,
#sub-status dt#mp {
  border-top-width: 1px;
  border-top-style: dotted;
}
#sub-status dt#vit-resist,
#sub-status dt#mnd-resist,
#sub-status dt#vit-resist + dd,
#sub-status dt#mnd-resist + dd {
  border-right-width: 1px;
  border-right-style: solid;
}
#sub-status dd b {
  font-weight:normal;
  font-size: 1.6rem;
  display: inline-block;
  transform: scaleY(1.1);
}
  
/* Level */
dl#level {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
dl#level dd {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 200%;
}

/* EXP */
dl#exp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
dl#exp dd {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* // Area-Ability
---------------------------------------------------------------------------------------------------- */
#area-ability {
  display: flex;
  justify-content: space-between;
  
  margin-top: 1rem;
  
  line-height: 1.8;
}
#area-ability > * {
  flex-basis: 30%;
  flex-grow: 1;
  margin-left: 1rem;
}
#area-ability > *:first-child {
  margin-left: 0px;
}

#area-ability .box + .box {
  margin-top: 1rem;
}
#area-ability .box > dl,
#area-ability .box > ul {
  margin: 0 5px;
}
#area-ability .box > dl > *:nth-last-child(n+3),
#area-ability .box > ul li:nth-last-child(n+2) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* Classes */
#area-classes {
  position: relative;
}
#area-classes h2 + div {
  position: absolute;
  top: .2rem;
  right: .5em;
  font-size: 80%;
}
#area-classes h2 + div span {
  font-size: 120%;
}
#area-classes dl {
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-rows: auto;
}
#area-classes dl dt {
  grid-column: 1;
  font-weight: normal;
}
#area-classes dl dd {
  grid-column: 2;
  font-size: 1.6rem;
  line-height: 1.6;
}
#area-classes .priest-faith {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
}
#area-classes #priest-faith.narrow {
  margin: 0 -10%;
  transform: scaleX(0.8);
}

/* Combat-feats */
#combat-feats {
}
#combat-feats ul li {
}
#combat-feats ul li[id^=combat-feats-lv] {
  position: relative;
}
#combat-feats ul li[id^=combat-feats-lv]::before {
  display: block;
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 1.1em;
  opacity: 0.5;
  font-size: 80%;
}
#combat-feats ul li[id|="combat-feats"]::before { content: attr(data-lv); }
#combat-feats ul li.fail {
  color: #ee0000;
}

/* Crafts */
#crafts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#crafts > .box {
  width: 100%;
}

/* // Area-Actions & Language
---------------------------------------------------------------------------------------------------- */
#area-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  
  margin-top: 1rem;
  line-height: 1.8;
}
#area-actions > * {
  flex-basis: 30%;
  flex-grow: 1;
  margin-left: 1rem;
}
#area-actions > *:first-child {
  margin-left: 0px;
}
#area-actions .box > table {
  width: calc(100% - 1rem);
  margin: 0 5px;
}
#area-actions .box#package > table:nth-last-child(n+2),
#area-actions .box#magic-power > table tr > *,
#area-actions .box#language > table tr > * {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#area-actions .box#magic-power table,
#area-actions .box#language > table  {
  border-style: hidden;
}
#area-actions .box#package td:last-child,
#area-actions .box#magic-power td:last-child {
  width: 1.8em;
  padding-left: 0.2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* Actions-Package */
#package {}
#package table {
  width: 100%;
}
#package table tr:first-child th:first-child {
  width: 12em;
  white-space: nowrap;
}
#package table tr th:nth-last-child(3) {
  width: 3em;
  white-space: nowrap;
}
#package table tr td:nth-last-child(2) {
  font-size: 90%;
  white-space: nowrap;
  vertical-align: bottom;
}
#package table tr th {
  font-weight: normal;
}
#package table tr {
  border-width: 1px 0 0;
  border-style: dotted;
}
#package table tr:first-child {
  border-width: 0;
}

/* Area-Other-Actions */
#area-other-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#area-other-actions input {
  width: 3.5em;
}
/* Monster-Lore  */
#monster-lore {
  flex-basis: calc(50% - 5px);
}
#monster-lore dd {
  font-size: 1.6rem;
}

/* Initiative */
#initiative {
  flex-basis: calc(50% - 5px);
}
#initiative dd {
  font-size: 1.6rem;
}

/* Mobility */
#mobility {
  flex-grow: 1;
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  
  margin-top: 1rem;
}
#mobility dt {
  grid-row: 1;
}
#mobility dd {
  grid-row: 2;
}
#mobility b {
  font-weight: normal;
  font-size: 1.6rem;
}

/* Magic-Power */
#magic-power{
  flex-basis: auto;
  flex-grow: 0;
  margin-top: 1rem;
  margin-left: 0;
}
#magic-power table tbody th {
  font-weight: normal;
  padding-right: 1em;
}
#magic-power table th:first-child {
}
#magic-power table th:first-child span {
}
#magic-power table th:nth-child(2) {
  white-space: nowrap;
}
#magic-power table th:nth-child(2) > span {
  display: block;
  font-size: 0.85em;
  line-height: 1;
  margin-bottom: 0.3em;
}
#magic-power table td:nth-child(3) {
  text-align: left;
}
#magic-power table td {
}
#magic-power table td:nth-child(4) {
  width: 4em;
  text-align: right;
}
#magic-power table td:nth-child(4):empty {
  width: 0;
}

#magic-power p#magic-power-add {
  margin-top: -1.5em;
  margin-bottom: 0;
  text-align: right;
}
#magic-power p + table {
  border-top-width: 1px;
  border-top-style: solid;
}

/* Language */
#language {
  width: 100%;
  align-self :flex-start;
}
#language table:first-of-type {
  margin-top: -2.1rem !important;
}
#language table tr *:nth-child(n+2) {
  width: 2.4em;
}
#language table td:first-child {
  text-align: left;
}

/* // Area-Equipment
---------------------------------------------------------------------------------------------------- */
#area-equipment {
}
#area-equipment > .box {
  margin-top: 1rem;
}

#area-equipment table {
  width: 100%;
  border-style: hidden;
}
#area-equipment table th {
  padding: 2px 0;
  line-height: 1;
}
#area-equipment table td {
  padding: 1px 0;
  border-width: 1px;
  border-style: solid dotted;
}
#area-equipment table th + td {
  border-left-style: solid;
}
#area-equipment table td b {
  font-weight: normal;
  font-size: 1.6rem;
}

#area-equipment .item-name {
  display: block;
  margin: 0 -6%;
  transform:scaleX(0.88);
}

/* Attack-Status */
#attack-classes {
  width: calc(25% + 24em + 1px);
}
#attack-classes th:nth-child(1) { width:  auto; } /* 名前 */
#attack-classes th:nth-child(2) { width: 3.5em; } /* 必筋 */
#attack-classes th:nth-child(3) { width:   5em; } /* 命中 */
#attack-classes th:nth-child(4) { width: 3.5em; } /* 威力 */
#attack-classes th:nth-child(5) { width: 3.5em; } /* Ｃ値 */
#attack-classes th:nth-child(6) { width:   5em; } /* 追加Ｄ */

#weapons th:nth-child(1) { width:   25%; } /* 名前 */
#weapons th:nth-child(2) { width: 3.5em; } /* 用法 */
#weapons th:nth-child(3) { width: 3.5em; } /* 必筋 */
#weapons th:nth-child(4) { width:   5em; } /* 命中 */
#weapons th:nth-child(5) { width: 3.5em; } /* 威力 */
#weapons th:nth-child(6) { width: 3.5em; } /* Ｃ値 */
#weapons th:nth-child(7) { width:   5em; } /* 追加Ｄ */
#weapons th:nth-child(8) { width:   1em; } /* 専用 */
#weapons th:nth-child(9) { width: auto; } /* 備考 */

#weapons td:last-child { padding-left: .3em; text-align: left; font-size: 90%; } /* 備考 */

/* Defense-Status */
#evasion-classes {
  width: calc(25% + 13em + 1px);
}
#evasion-classes th:nth-child(1) { width:  auto; } /* 名前 */
#evasion-classes th:nth-child(2) { width: 3.5em; } /* 必筋 */
#evasion-classes th:nth-child(3) { width: 3.5em; } /* 回避 */
#evasion-classes th:nth-child(4) { width: 3.5em; } /* 防護 */

#armours th:nth-child(1) { width: 2.5em; } /* 種別 */
#armours th:nth-child(2) { width:   25%; } /* 名前 */
#armours th:nth-child(3) { width: 3.5em; } /* 必筋 */
#armours th:nth-child(4) { width: 3.5em; } /* 回避 */
#armours th:nth-child(5) { width: 3.5em; } /* 防護 */
#armours th:nth-child(6) { width:   1em; } /* 専用 */
#armours th:nth-child(7) { width:  auto; } /* 備考 */

#armours td:nth-child(7) { padding-left: .3em; text-align: left; font-size: 90%; } /* 備考 */

#armours .defense-total th {
  padding-right: 5px;
  text-align: right;
}
#armours .defense-total td {
  font-size: 1.6rem
}


/* Accessories */
#accessories th:nth-child(1) { width: 2.5em; } /* 種別 */
#accessories th:nth-child(2) { width:   25%; } /* 名前 */
#accessories th:nth-child(3) { width: 3.5em; } /* 専用 */
#accessories th:nth-child(4) { width:  auto; } /* 備考 */

#accessories td:nth-child(4) { padding-left: .3em; text-align: left; font-size: 90%; } /* 備考 */



/* // Area-Items
---------------------------------------------------------------------------------------------------- */
#area-items {
  display: flex;
  justify-content: space-between;
  line-height: 1.8;
}
#area-items > div > .box {
  margin-top: 1rem;
}

div#area-items-L {
  flex-basis: 60%;
}
div#area-items-R {
  flex-basis: 40%;
  margin-left: 1rem;
}
/* Money */
#money{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
  #money dt {
    grid-row: 1;
  }
  #money dd {
    grid-row: 2;
  }

/* MaterialCard */
#material-cards > h2 + table {
  margin-top: 0;
}
#material-cards > h2 + table tr > * {
  width: 20%;
}
#material-cards > h2 + table tr > th:first-child {
  width: auto;
  text-align: center;
}
#material-cards > h2 + table tr > td {
  border-width: 0 0 0 1px;
  border-style: dotted;
  
}
#material-cards > h2 + table tr:nth-child(n+2) > th:first-child::before {
  font-family: "Font Awesome 5 Free";
  margin-right: .3rem;
}
#material-cards > h2 + table tr.cards-red { background-color: rgba(255,  0,  0,0.15); } #material-cards > h2 + table tr.cards-red th::before { content:'\f1b0'; color: #a00; }
#material-cards > h2 + table tr.cards-gre { background-color: rgba( 50,255,220,0.15); } #material-cards > h2 + table tr.cards-gre th::before { content:'\f06c'; color: #0c3; }
#material-cards > h2 + table tr.cards-bla { background-color: rgba(125,125,125,0.2); } #material-cards > h2 + table tr.cards-bla th::before { content:'\f013'; color: #777; }
#material-cards > h2 + table tr.cards-whi { background-color: rgba(255,255,255,0.2); } #material-cards > h2 + table tr.cards-whi th::before { content:'\f02d'; color: #bbb; }
#material-cards > h2 + table tr.cards-gol { background-color: rgba(255,210, 50,0.15); } #material-cards > h2 + table tr.cards-gol th::before { content:'\f666'; color: #f90; }

/* BattleItems */
#battle-items ul {
  margin: 0 0.5rem;
  counter-reset: battle-items;
}
#battle-items ul li {
  position: relative;
  counter-increment: battle-items 1;
  padding-left: 1em;
  text-align: left;
}
#battle-items ul li:nth-last-child(n+2) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#battle-items ul li::before {
  content: counter(battle-items);
  display: block;
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 1.1em;
  opacity: 0.5;
  font-size: 80%;
  text-align: center;
}
#battle-items ul li.fail {
  color: #ee0000;
}

/* Honor */
#honor,
#dishonor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
  #honor dt,
  #dishonor dt {
    grid-row: 1;
  }
  #honor dd,
  #dishonor dd {
    grid-row: 2;
  }
#area-items-R table {
  width: calc(100% - 1rem);
  margin: -2.1rem 5px 0;
}
#area-items-R table tr {
  border-width: 0 0 1px;
  border-style: solid;
}
#area-items-R table tr:last-child {
  border-width: 0;
}
#area-items-R table th:first-child,
#area-items-R table td:first-child {
  text-align: left;
}
#area-items-R table tr > td:last-child {
  width: 5em;
}


/* // Free-Memo
---------------------------------------------------------------------------------------------------- */
#free-note,
#free-history{
  margin-top: 1rem;
}


/* // History
---------------------------------------------------------------------------------------------------- */
#history {
  margin-top: 1rem;
}
#history table{
  width: 100%;
  border: hidden;
}
#history table th {
  padding: 2px 0;
  line-height: 1;
  white-space: nowrap;
}
#history table td {
  padding: 1px;
  border-width: 1px;
  border-style: solid dotted;
  font-size: 1.2rem;
}
#history table tr th:nth-child(1) { width:   2em; } /* No. */
#history table tr th:nth-child(2) { width: 5.2em; } /* 日付 */
#history table tr th:nth-child(3) { width:  auto; } /* タイトル */
#history table tr th:nth-child(4) { width: 4.6em; } /* 経験点 */
#history table tr th:nth-child(5) { width:   3em; } /* 名誉点 */
#history table tr th:nth-child(6) { width: 4.5em; } /* ガメル */
#history table tr th:nth-child(7) { width: 3.5em; } /* 成長 */
#history table tr th:nth-child(8) { width:  auto; } /* ＧＭ */
#history table tr th:nth-child(9) { width:  auto; } /* 参加者 */

#history table tr td:nth-child(4) {
}
#history table tr td:nth-child(6) {
  text-align: right;
}
#history table tr td:nth-child(6)::after {
  content: "G";
  margin-left: 2px;
  font-size: 1.1rem;
}
#history table tr td:nth-child(6):empty::after {
  content: "";
}
#history table tr td:nth-child(8),
#history table tr td:nth-child(9) {
  font-size: 1.1rem;
}
#history table tr td:nth-child(8) span {
  display: block;
  min-width: 5em;
}
#history table tr td:nth-child(9) {
  padding: 1px 0;
  text-align: left;
}
#history table tr td:nth-child(9) > span {
  display: inline-block;
  padding: 0 .5em;
}
#history table tr td[colspan] {
  padding-left: .5rem;
  text-align: left;
}
#history table tr td[colspan]:empty {
  display: none;
}
#history table tr td:nth-child(2) a,
#history table tr td a[data-num] {
  display: block;
  background: none;
}
#history table tr td a[data-num]:before {
  content:"#"attr(data-num);
  float: left;
  margin: 0 -0.1em;
  font-size: 90%;
  transform: scale(0.8, 0.8);
  opacity: 0.8;
}

/* // Cashbook
---------------------------------------------------------------------------------------------------- */
#cashbook {
  margin-top: 1rem;
}
#cashbook > div {
  max-height: 16em;
  overflow: auto;
  margin: 0 .5em;
}
#cashbook p {
  margin: .3rem 0 0;
  line-height: 1.5;
  white-space: pre-wrap;
}
#cashbook b.cash {
  padding: 2px 0;
  font-weight: normal;
  background: linear-gradient(to top, rgba(0,255,100,0.3) 0rem, rgba(0,255,100,0.3) .5rem, transparent .5rem);
}

/* // Fellow
---------------------------------------------------------------------------------------------------- */
#fellow #personal-area {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100px 1.1fr 0.3fr 0.6fr;
  grid-template-rows: auto;
  
  grid-template-areas:
    " LVL NAME  IMG  IMG"
    " LVL  PLN  IMG  IMG"
    "RACE RACE  IMG  IMG"
    " PER  PER  IMG  IMG"
    " CLS  CLS  IMG  IMG"
    "LANG LANG  IMG  IMG"
    "NOTE NOTE  IMG  IMG"
    "NOTE NOTE   MP CHCK"
  ;
}
#f-image-none,
#f-image          { grid-area: IMG; }
#f-level          { grid-area: LVL; }
#f-character-name { grid-area: NAME; }
#f-player-name    { grid-area: PLN; }
#f-race           { grid-area: RACE; }
#f-personal       { grid-area: PER; }
#f-classes        { grid-area: CLS ; }
#f-language       { grid-area: LANG; }
#f-mp             { grid-area: MP; }
#f-note           { grid-area: NOTE; }
#f-checkboxes     { grid-area: CHCK; }


#f-image-none,
#f-image          {
  max-height:546px;
}

#fellow #f-level {
  margin: 0 auto;
  width: 52px;
  height: 86px;
  display: block;
  position: relative;
  border-bottom: 0px !important;
}
#fellow #f-level dd {
  width: 100%;
  height: 90px;
  line-height: 80px;
  color: var(--text-color);
  text-align: center;
  font-size: 2.5rem;
  display: block;
  position: relative;
  z-index: 1;
  border-width: 2px 0px;
  border-style: solid;
  border-color: var(--box-outside-border-color);
}
#fellow #f-level::before,
#fellow #f-level::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  border-width: 2px 0px;
  border-style: solid;
  border-color: var(--box-outside-border-color);
}
#fellow #f-level::before {
  transform: rotate(60deg);
}
#fellow #f-level::after {
  transform: rotate(-60deg);
}
#fellow #f-level dt {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}
#fellow dl {
  border-bottom: 1px solid var(--box-outside-border-color);
  font-size: 1.6rem;
}
#fellow dd {
  line-height: 1.3;
}
#fellow dd {
  font-size: 1.8rem;
}

#f-character-name,
#f-player-name {
  margin-left: .5em;
}
#f-character-name dd,
#f-player-name dd {
  text-align: center;
}
#f-character-name dd {
  font-size: 2rem;
}

#f-race,
#f-personal,
#f-classes,
#f-language {
  display: flex;
  justify-content:space-between;
  text-align: left;
  align-items: flex-start;
}
#f-race dt,
#f-personal dt {
  width: 3.1em;
  white-space: nowrap;
}
#f-classes dt,
#f-language dt {
  width: 2.1em;
  white-space: nowrap;
}
#f-race dd,
#f-personal dd,
#f-classes dd,
#f-language dd {
  flex-grow: 1;
}

#f-classes span:not(.priest-faith),
#f-language span {
  display: inline-block;
  margin-left: 1em;
}

#f-classes,
#f-language {
  min-height: 80px;
}

#f-note {
  min-height: 250px;
}
#f-mp dt {
  white-space: nowrap;
}
#f-mp dd {
  text-align: center;
  font-size: 130%;
  line-height: 1;
}

#f-checkboxes dl {
  display: flex;
  max-width: 14em;
  margin-left: auto;
}
#f-checkboxes dt::after {
  content:':';
  position: absolute;
  right: -.5em;
}
#f-checkboxes dt,
#f-checkboxes dd {
  position: relative;
  width: 4em;
  margin-right: 1em;
  white-space: nowrap;
}

#fellow-actions {
  width: 100%;
  margin-top: 1.5rem;
  border: 1px solid;
  border-color: var(--box-outside-border-color);
}
#fellow-actions th {
  border-bottom: 1px solid;
  border-color: var(--box-outside-border-color);
  white-space: nowrap;
}
#fellow-actions td {
  border-bottom: 1px solid;
  border-right: 1px dotted;
  border-color: var(--box-outside-border-color);
  padding: .2rem .5rem;
}

#fellow-actions td[rowspan]{
  width: 2em;
  font-size: 2rem;
  white-space: normal;
  text-align: center;
}
#fellow-actions td.number {
  width: 2.5em;
  font-size: 2rem;
  text-align: center;
}
#fellow-actions td:nth-last-child(2){
  width: 3em;
  font-size: 2rem;
  text-align: center;
}

#fellowNote {
  margin-top: 1.5rem;
}
