@charset "utf-8";

/* ゆとシート for SW2.5 */

/* // フォーム設定
---------------------------------------------------------------------------------------------------- */
html {
  overflow: visible;
}
main {
  overflow: visible;
}
header {
  display: none;
}
footer {
  grid-row: 3;
}

input,
select,
textarea {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
}
select option,
select optgroup {
  background-color: #fff;
  color: #000;
}

input::placeholder {
  opacity: 0.5;
}

h2[onclick],
h4[onclick] {
  cursor: pointer;
}
h2[onclick]:hover,
h4[onclick]:hover {
  background: linear-gradient(to top, #cef 20%, transparent 30%, transparent);
}

.fail input,
.fail select {
  background-color: rgba(125,125,125,0.1);
}
.fail select option,
.fail select optgroup {
  background-color: #ddd;
  color: #000;
}
.hidden {
  display: none;
}

/* // キャラクター
---------------------------------------------------------------------------------------------------- */
.box input[type="text"],
.box input[type="number"],
.box select,
.box textarea,
#status dd input {
  width: calc(100% - 4px);
  min-width: 3em;
  margin: 2px;
  padding: 2px
}
input[type="number"] {
  text-align: center;
}

input[type="submit"],
input[type="button"] {
  background: linear-gradient(to bottom, #ddeeff, #ccccff);
  box-shadow: 1px 1px 0 0 #ffffff inset, -1px -1px 0 0 #bbbbee inset;
}
input[type="submit"]:hover,
input[type="button"]:hover {
  background: linear-gradient(to bottom, rgba(50,150,250,0.5), rgba(50,50,250,0.5));
  color: #ffffff;
}

.box .add-del-button {
  text-align: center;
}

.add-del-button a {
  display: inline-block;
  margin: 0px 2em;
  cursor: pointer;
  transform: scale(3.5, 1);
}

.message {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
}
.message:empty {
  display: none;
}


#edit-protect {
  margin-top: 1rem;
}

#hide-checkbox {
  width: 22em;
  margin-top: 1rem;
  margin-left: auto;
  text-align: left;
}
#hide-checkbox input {
  vertical-align: middle;
}

.box .annotate {
  font-size: 90%;
  padding: 0 1rem;
}
.example {
  background: rgba(170,170,170,0.2);
}


#group dl {
  display: grid;
  grid-template-columns: 4em 1fr 2.5em 3fr;
  grid-template-rows: auto;
  text-align: right;
}

#group dl > * {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#area-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 0.5em;
  background: linear-gradient(to bottom, #dadcdf, #fff);
  border-width: 3px 0;
  border-style: solid;
}
#area-name input {
  width: calc(100% - 1em);
  min-width: 3em;
  margin: 2px;
  padding: 2px
}
#area-name #character-name {
  flex-grow: 1;
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: inherit;
}
#area-name #character-name input {
  width: calc(100% - 8em);
}
#area-name #player-name {
  text-align: left;
  font-weight: bold;
}
#area-name input[type="submit"],
#area-name input[type="button"] {
  width: 100px;
  align-self: stretch;
}
#area-name input[type="button"] {
  background: linear-gradient(to bottom, #e0e7ef, #c0c7cf);
  box-shadow: 1px 1px 0 0 #ffffff inset, -1px -1px 0 0 #bbbbdd inset;
}
#area-name input[type="button"] {
  width: 50px;
}

#regulation {
  margin: 10px 0;
  overflow-y: auto;
}
#regulation dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 10px 0;
}
#regulation dl dt {
  grid-row: 1 / 2;
}
#regulation dl dd {
  grid-row: 2 / 3;
  font-size: 1.2rem;
}
#regulation dl dd:nth-last-child(-n+6) input {
  width: calc(100% - 5em);
}

#area-status {
  grid-template-columns: 0.6fr 0.5fr 1.6fr 1.8fr;
}

@media screen and (max-width:735px){
  #area-status {
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px 5px;

    grid-template-areas:
      "IMG  IMG  IMG"
      "PER  PER  PER "
      "STT  STT  STT "
      "STT  STT  STT "
      "EXP  LVL  sSTT"
    ;
  }
}


#area-status #image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  cursor: unset;
}
#area-status #image div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: unset;
}
#area-status #image select {
  width: calc(100% - 6.5em);
}

#area-status #image .words-input select {
  width: auto;
}


#area-status #faith select {
  font-family: initial;
}

#sub-status input,
#mobility input {
  width: 3.5em;
}

#classes dl {
  grid-template-columns: 1fr 3.5em;
}

#area-status + p {
  margin-top: 1rem;
}

#area-package #package table {
  margin-top: 1px;
  margin-bottom: -1px;
}


#language dl {
  display: grid;
  grid-template-columns: 1fr 2.4em 2.4em;
  grid-template-rows: auto;
  
  margin: 0 5px;
}
#language dl dt {
  font-weight: normal;
}
#language dl dd {
  text-align: center;
}

#magic-power p {
  margin-top: -1em;
  text-align: right;
}
#magic-power p input {
  width: 3.5em;
}
#magic-power table th:nth-child(2) {
  width: 13em;
}
#magic-power table th:nth-child(2) input {
  width: 10em;
}
#magic-power table td:nth-child(3) input {
  vertical-align: middle;
}
#magic-power table td:nth-child(4) {
  padding-left: 1em;
  width: 5.5em;
}
#magic-power table td:nth-child(4) input {
  width: 3.5em;
}

#combat-feats select {
  margin-left: 1em;
  width: calc(100% - 4px - 1em);
}

#weapons {
  width: 100%;
  overflow: auto;
}
@media screen and (max-width:850px){
  #weapons{
    width:calc(100vw - 23px);
  }
}
#weapons table {
  min-width: 800px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#weapons tr {
  display: grid;
  grid-template-columns: 23.3% 4.5em 3.5em 5em 3.5em 3.5em 5em 1.5em 1fr 1fr;
  grid-template-rows: auto;
  
  width: 100%;
}
#weapons tr th {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto !important;
}
#weapons tr td {
  border-bottom-width: 0px;
  border-right-width: 0px;
  vertical-align: middle;
}
#weapons tr td:first-child {
  border-left-width: 0px;
}
#weapons td:nth-child(1) { grid-row: 1 / span 2; } /* 名前 */
#weapons td:nth-child(2) { grid-row: 1 / span 2; } /* 用法 */
#weapons td:nth-child(3) { grid-row: 1 / span 2; } /* 必筋 */
#weapons td:nth-child(4) { grid-row: 1 / span 2; } /* 命中 */
#weapons td:nth-child(5) { grid-row: 1 / span 2; } /* 威力 */
#weapons td:nth-child(6) { grid-row: 1 / span 2; } /* Ｃ値 */
#weapons td:nth-child(7) { grid-row: 1 / span 2; } /* 追加Ｄ */
#weapons td:nth-child(8) { grid-row: 1; } /* 専用 */
#weapons td:nth-child(9) { grid-row: 1; } /* カテゴリ */
#weapons td:nth-child(10){ grid-row: 1; } /* 技能 */
#weapons td:nth-child(11){ grid-row: 2; grid-column: -4 / span 3; } /* 備考 */

#weapons table td {
  font-size: 12px;
}
#weapons table td b {
  font-size: 14px;
}
#weapons td input[name$="Acc"],
#weapons td input[name$="Dmg"] {
  width: 3.5em;
}
#weapons td input[type="checkbox"] {
  vertical-align:bottom;
}
#weapons .annotate {
  text-align: center;
}

#accessories th:nth-child(1) { width: 1.5em; } /*  */
#accessories th:nth-child(2) { width: 2.5em; } /* 種別 */
#accessories th:nth-child(3) { width:   25%; } /* 名前 */
#accessories th:nth-child(4) { width: 4.5em; } /* 専用 */
#accessories th:nth-child(5) { width:  auto; } /* 備考 */

#money input {
  width: calc(100% - 3em);
}

#items textarea {
  height: 20em;
}

#cashbook textarea {
  height: 16em;
}
#cashbook-total-value {
  font-size: 120%;
  font-weight: bold;
}
#cashbook p {
  font-size: 90%;
  font-family: inherit;
  white-space: normal;
  text-align: left;
}


#battle-items input {
  margin-left: 1em;
  width: calc(100% - 4px - 1em);
}

#honor-items table {
  margin-left: 0;
  margin-right: 0;
}

#free-note {
  padding-bottom: .3rem;
}
#free-note textarea {
  height: 16em;
}

#history{
    overflow-x: auto;
}
@media screen and (max-width:850px){
  #history{
    width:calc(100vw - 23px);
  }
}
#history table {
  min-width: 800px;
}
#history table tr {
  display: grid;
  grid-template-columns: 6em 1fr 5em 3.5em 4.5em 5em 6em 15em;
  grid-template-rows: auto;
}
#history table tr th { width: unset !important;}
#history table tr th:nth-child(1) { display:none; } /* No. */
#history table tr td:nth-child(1) { display:none; } /* No. */
#history table tr td:nth-child(2) { grid-row: 1 / span 2; } /* 日付 */
#history table tr td:nth-child(3) { grid-row: 1 / span 2; } /* タイトル */
#history table tr td:nth-child(4) { grid-row: 1; } /* 経験点 */
#history table tr td:nth-child(5) { grid-row: 1; } /* 名誉点 */
#history table tr td:nth-child(6) { grid-row: 1; } /* ガメル */
#history table tr td:nth-child(7) { grid-row: 1; } /* 成長 */
#history table tr td:nth-child(8) { grid-row: 1; } /* ＧＭ */
#history table tr td:nth-child(9) { grid-row: 1; } /* 参加者 */
#history table tr td:nth-child(10){ grid-row: 2; grid-column: 3 / span 6; } /* 備考 */

#history table tr td {
  border-bottom-width: 0px;
  border-right-width: 0px;
  white-space: nowrap;
}
#history table tr td:nth-child(6)::after {
  margin-left: 0px;
  font-size: 1.1rem;
}
#history input[name$="Money"] {
  width: calc(100% - 0.9em);
}
#history .example {
  margin-top: 1em;
}
#history .annotate {
  width: 70%;
  margin: auto 3px auto auto;
}

article > form > hr {
  margin: 5rem 0px;
  border-width: 1px 0 0;
  border-style: solid;
}

#f-public,
#f-checkboxes {
  width: 16em;
  margin-top: 1rem;
  padding: .5em;
}

#f-profile {
  margin-top: 1rem;
}
#f-profile textarea {
  height: 10em;
}

#f-actions {
  margin-top: 1rem;
}
#f-actions table {
  margin-top: 1rem;
}
#f-actions table {
  width: 100%;
}
#f-actions table th {
  white-space: nowrap;
}
#f-actions td:nth-child(1){
  width: 2em;
  font-size: 2rem;
  white-space: normal;
  text-align: center;
}
#f-actions td:nth-child(2){
  width: 2.5em;
  font-size: 2rem;
  text-align: center;
}
#f-actions td:nth-child(5){
  width: 3.5em;
}

#f-note {
  min-height: auto;
  margin-top: 1rem;
}
#f-note textarea {
  height: 10em;
}

#deleteform {
  margin-top: 5rem;
  padding-top: 5rem;
  border-width: 1px 0 0;
  border-style: solid;
  text-align: right;
}

#deleteform input[type="submit"] {
  margin-left: .5rem;
  padding: .3rem .5rem;
}



/* // モンスター
---------------------------------------------------------------------------------------------------- */
form#monster div.box {
  margin: 1rem 0;
}
form#monster h2 {
  font-size: 100%;
}
form#monster #area-name {
  font-weight: bold;
}
form#monster #monster-name {
  flex-grow: 1;
}
form#monster #monster-name input {
  width: calc(100% - 3em);
}
form#monster div.status dl {
  margin: .5rem 0;
}
form#monster div.status input[type="number"],
form#monster div.status input[name^="reputation"],
form#monster div.status input[name="initiative"] {
  width: 5em;
}
form#monster div.status input[name="language"] {
  width: 25em;
}
form#monster table.status {
  border-width: 0;
}
form#monster table.status th {
  background: transparent;
}
form#monster table.status td {
  white-space: nowrap;
}
form#monster table.status td:first-child {
  border-left: 0;
}
form#monster table.status input {
  width: calc(100% - 1.8em);
}
form#monster table.status input[name$="Style"] {
  width: calc(100% - 4px);
}

form#monster div.parts input {
  width: auto;
}
form#monster div.parts input[name="partsNum"] {
  width: 5em;
}

form#monster textarea[name="skills"] + .annotate code {
  font-size: 100%;
  font-family: monospace,serif;
}

form#monster textarea[name="skills"] {
  height: 16em;
  padding: 2px;
}

form#monster textarea[name="description"] {
  height: 16em;
  padding: 2px;
}






