@charset "utf-8";

/* ゆとシート for SW2.5 - リスト */

/* // Article
---------------------------------------------------------------------------------------------------- */
article h1 small {
  display: inline-block;
  font-size: 50%;
}

/* // Aside
---------------------------------------------------------------------------------------------------- */
main aside {
  max-width: 50rem;
  margin: 1rem auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 1.4rem;
}
main aside h2 {
  margin: 0.5em;
  font-size: 2rem;
}
main aside p {
  margin: 1.5em 1em;
}
main aside h2 + p {
  margin-top: 0.5em;
}
main aside hr {
  margin: 1rem;
}

/* // Search-Form
---------------------------------------------------------------------------------------------------- */
form#form-search{
  width: max-content;
  margin-left: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
}
form#form-search h3 {
  width: max-content;
  margin-left: auto;
  padding: 0 1em;
  cursor: pointer;
}
form#form-search h3:hover {
  background-color: rgba(100,200,255,0.2);
}
form#form-search p {
  width: max-content;
  margin: .5rem 1.5rem;
  margin-left: auto;
  padding: .5em 1em;
  text-align: left;
}
form#form-search p input {
  height: 3rem;
  margin: 1px;
  vertical-align:middle;
}
form#form-search p input[type="submit"] {
  display: block;
  margin-left: auto;
}

/* // List
---------------------------------------------------------------------------------------------------- */
.list {
  margin: 1.5rem 0 5rem;
  padding: 1.5rem 0 0;
}
.list h2 {
  font-size: 2rem;
}
.list h2 small {
  font-size: 1.4rem;
  font-weight: normal;
}
.list table {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.list table thead {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}
.list table tbody {
  display: block;
}
.list table tr {
    display: grid;
    grid-template-columns: 28rem 0.8fr 0.4fr 0.6fr 2em 0.8fr 1fr 4rem 0.8fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NAME PL RACE RACE RANK RANK CLS FELL DATE"
      "NAME PL  GEN  AGE  LVL  EXP CLS FELL DATE"
    ;
}
.list table .name   { grid-area: NAME; }
.list table .player { grid-area:   PL; }
.list table .race   { grid-area: RACE; }
.list table .gender { grid-area:  GEN; }
.list table .age    { grid-area:  AGE; }
.list table .rank   { grid-area: RANK; }
.list table .lv     { grid-area:  LVL; }
.list table .exp    { grid-area:  EXP; }
.list table .class  { grid-area:  CLS; }
.list table .fellow { grid-area: FELL; }
.list table .date   { grid-area: DATE; }
.list table tr > th {
  display: grid;
}
.list table tr td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list table th > a,
.list table th > span {
  display: grid;
  align-items: center;
  margin: 1px;
  padding: 5px;
  background: rgba(225,230,235,0.9);
  border-radius: 5px;
  white-space: nowrap;
}
.list table tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;
}
.list table tbody tr:nth-child(even) {
  background: rgba(165,170,175,0.1);
}
.list table tbody tr::before,
.list table tbody tr::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.list table tbody tr:hover::after {
  background: linear-gradient(to top, rgba(100,230,255,0.2), transparent 50%);
}
.list table tbody tr.hide::before {
  background-image: linear-gradient(135deg, rgba(80,80,200,0.3) 10px, transparent 10px);
  background-position: top left;
}
.list table td.lv {
  font-size: 1.15em;
  line-height: 1;
}
.list table th.fellow {
}
.list table th.fellow > span {
  width: 3.9rem;
}
.list table th.fellow > span > span {
  display: block;
  margin: 0 -100%;
  transform: scaleX(0.5)
}
.list table td {
  padding: 5px;
  text-align: center;
}
.list table td.name {
  height: 100%;
  padding: 0;
  line-height: 1;
}
.list table td.name a {
  flex-grow: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  
  font-size: 1.6rem;
  font-weight: bold;
}
.list table td.name a:hover {
  background: rgba(180,200,255,0.1);
}
.list table td.player {
  word-break: break-all;
}
.list table td.race {
}
.list table td.class {
  text-align: left;
  font-size: 80%;
}
.list table td.race > div {
  flex-grow: 1;
  margin: 0 -6%;
  transform: scaleX(0.88);
}
.list table td.class > div {
  flex-grow: 1;
  margin: 0 calc(-6% + -1em) 0 -6%;
  transform: scaleX(0.88);
}
.list table td.class > div > span {
  display: inline-block;
  margin-right: 1em;
}
.list table td.date {
  font-family: Arial;
  font-size: 85%;
}
.list table td.date > div > span {
  display: inline-block;
}
.list table td.fellow {
  font-size: 150%;
  line-height: 1;
}

.list .more {
  padding: .5rem;
  text-align: right;
  font-size: 150%;
  font-weight: bold;
}

/* // List-Item
---------------------------------------------------------------------------------------------------- */
.list.item table tr {
    display: grid;
    grid-template-columns: 24rem 0.5fr 0.6fr 6em 1fr 0.4fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NAME AUTHOR CATEGORY PRICE SUMMARY DATE"
    ;
}
.list.item table .name    { grid-area: NAME; }
.list.item table .author  { grid-area: AUTHOR; }
.list.item table .category{ grid-area: CATEGORY; }
.list.item table .price   { grid-area: PRICE; }
.list.item table .summary { grid-area: SUMMARY; }
.list.item table .date    { grid-area: DATE; }
.list.item table td.name a {
  font-size: 1.4rem;
}
.list.item table td.category,
.list.item table td.summary {
  font-size: 1.2rem;
}
/* アイテムアイコン */
.i-icon {
  width: 1em;
  height: 1em;
}

/* // List-Monster
---------------------------------------------------------------------------------------------------- */
.list-monster ul {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
}
.list-monster ul li {
}
.list-monster ul li.hide {
  background-image: linear-gradient(135deg, rgba(80,80,200,0.3) 20px, transparent 20px);
  background-position: top left;
  border-radius: 1rem;
}
.list-monster ul li a {
  display: block;
  position: relative;
  padding: 1em;
  background-color: rgba(225,235,255,0.1);
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}
.list-monster ul li a::before {
  content: 'Lv'attr(data-lv);
  position: absolute;
  top: .1em;
  left: .5em;
  font-weight: normal;
}
.list-monster ul li a small {
  display: block;
  position: absolute;
  right: .5em;
  bottom: .1em;
  font-weight: normal;
}
.list-monster ul li a small::before {
  content:"by "
}
.list-monster ul li a:hover {
  background: rgba(180,200,255,0.1);
}

/* // List-Making
---------------------------------------------------------------------------------------------------- */
#making {
  max-width: 400px;
  margin: 3em auto;
}
#making form dl {
  display: grid;
  grid-template-columns: 5em 1fr;
}
#making form dl dt {
  text-align: justify;
  text-align-last: justify;
}
#making form dl dt,
#making form dl dd {
  padding: 0.2em 0.5em;
  border-width: 0 0 1px;
  border-style: solid;
}
#making form dl dd:nth-of-type(2) input {
  width: 100%;
}
#making form dl dd:nth-of-type(3) input {
  width: 4.5em;
  text-align: center;
}

#making-posts h2 {
  text-align: center;
}
#making-posts .post {
  max-width: 500px;
  margin: .5em auto 1.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
}
#making-posts .post h3 {
  padding: 0.1em 0.3em;
  background: rgba(100,120,190,0.25);
}
#making-posts .post p {
  padding: 0.5em 1.5em
}
#making-posts .post dl {
  margin: .5em;
}
#making-posts .post dt {
}
#making-posts .post dd {
  margin: 0 .5em .5em;
}
#making-posts .post table {
  min-width: 400px;
  margin: .5em auto 1.5em;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
#making-posts .post table tr {
  border-width: 1px;
  border-style: solid;
}
#making-posts .post table th {
  position: relative;
  padding: 0.2em 0.5em;
  background: rgba(100,120,190,0.15);
  text-align: left;
}
#making-posts .post table th a {
  display: inline-block;
  position: absolute;
  top: 0.4em;
  right: .5em;
  font-size: 85%;
  font-weight: normal;
}
#making-posts .post table td {
  padding: 0.2em 0.5em;
  border-width: 1px;
  border-style: dotted;
}
#making-posts .post table td > span {
  font-size: 90%;
}
#making-posts .navigation {
  text-align: center;
}
#making-posts .navigation a {
  display: inline-block;
}
#making-posts .navigation a + a {
  margin-left: 3em;
}

/* // Form
---------------------------------------------------------------------------------------------------- */
section.form {
  margin: 10%;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
section.form h2 {
  font-size: 2rem;
}
form input,
form select {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
form p {
  position: relative;
  margin: 1em;
  text-align: center;
}
form p > label > span {
  display: inline-block;
  width: 11em;
  text-align: right;
}
form p > label >  input + b{
  display: inline-block;
  position: absolute;
  bottom: 2px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: visible;
  font-size: 12px;
}
form p > input[type="submit"] {
  width: 5em;
}