@charset "utf-8";

/* ゆとシート for SW2.5 - リスト */

/* // Aside
---------------------------------------------------------------------------------------------------- */
main aside {
  max-width: 50rem;
  margin: 1rem auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 1.4rem;
}
main aside h2 {
  margin: 0.5em;
  font-size: 2rem;
}
main aside p {
  margin: 1.5em 1em;
}
main aside h2 + p {
  margin-top: 0.5em;
}

/* // Search-Form
---------------------------------------------------------------------------------------------------- */
form#form-search p {
  margin: .5rem 1.5rem;
  text-align: right;
}
form#form-search p input {
  height: 3rem;
  margin: 1px;
  vertical-align:middle;
}

/* // List
---------------------------------------------------------------------------------------------------- */
.list {
  margin: 1.5rem 0 5rem;
  padding: 1.5rem 0 0;
}
.list h2 {
  font-size: 2rem;
}
.list h2 small {
  font-size: 1.4rem;
  font-weight: normal;
}
.list table {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.list table thead {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}
.list table tbody {
  display: block;
}
.list table tr {
    display: grid;
    grid-template-columns: 28rem 0.8fr 0.4fr 0.6fr 0.8fr 1fr 4rem 0.8fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NAME PL RACE RACE  LVL CLS FELL DATE"
      "NAME PL  GEN  AGE  EXP CLS FELL DATE"
    ;
}
.list table .name   { grid-area: NAME; }
.list table .player { grid-area:   PL; }
.list table .race   { grid-area: RACE; }
.list table .gender { grid-area:  GEN; }
.list table .age    { grid-area:  AGE; }
.list table .lv     { grid-area:  LVL; }
.list table .exp    { grid-area:  EXP; }
.list table .class  { grid-area:  CLS; }
.list table .fellow { grid-area: FELL; }
.list table .date   { grid-area: DATE; }
.list table tr > th {
  display: grid;
}
.list table tr td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list table th > span {
  display: grid;
  align-items: center;
  margin: 1px;
  padding: 5px;
  background: rgba(225,230,235,0.9);
  border-radius: 5px;
  white-space: nowrap;
}
.list table tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;
}
.list table tbody tr:nth-child(even) {
  background: rgba(165,170,175,0.1);
}
.list table tbody tr:before,
.list table tbody tr:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.list table tbody tr:hover:after {
  background: linear-gradient(to top, rgba(100,230,255,0.2), transparent 50%);
}
.list table tbody tr.hide:before {
  background-image: linear-gradient(135deg, rgba(80,80,200,0.3) 10px, transparent 10px);
  background-position: top left;
}
.list table th.fellow {
}
.list table th.fellow > span {
  width: 3.9rem;
}
.list table th.fellow > span > span {
  display: block;
  margin: 0 -100%;
  transform: scaleX(0.5)
}
.list table td {
  padding: 5px;
  text-align: center;
}
.list table td.name {
  height: 100%;
  padding: 0;
  line-height: 1;
}
.list table td.name a {
  flex-grow: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5px;
  
  font-size: 1.6rem;
  font-weight: bold;
}
.list table td.name a:hover {
  background: rgba(180,200,255,0.1);
}
.list table td.player {
  word-break: break-all;
}
.list table td.race {
}
.list table td.class {
  text-align: left;
  font-size: 80%;
}
.list table td.race > div {
  flex-grow: 1;
  margin: 0 -6%;
  transform: scaleX(0.88);
}
.list table td.class > div {
  flex-grow: 1;
  margin: 0 calc(-6% + -1em) 0 -6%;
  transform: scaleX(0.88);
}
.list table td.class > div > span {
  display: inline-block;
  margin-right: 1em;
}
.list table td.date {
  font-family: Arial;
  font-size: 85%;
}
.list table td.date > div > span {
  display: inline-block;
}
.list table td.fellow {
  font-size: 150%;
  line-height: 1;
}

.list .more {
  padding: .5rem;
  text-align: right;
  font-size: 140%;
  font-weight: bold;
}

/* // Form
---------------------------------------------------------------------------------------------------- */
section.form {
  margin: 10%;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
section.form h2 {
  font-size: 2rem;
}
form input {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
form p {
  position: relative;
  margin: 1em;
  text-align: center;
}
form p > label > span {
  display: inline-block;
  width: 11em;
  text-align: right;
}
form p > label >  input + b{
  display: inline-block;
  position: absolute;
  bottom: 2px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: visible;
  font-size: 12px;
}
form p > input[type="submit"] {
  width: 5em;
}