@media screen and (max-width:735px){
  html {
    font-size: 1.8vw;
  }
}
@media screen and (max-width:767px){
  #area-status {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.7fr 0.7fr 1.5fr 2.1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "PER  PER  PER  PER"
      "STT  STT  STT  IMG"
      "STT  STT  STT  IMG"
      "LVL  EXP  sSTT IMG"
    ;
  }
}
@media screen and (max-width:735px){
  #area-status {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.7fr 0.7fr 1.5fr 2.1fr;
    grid-template-rows: auto;

    grid-template-areas:
      "PER  PER  PER  PER"
      "STT  STT  STT  IMG"
      "STT  STT  STT  IMG"
      "LVL  EXP  sSTT IMG"
    ;
  }
  
  .image p.words,
  .image-none p.words {
    font-size: 1.6rem;
  }
  
  #status {
    grid-gap: 5px 1rem;
    grid-template-columns: 1fr 1fr 1fr 1.4fr 1fr 1.2fr;
  }
  
  #area-ability {
    flex-wrap: wrap;
  }
  #area-ability > * {
    flex-basis: calc(50% - 1rem);
  }
  #area-ability > *:last-child {
    margin-top: 1rem;
    margin-left: 0px;
  }
  
  #area-actions {
  display: flex;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }
  #area-actions > * {
    margin: 0;
  }
  #language { grid-row: 1 / 3; grid-column: 2 / 3; }
  
  
  #fellow #personal-area {
    grid-template-areas:
      " LVL NAME NAME"
      " LVL  PLN  PLN"
      "RACE RACE  IMG"
      " PER  PER  IMG"
      " CLS  CLS  IMG"
      "LANG LANG  IMG"
      "NOTE NOTE  IMG"
      "NOTE NOTE CHCK"
    ;
  }

  #fellow #f-level {
    width: 46px;
    height: 76px;
}
  #fellow #f-level dd {
    height: 80px;
    line-height: 70px;
    font-size: 2.5rem;
}
  #f-image-none,
  #f-image          {
    max-height: 35rem;
  }
  #f-note {
    min-height: 6rem
  }
}