@charset "utf-8";

/* ゆとシート for SW2.5 */

/* // Base
---------------------------------------------------------------------------------------------------- */

html {
  overflow-x: hidden;
}

a:link    { color: #77f; }
a:visited { color: #a7f; }

code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 90%;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,meiryo,monospace,serif;
  background-color: rgba(100,250,170,0.4);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 1rem 0 3rem;
  overflow: hidden;
}

footer {
  height: auto;
}

.box {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.box h2 {
  font-size: 1.4rem;
}
.box h2,
.box dl:first-child > dt,
dl.box > dt,
#status > dl > dt {
  padding-left: 2px;
  line-height: 1.5;
  white-space: nowrap;
}

.box,
#status > dl {
  background: linear-gradient(to bottom, #dadcdf 0, transparent 2.5rem);
  box-shadow: 1px 1px 2px 0px #ccc;
  background-color: rgba(255,255,255,0.5);
}
dl#sub-status {
  background: linear-gradient(to bottom, #dadcdf 0, transparent 2.5rem, transparent 50%, #dadcdf 50%, transparent calc(50% + 2.5rem));
  background-color: rgba(255,255,255,0.5);
}

.box dd,
.box li,
.box td {
  text-align: center;
}

.box * { border-color: #aaa; }
.box { border-color: #999; }

.box p {
  margin: .3rem .5em 0;
  line-height: 1.8em;
}
.box p:empty {
  display: none;
}
.box hr {
  border-width: 1px 0 0;
  border-style: solid;
  margin: .8em .5em;
}
.box hr.dotted {
  border-style: dotted;
}
.box hr.dashed {
  border-style: dashed;
}
.box h2:nth-child(n+2){
  margin: 1.8em 0 -1em;
  padding-bottom: 1em;
  border-width: 1px 0 0;
  border-style: solid;
  background: linear-gradient(to bottom, #dadcdf 0, transparent 2.5rem);
}
.box h3 {
  position: relative;
  margin: 1.3em .3em 0;
  line-height: 1.2;
  font-size: 110%;
}
.box h3:after {
  content:'';
  position: absolute;
  top: 60%; left: 0; right: 0; bottom: 0;
  background: linear-gradient(to right, rgba(150,170,190,0.3), transparent);
  line-height: 1.2;
}
.box h4 {
  position: relative;
  margin: 1.3em .5em 0;
  line-height: 1.2;
  font-size: 103%;
}
.box h4:after {
  content:'';
  position: absolute;
  top: calc(100% - .2rem); left: 0; right: 0; bottom: 0;
  background: linear-gradient(to right, rgba(150,170,190,0.5), transparent);
}
.box h5 {
  position: relative;
  margin: 1.4em .5em 0;
  line-height: 1.2;
  font-size: 100%;
}

.box h2 + h3,
.box h2 + h4,
.box h3 + h4,
.box h2 + h5,
.box h3 + h5,
.box h4 + h5 {
  margin-top: calc(0.7em);
}

.box p + p {
  margin-top: 0em;
  padding-top: 0;
}

/* テキスト処理 */
.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
ruby {
  position: relative;
}
ruby rt {
  position: relative;
  top: 0.6ex;
  font-family: Arial;
}
.oblique {
  font-family: "游ゴシック Medium","Yu Gothic Medium";
  font-style: oblique;
}
.strike {
  text-decoration: line-through;
}
.underline {
  background: linear-gradient(to top, transparent 10%, rgba(255,100,0,0.5) 10%, rgba(255,100,0,0.5) 25%, transparent 25%);
}
.text-em {
  -webkit-text-emphasis: dot filled;
  text-emphasis: dot filled;
}
.d-dash {
  display: inline-block;
  font-family: "メイリオ","Meiryo","小塚明朝 Pro","Kozuka Mincho Pro","小塚明朝Std","Kozuka Mincho Std",sans-serif;
  transform: scaleX(0.90);
}
.d-dash > span {
  display: inline-block;
  transform: scaleX(1.2);
}
table.note-table,
table.note-table th,
table.note-table td {
  margin: 3px .5em  .5em;
  border-width: 1px;
  border-style: solid;
}
/* 能力アイコン */
.s-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  color: transparent;
  text-align: center;
}
.s-icon:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-size: 85%;
  color: #000;
}
.s-icon.passive:before {
  content: "\f111";
  font-weight: normal;
}
.s-icon.setup:before {
  content: "△";
  font-weight: normal;
  text-shadow: -.08rem 0 0 #000, 0 .08rem 0 #000, -.08rem .08rem 0 #000;
}
.s-icon.major:before {
  content: "\f04b";
  font-weight: bold;
}
.s-icon.minor:before {
  content:"\f04e";
  font-weight: bold;
}
.s-icon.active:before {
  content: "\f4ad";
  font-weight: normal;
  transform: scale(-1, 1);
}


/* // Font
---------------------------------------------------------------------------------------------------- */
body,
header nav {
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","HiraKakuProN-W3","メイリオ","Meiryo",sans-serif;
}

/* // Nav
---------------------------------------------------------------------------------------------------- */
header nav ul li  {
  margin: 0.6rem 1.2rem 0;
  width: 4.2rem;
  height: 4.2rem;
  font-size: 1.2rem;
  line-height: calc(4.2rem + 1rem + 1.2rem);
}
header nav ul li.small  {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
  line-height: calc(3rem + 1rem + 1rem);
}

header nav ul li:nth-last-child(even)  {
  top: 1.5rem;
}
header nav ul li:nth-last-child(odd)  {
  top: 0rem;
}
header nav ul li + li {
  margin-left: 0.5rem;
}
header nav ul li + li.small {
  margin-left: 0.3rem;
}
header nav ul li.small + li.small {
  margin-left: 0rem;
}
header nav ul li a span {
  display: inline-block;
  white-space: nowrap;
  margin: 0 -15%;
  transform: scaleX(0.7);
  font-size: 90%;
}


/* // Log-in Form
---------------------------------------------------------------------------------------------------- */
#login-form {
  position: absolute;
  top: -5rem;
  right: 10%;
  width: 300px;
  padding: 4rem 2rem 1rem;
  background: #fff;
  text-align: center;
  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 0 1px 1px;
  border-style: solid;
  
  z-index: 99;
  transition: top 0.3s;
}

#login-form input {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.3rem;
  line-height: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}




/* // Tags
---------------------------------------------------------------------------------------------------- */
#tags {
  margin: .5rem;
  margin-right: -.5rem;
  min-height: 0.1px;
}
#tags a {
  display: inline-block;
  margin-right: 1rem;
  padding: .2rem .5rem .2rem .2rem;
  border-radius: 12px 5px 5px 12px;
  background-color: rgba(140,170,200,0.3);
  color: inherit;
}
#tags a:before {
  content:"●";
  color: #fff;
  font-size: 80%;
}
#tags a:hover {
  background-color: rgba(120,220,220,0.4) !important;
}
#tags a#group {
  margin-right: 1rem;
  padding: .2rem 1rem;
  border-radius: 5px;
  background-color: rgba(140,200,170,0.3);
  color: inherit;
}
#tags a#group:before {
  content:'';
}


/* // Image-Box
---------------------------------------------------------------------------------------------------- */
#image-box {
  position: fixed;
  bottom: -100vh;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  background-color: rgba(0,0,0,0.7);
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
#image-box-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}


/* // Backup
---------------------------------------------------------------------------------------------------- */
aside#backuplist {
  position: absolute;
  min-width: 13rem;
  height: calc(100vh - 10rem);
  top: 8rem;
  right: -100vh;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(255,255,255,0.9);
  
  overflow-y: auto;
  
  transition-property: right;
  transition-duration: 0.2s;
  
  z-index: 300;
}
aside#backuplist ul {
}
aside#backuplist ul li + li {
  border-width: 1px 0 0;
  border-style: dotted;
}
aside#backuplist ul li.backup-now {
  background-color: rgba(100,200,255,0.2);
}
aside#backuplist ul li a {
  display: block;
  padding: .3rem 3rem .3rem 1.5rem;
  color: #000;
}
aside#backuplist ul li a:hover {
  background: linear-gradient(to top, rgba(100,200,255,0.2) 20%, transparent 20%);
}


/* // Error
---------------------------------------------------------------------------------------------------- */
aside#error {
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  width: 20em;
  padding: 1em;
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
  background: #fcc;
  text-align: center;
  font-size: 1.6rem;
  
  transition-property: opacity, top;
  transition-duration: 3s;
  
  z-index: 101;
}







