@charset "utf-8";

/* ゆとシート for SW2.5 */

/* // Font
---------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&text=0123456789');
@import url('https://fonts.googleapis.com/css?family=Raleway:500,700&text=ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž%26%20');
@import url('https://fonts.googleapis.com/css?family=Kosugi&text=%E2%80%9C%E2%80%9D');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap');

:root {
  --base-font-family-jp : "BIZ UDGothic","Hiragino Kaku Gothic ProN","HiraKakuProN-W3","Kosugi","Meiryo",sans-serif;
  --base-font-family-min: "Noto Serif JP","YuMincho","ヒラギノ明朝 ProN W3","Hiragino Mincho ProN",serif;
  --base-font-family-mono: "BIZ UDGothic", monospace;
}

body {
  font-family: "Varela Round","Raleway",var(--base-font-family-jp);
}
header nav {
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","HiraKakuProN-W3","Meiryo",sans-serif;
}
textarea,tt {
  font-family: var(--base-font-family-mono);
  font-size: inherit;
}

/* // Base
---------------------------------------------------------------------------------------------------- */
:root {
  --box-head-bg-color: hsla(
    var(--box-head-bg-color-h, 225),
    var(--box-head-bg-color-s,  9%),
    var(--box-head-bg-color-l, 65%),
    var(--box-head-bg-color-a, 0.4)
  );
  --box-head-bg-color-pale: hsla(
    var(--box-head-bg-color-h, 225),
    var(--box-head-bg-color-s,  9%),
    var(--box-head-bg-color-l, 65%),
    var(--box-head-bg-color-a, 0.25)
  );
  --box-base-bg-color: hsla(
    var(--box-base-bg-color-h,   0),
    var(--box-base-bg-color-s,   0%),
    var(--box-base-bg-color-l, 100%),
    var(--box-base-bg-color-a, 0.5)
  );
  --box-outside-border-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.15 ),
    60%
  );
  --box-inside-border-color: hsl(
    var(--box-base-bg-color-h, 0),
    calc( var(--box-base-bg-color-s,   0%) * 0.3 ),
    65%
  );
}
.night {
  --box-base-bg-color: hsla(
    var(--box-base-bg-color-h,   0),
    var(--box-base-bg-color-s,  0%),
    var(--box-base-bg-color-d, 15%),
    var(--box-base-bg-color-a, 0.5)
  );
  --box-outside-border-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.15 ),
    35%
  );
  --box-inside-border-color: hsl(
    var(--box-base-bg-color-h, 0),
    calc( var(--box-base-bg-color-s,   0%) * 0.3 ),
    25%
  );
}

html {
  overflow-x: hidden;
}

main article a         { background: linear-gradient(to top, hsla(var(--box-head-bg-color-h,230),100%,80%,0.7) .2rem, transparent .2rem, transparent); }
main article a:link    { color: hsl(var(--box-head-bg-color-h,230),90%,40%); }
main article a:visited { color: hsl(var(--box-base-bg-color-h,270),40%,40%); }
main article a:hover   { color: #000; background: hsla(var(--box-head-bg-color-h,230),100%,80%,0.7); }
.night main article a         { background: linear-gradient(to top, hsla(var(--box-head-bg-color-h,230),100%,20%,0.7) .2rem, transparent .2rem, transparent); }
.night main article a:link    { color: hsl(var(--box-head-bg-color-h,210),100%,70%); }
.night main article a:visited { color: hsl(var(--box-base-bg-color-h,270), 40%,60%); }
.night main article a:hover   { color: #fff; background: hsla(var(--box-head-bg-color-h,230),100%,20%,0.7); }

main article a[onclick] { background: none; }

code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 90%;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,meiryo,monospace,serif;
  background-color: rgba(100,250,170,0.4);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 1rem 0 3rem;
  overflow: hidden;
}

footer {
  height: auto;
}

.box {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.box h2 {
  font-size: 1.4rem;
}
.box h2,
dl.box > dt {
  padding-left: 2px;
  line-height: 1.5;
  white-space: nowrap;
}
.box > h2,
dl.box > dt,
.box > table:first-child > tbody > tr > th {
  text-shadow: 0px 0px .3em #fff;
}
.night .box > h2,
.night dl.box > dt,
.night .box > table:first-child > tbody > tr > th {
  text-shadow: 0px 0px .3em #000;
}

.box {
  background-image: linear-gradient(to bottom, var(--box-head-bg-color) 0, transparent 2.5rem);
  background-repeat: no-repeat;
  box-shadow: 1px 1px 2px 0px #ccc;
  background-color: var(--box-base-bg-color);
}
.night .box {
  box-shadow: 1px 1px 2px 0px #335;
}
.box.box-2row {
  background-image: linear-gradient(to bottom, var(--box-head-bg-color) 0, transparent 2.5rem, transparent 50%, var(--box-head-bg-color) 50%, transparent calc(50% + 2.5rem));
  background-color: var(--box-base-bg-color);
}

.box dd,
.box li,
.box td {
  text-align: center;
}

.box { border-color: var(--box-outside-border-color); }
.box * { border-color: var(--box-inside-border-color); }

.box p {
  margin: .3rem .5em 0;
  line-height: 1.8;
}
.box p:empty {
  display: none;
}
.box > h2 + p:empty + * {
  margin-top: .3rem;
}
.box hr {
  border-width: 1px 0 0;
  border-style: solid;
  margin: .8em .5em;
}
.box hr.dotted {
  border-style: dotted;
}
.box hr.dashed {
  border-style: dashed;
}
.box h2:nth-child(n+2) {
  margin: 1.8em 0 -1em;
  padding-bottom: 1em;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--box-outside-border-color);
  background-image: linear-gradient(to bottom, var(--box-head-bg-color-pale) 0, transparent 2.5rem);
}
.box h3 {
  position: relative;
  margin: 1.3em .3em 0;
  line-height: 1.2;
  font-size: 110%;
  z-index: 0;
}
.box h3::after {
  content:'';
  position: absolute;
  top: 60%; left: 0; right: 0; bottom: 0;
  background-image: linear-gradient(to right, var(--box-head-bg-color-pale), transparent);
  line-height: 1.2;
  z-index: -1;
}
.box h4 {
  position: relative;
  margin: 1.3em .5em 0;
  line-height: 1.2;
  font-size: 103%;
  z-index: 0;
}
.box h4::after {
  content:'';
  position: absolute;
  top: calc(100% - .2rem); left: 0; right: 0; bottom: 0;
  background-image: linear-gradient(to right, var(--box-head-bg-color-pale), transparent);
  z-index: -1;
}
.box h5 {
  position: relative;
  margin: 1.4em .5em 0;
  line-height: 1.2;
  font-size: 100%;
}

.box h2 + h3,
.box h2 + h4,
.box h3 + h4,
.box h2 + h5,
.box h3 + h5,
.box h4 + h5 {
  margin-top: calc(0.7em);
}

.box p + p {
  margin-top: 0em;
  padding-top: 0;
}

.box.chat-palette {
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background: #fff;
  transition: top 0.3s;
  z-index: 1;
}
.night .box.chat-palette {
  background: #000;
}
.box.chat-palette iframe {
  width: calc(100% - 2em);
  height: calc(100vh - 120px - 3em);
  margin: 0 1em 1em;
  background: #fff;
}

/* テキスト処理 */
.left   { text-align: left !important; }
.center { text-align: center !important; }
.right  { text-align: right !important; }
ruby {
}
ruby rt {
  font-family: Arial,var(--base-font-family-jp);
  transform: translateY(0.2em);
}
.oblique {
  font-family: "BIZ UDGothic","游ゴシック Medium","Yu Gothic Medium",var(--base-font-family-min);
  font-style: oblique;
}
.strike {
  text-decoration: line-through;
}
.underline {
  background: linear-gradient(to top, transparent 10%, rgba(255,100,0,0.5) 10%, rgba(255,100,0,0.5) 25%, transparent 25%);
}
.text-em {
  -webkit-text-emphasis: dot filled;
  text-emphasis: dot filled;
}
.d-dash {
  display: inline-block;
  font-family: "Meiryo","小塚明朝 Pro","Kozuka Mincho Pro","Kozuka Mincho Std",sans-serif;
  transform: scaleX(0.90);
}
.d-dash > span {
  display: inline-block;
  transform: scaleX(1.2);
}
.small {
  font-size: 80%;
}
table.note-table,
table.note-table th,
table.note-table td {
  margin: 3px .5em  .5em;
  padding: 0 .5em;
  border-width: 1px;
  border-style: solid;
}
dl.note-description {
  display: grid;
  grid-template-columns: auto 1fr;
  
  margin: .3rem .5em 0;
  line-height: 1.8;
  text-align: left;
}
dl.note-description dt {
  grid-column: 1 / 2;
  border-width: 0 0 1px;
  border-style: dotted;
  text-align: center;
}
dl.note-description dd {
  grid-column: 2 / 3;
  text-align: left;
  padding-left: 1em;
  border-width: 0 0 1px;
  border-style: dotted;
}
/* アイテムアイコン */
.i-icon {
  width: 1em;
  height: 1em;
}

/* 能力アイコン */
.s-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  color: transparent;
  text-align: center;
}
.s-icon::after,
.s-icon::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-size: 85%;
  color: #000;
}
.night .s-icon::after,
.night .s-icon::before {
  color: #fff;
}
.s-icon.passive::before {
  content: "\f111";
  font-weight: normal;
}
.s-icon.setup::before {
  content: "△";
  font-weight: normal;
  text-shadow: -.08rem 0 0 #000, 0 .08rem 0 #000, -.08rem .08rem 0 #000;
}
.night .s-icon.setup::before {
  text-shadow: -.05rem 0 0 #fff, 0 .05rem 0 #fff, -.05rem .05rem 0 #fff;
}
.s-icon.major::before {
  content: "\f04b";
  font-weight: bold;
}
.s-icon.minor::before {
  content:"\f04e";
  font-weight: bold;
}
.s-icon.active::after {
  content: "\f00c";
  font-weight: bold;
  transform: scale(0.6,0.6);
}
.s-icon.active::before {
  content: "\f075";
  font-weight: normal;
  transform: scale(-1, 1);
}

/* // Nav
---------------------------------------------------------------------------------------------------- */
header nav ul li  {
  margin: 0.6rem 1.2rem 0;
  width: 4.2rem;
  height: 4.2rem;
  font-size: 1.2rem;
  line-height: calc(4.2rem + 1rem + 1.2rem);
}
header nav ul li.small  {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
  line-height: calc(3rem + 1rem + 1rem);
}

header nav ul li:nth-last-child(even)  {
  top: 1.5rem;
}
header nav ul li:nth-last-child(odd)  {
  top: 0rem;
}
header nav ul li + li {
  margin-left: 0.5rem;
}
header nav ul li + li.small {
  margin-left: 0.3rem;
}
header nav ul li.small + li.small {
  margin-left: 0rem;
}
header nav ul li a span {
  display: inline-block;
  white-space: nowrap;
  margin: 0 -15%;
  transform: scaleX(0.8);
  font-size: 90%;
}


/* // Log-in Form
---------------------------------------------------------------------------------------------------- */
#login-form {
  position: absolute;
  top: -5rem;
  right: 10%;
  width: 300px;
  padding: 4rem 2rem 1rem;
  background: #fff;
  text-align: center;
  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 0 1px 1px;
  border-style: solid;
  
  z-index: 99;
  transition: top 0.3s;
}
.night #login-form {
  background: #334455;
}

#login-form input {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.3rem;
  line-height: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}




/* // Tags
---------------------------------------------------------------------------------------------------- */
#tags {
  margin: .5rem;
  margin-right: -.5rem;
  min-height: 0.1px;
}
#tags a {
  display: inline-block;
  margin-right: 1rem;
  padding: .2rem .5rem .2rem .2rem;
  border-radius: 12px 5px 5px 12px;
  background-color: rgba(140,170,200,0.3);
  background-image: none;
  color: inherit;
}
#tags a::before {
  content:"●";
  color: #fff;
  font-size: 80%;
}
.night #tags a::before {
  color: #000;
}
#tags a:hover {
  background-color: rgba(120,220,220,0.4) !important;
}
#tags a#group {
  margin-right: 1rem;
  padding: .2rem 1rem;
  border-radius: 5px;
  background-color: rgba(140,200,170,0.3);
  color: inherit;
}
#tags a#group::before {
  content:'';
}


/* // Image-Box
---------------------------------------------------------------------------------------------------- */
#image-box {
  position: fixed;
  bottom: -100vh;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  background-color: rgba(0,0,0,0.7);
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
#image-box-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}


/* // Backup
---------------------------------------------------------------------------------------------------- */
aside#backuplist {
  position: absolute;
  min-width: 13rem;
  height: calc(100vh - 10rem);
  top: 8rem;
  right: -100vh;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgba(255,255,255,0.9);
  
  overflow-y: auto;
  
  transition-property: right;
  transition-duration: 0.2s;
  
  z-index: 300;
}
.night aside#backuplist {
  background: rgba(0,0,0,0.9);
}
aside#backuplist ul {
}
aside#backuplist ul li + li {
  border-width: 1px 0 0;
  border-style: dotted;
}
aside#backuplist ul li.backup-now {
  background-color: rgba(100,200,255,0.2);
}
aside#backuplist ul li a {
  display: block;
  padding: .3rem 3rem .3rem 1.5rem;
  color: #000;
}
.night aside#backuplist ul li a {
  color: #fff;
}
aside#backuplist ul li a:hover {
  background: linear-gradient(to top, rgba(100,200,255,0.2) 20%, transparent 20%);
}


/* // Error
---------------------------------------------------------------------------------------------------- */
aside#error {
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  width: 20em;
  padding: 1em;
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
  background: #fcc;
  text-align: center;
  font-size: 1.6rem;
  
  transition-property: opacity, top;
  transition-duration: 3s;
  
  z-index: 101;
}







