@charset "utf-8";

/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-xx.png);
}
@media screen and (max-width:735px){
  body {
    background-size: auto, 70%;
  }
}
/* // Layout
---------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1400px){
  body {
    grid-template-columns: minmax(0, 1fr) minmax(auto, 1800px) minmax(0, 1fr);
  }
  header nav {
    max-width: 1800px;
  }
  article{
    max-width: 1760px;
    display: grid;
    grid-gap: 0 1.2rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 0 1.2rem;
    position: relative;
  }
  #area-name, #tags {
    grid-column: span 2;
  }
  .column-status{
    grid-row: span 2;
  }
  #area-battle {
    grid-row: span 1;
  }
  #free-note {
    grid-column: 1;
  }
  #enc-bonus {
    grid-column: 2;
    align-self: end;
  }
}
/* // Font
---------------------------------------------------------------------------------------------------- */
#history {
  font-family: "Kosugi","Arial",var(--base-font-family-jp);
}
#character-name,
.words {
  font-family: var(--base-font-family-min);
}
#character-name rt {
  font-family: Arial,var(--base-font-family-min);
}

/* // Name / Date
---------------------------------------------------------------------------------------------------- */
#area-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  padding: 0px 5px;
  border-width: 3px 0px;
  border-style: solid;
  
  background-image: linear-gradient(to right, var(--box-head-bg-color), var(--box-base-bg-color));
  background-color: var(--bg-color);
  border-color: var(--box-outside-border-color, inherit);
}
h1#character-name {
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: var(--bg-color) 0px 0px .5em,
    var(--bg-color)  .1rem .1rem, var(--bg-color) -.1rem -.1rem,
    var(--bg-color) -.1rem .1rem, var(--bg-color)  .1rem -.1rem,
    var(--bg-color)  .0rem .1rem, var(--bg-color)  .0rem -.1rem,
    var(--bg-color) -.1rem .0rem, var(--bg-color)  .1rem  .0rem;
}
#aka {
  margin-right: .5em;
}
#area-name > div { 
  text-align: right;
  font-size: 1.2rem;
}
#update-time {
}
#player-name {
}
@media screen and (min-width:1400px){
  
}

/* // Common
---------------------------------------------------------------------------------------------------- */
.data-table {
  width: 100%;
  border-style: hidden hidden none;
}
.data-table:last-child {
  border-bottom-style: hidden;
}
.data-table.side-margin,
.data-tables.side-margin table,
.data-tables.side-margin ul,
.data-tables.side-margin dl {
  width: calc(100% - 1rem);
  margin: 0 .5rem;
}
table.data-table > tbody tr {
  border-width: 1px 0;
  border-style: solid;
}
table.data-table:not(.side-margin) thead th {
  padding: .3rem 0 .2rem;
  border-width: 0;
  line-height: 1;
}
table.data-table tbody td,
ul.data-table > li,  .data-tables ul > li,
dl.data-table > *,   .data-tables dl > *  {
  padding: .2em 0;
  line-height: 1.4;
}
table.data-table:not(.side-margin) tbody th,
table.data-table:not(.side-margin) tbody td {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: dotted;
  border-right-style: dotted;
}
table.data-table:not(.side-margin).line-tbody tbody:nth-of-type(even) tr > *,
table.data-table:not(.side-margin):not(.line-tbody) tbody tr:nth-of-type(even) > * {
  background-color: var(--box-even-rows-bg-color);
}

ul.data-table > li,  .data-tables ul  > li,
dl.data-table > *,   .data-tables dl  > *  {
  border-width: 0 0 1px;
  border-style: solid;
}
ul.data-table:last-child > li:last-child,
dl.data-table:last-child > dt:last-of-type,
dl.data-table:last-child > dt:last-of-type ~ dd,
.data-tables ul:last-child > li:last-child,
.data-tables dl:last-child > dt:last-of-type,
.data-tables dl:last-child > dt:last-of-type ~ dd {
  border-bottom-style: hidden;
}

table.data-table tbody td:empty::before {
  content: '　';
}
table.data-table tbody tr td span {
  display: inline-block;
}
table.data-table tbody tr td span.thin {
  transform: scaleY(calc(1/0.93));
  font-size: 93%;
}
table.data-table tbody tr td span.thiner {
  transform: scaleY(calc(1/0.86));
  font-size: 86%;
}
table.data-table tbody tr td span.thinest {
  transform: scaleY(calc(1/0.8));
  font-size: 79%;
}
table.data-table tbody tr td span.thinest.small {
  transform: scaleY(calc(1/0.8));
  font-size: 73%;
}
table.data-table tbody tr td:nth-child(9) span.thinest.small {
  transform: scaleY(calc(1/0.8)) translateY(-.1rem);
  font-size: 70%;
}

/* // Area-Status
---------------------------------------------------------------------------------------------------- */
#area-status {
  min-height: 56.7rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 0.7fr 1.1fr 1.1fr 2.115fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "PER PER WKS IMG"
    "REN REN REN IMG"
    "EXP STT STT IMG"
    "LFP LFP LFP IMG"
  ;
}
#image-none,
#image      { grid-area: IMG; }
#personal   { grid-area: PER; }
#sub-status { grid-area: STT; }
#works-cover{ grid-area: WKS; }
#renegade   { grid-area: REN; }
#exp        { grid-area: EXP; }
#lifepath   { grid-area: LFP; }

@media screen and (max-width:767px){
  #area-status {
    min-height: 0%;
    grid-gap: .5rem;
    grid-template-columns: 0.6fr 0.8fr 1.5fr 2.1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "PER PER PER WKS"
      "REN REN REN IMG"
      "EXP STT STT IMG"
      "LFP LFP LFP IMG"
    ;
  }
}
@media screen and (max-width:735px){
  #area-status {
    grid-template-columns: 0.5fr 0.9fr 1.5fr 2.1fr;
    grid-template-areas:
      "PER PER PER IMG"
      "WKS WKS WKS IMG"
      "REN REN REN IMG"
      "EXP STT STT IMG"
      "LFP LFP LFP LFP"
    ;
  }
}


#area-status dd:empty::before,
#area-status td:empty::before {
  content: '　';
}

/* Image */

/* Personal */
#personal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#personal dl:nth-child(n+4) {
  border-top-width: 1px;
}
#personal dl:not(:nth-child(3n+1)) {
  border-left-width: 1px;
  border-left-style: dotted;
}

/* Works */
#works-cover {
  display: grid;
  grid-template-columns: 1fr;
}
#works-cover dl:last-child {
  border-top-width: 1px;
}


/* Renegade */
#renegade {
  display: grid;
  grid-template-columns: 0.8fr 3fr;
}
#renegade dd {
  font-family: var(--font-proportional);
  font-feature-settings: "palt";
}
#renegade dl:first-child {
}
#renegade dl:last-child {
  border-left-width: 1px;
  border-left-style: dotted;
}
#breed {
  display: grid;
  grid-template-columns: 1fr;
}
#syndrome {
  display: grid;
  grid-gap: 0 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
#syndrome dt:last-of-type {
  grid-column: 3;
  font-size: 85%;
  line-height: calc(1.5 / .85);
}
#syndrome dd {
  grid-row: 2;
  white-space: nowrap;
}
@media (max-width:860px), (min-width:1400px) and (max-width:1680px) {
  #renegade {
    grid-template-columns: 5em auto;
  }
  #breed dd span {
    display: none;
  }
  #syndrome dd {
    font-size: 0.9em;
    transform: scaleY(calc(1/0.9));
  }
}
@media screen and (max-width:735px){
  #renegade {
    grid-template-columns: 1fr;
  }
  #renegade dl:last-child {
    border-width: 1px 0 0;
  }
  #breed dd span {
    display: inline;
  }
}

/* Sub-Status */
#sub-status {
  display: flex;
  flex-wrap: wrap;
  white-space:nowrap;
}
#sub-status dl#max-hp     { flex-basis: 33.3%; }
#sub-status dl#stock-pt   { flex-basis: 33.3%; }
#sub-status dl#saving     { flex-basis: 33.3%; }
#sub-status dl#initiative { flex-basis: 25%; }
#sub-status dl#move       { flex-basis: 25%; }
#sub-status dl#dash       { flex-basis: 25%; }
#sub-status dl#magic-dice { flex-basis: 25%; }
#sub-status dl {
  flex-grow: 1;
  margin: -1px 0 0 -1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-left-style: dotted;
}
#sub-status dl:nth-child(n+4) {
}
#sub-status dl:not(:nth-child(1)):not(:nth-child(4)) {
}
#sub-status dl dd b {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
  transform: scale(1.3) translateY(-.1rem);
}
@media screen and (min-width:1400px) and (max-width:1550px){
  #sub-status dl span.shorten {
    font-size: 85%;
  }
}
@media screen and (min-width:1400px) and (max-width:1450px){
  #sub-status dl span.shorten {
    display: none;
  }
}
@media screen and (max-width:767px){
  #sub-status dl span.shorten {
    font-size: 85%;
  }
}
@media screen and (max-width:735px){
  #sub-status dl span.shorten {
    display: none;
  }
}

/* EXP */
#exp {
  display: grid;
}
#exp dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: end;;
  margin: 0 .5rem;
  line-height: 1;
  white-space: nowrap;
}
#exp dl > * {
}
#exp dl > *:not(:last-of-type) {
  border-width: 0 0 .1rem;
  border-style: solid;
}
#exp dl dt {
  grid-column: 1;
  font-size: 80%;
  padding: 0 0 .3rem;
}
#exp dl dd {
  grid-column: 2;
  text-align: right;
  font-size: 120%;
  padding: .3rem 0 .1rem;
}
@media screen and (max-width:735px){
  #exp span.shorten {
    display: none;
  }
}

/* Lifepath */
#lifepath {
  align-self: end;
}
#lifepath table {
  width: 100%;
  /* min-height: calc(100% - 1.4rem * 1.5); */
  border-style: solid hidden hidden;
  empty-cells: hide;
}
#lifepath table th:first-child {
  width: 6.2em;
}
#lifepath table th.small,
#lifepath table th.left {
  border-width: 1px;
  border-style: solid dotted hidden;
}
#lifepath table th.left {
  padding: .3rem 0 0 .3rem;
  line-height: 1;
}
#lifepath table th.right {
  padding-right: .2rem;
  font-size: 93%;
}
#lifepath table th.right.small {
  font-size: 87%;
}
#lifepath table td {
  border-width: 1px;
  border-style: solid dotted;
}
#lifepath table td:first-child {
  font-family: var(--font-proportional);
  font-feature-settings: "palt";
}
#lifepath table td.center {
  width: 2.2em;
  font-size: 110%;
}
#lifepath table td.center.bold {
  font-size: 130%;
  font-weight: normal;
}
#lifepath table td.left {
  padding: .1rem 0 .1rem .3rem;
  line-height: 1.4;
  font-size: 93%;
}
#lifepath table tr.urge th {
  padding-top: .2rem;
  font-size: 87%;
}
@media screen and (max-width:735px){
}


/* // Status / Skills
---------------------------------------------------------------------------------------------------- */
#status {
  margin-top: 1rem;
}
#status table {
  width: 100%;
  table-layout: fixed;
}
#status table thead {
  border-width: 0 0 1px;
  border-style: solid;
}
#status table thead td {
  width: 2.8em;
  border-width: 1px;
  border-style: solid;
  font-size: 130%;
}
#status table thead tr.breakdown {
  display: none;
}
#status table thead tr.breakdown th {
  border-top-width: 1px;
  border-top-style: solid;
  font-weight: normal;
  font-size: 90%;
}
#status table thead tr.breakdown td {
  font-weight: normal;
  font-size: 100%;
}
#status table tbody {
  border-style: none hidden hidden;
  font-family: var(--font-proportional);
  font-feature-settings: "palt";
}
#status table tbody td {
  border-width: 1px 0px;
  border-style: solid;
}
#status table tbody td.left {
  padding-left: .5em;
}
#status table tbody td.right {
  padding-right: .1rem;
  border-right-width: 1px;
  font-size: 120%;
  white-space: nowrap;
}
#status table tbody td.right span.small {
  display: inline-block;
  margin: 0 -.3em 0 -1em;
  font-size: 70%;
  transform: scaleX(0.8);
}
#status table tbody td.right::after {
  content: 'Lv';
  margin-left: .1em;
  font-size: 70%;
}
@media screen and (max-width:735px){
  #status table thead td {
    width: 2.2em;
  }
  #status table tbody {
    font-size: 90%;
  }
  #status table tbody td.left {
    font-size: 90%;
  }
  #status table tbody td.right {
    padding-right: .15em;
    font-size: 1.3em;
  }
  #status table tbody td.right::after {
    display: none;
  }
}

/* // Lois / Memory
---------------------------------------------------------------------------------------------------- */
#lois,
#memory,
#insanity {
  margin-top: 1rem;
}
#lois table,
#memory table {
  width: 100%;
}
#lois table thead th,
#memory table thead th {
  padding-left: .5rem;
  text-align: left;
  vertical-align: bottom;
}
#lois table thead th.right {
  padding-right: .3rem;
}
#lois table tbody tr,
#memory table tbody tr {
  border-width: 1px 0 0;
  border-style: solid;
}
#lois table tbody,
#memory table tbody {
  font-family: var(--font-proportional);
  font-feature-settings: "palt";
}
#lois table tbody td:nth-child(1) { width: 6.2em; border-right-width: 1px; } /* 関係 */
#lois table tbody td:nth-child(2) { width: 14em; border-right-width: 1px; }  /* 名前 */
#lois table tbody td:nth-child(3) { width: 4.8em; } /* 感情 */
#lois table tbody td:nth-child(4) { width: 1.2em; }
#lois table tbody td:nth-child(5) { width: 4.8em; border-right-width: 1px; }
#lois table tbody td:nth-child(6) { width: 2.6em; border-right-width: 1px; } /* 属性 */
#lois table tbody td:last-child { width: 3em; } /* 状態 */
@media screen and (max-width:735px){
  #lois table tbody { font-size: 90%; }
  #lois table tbody td:nth-child(1) { width: 5.2em; } 
  #lois table tbody td:nth-child(2) { width: 10em; }
  #lois table tbody td:nth-child(3) { width: 4.8em; }
  #lois table tbody td:nth-child(4) { width: 1.2em; }
  #lois table tbody td:nth-child(5) { width: 4.8em; }
  #lois table tbody td:nth-child(6) { width: 2.6em; }
}
@media screen and (min-width:1400px) and (max-width:1680px) {
  #lois table tbody td:nth-child(2) { width: 12em; }
  #lois table tbody td.left { font-size: 90%; }
}
#lois table tbody td.emo {
  text-align: left;
}
#lois table tbody td.emo::before {
  content: "\e5ca";
  display: inline-grid;
  place-items: center;
  width: 1em;
  height: 1em;
  margin: 0 1px;
  border-radius: .3rem;
  line-height: 1;
  font-size: 1.3em;
  vertical-align: top;
  background-color: var(--bg-color);
  box-shadow: var(--box-inside-border-color) inset 0 0 1px 1px;
  color: transparent;
  font-family: "Material Symbols Outlined";
  font-weight: bold;
}
#lois table tbody td.emo.checked::before {
  color: inherit;
}
#lois table tbody td:nth-child(4) {
  border-style: solid hidden;
}
#lois table tbody td.left {
  padding-left: .5em;
}
#lois table tbody td:last-child {
  border-left: hidden;
}
#lois table tbody td span[data-state] {
  display: inline-block;
  width: calc(100% - .2rem);
  margin: .1rem;
  padding: .2rem 0;
  border-width: .1rem;
  border-style: solid;
  border-radius: .5rem;
  font-size: 73%;
  text-align: center;
  white-space: nowrap;
}
#lois table tbody span[data-state]::before {
  content: attr(data-state);
  display: inline-block;
  transform: scaleY(1.2);
}
#lois table tbody span[data-state="ロイス"]  { background-color: hsla(120,100%,50%,0.05); }
#lois table tbody span[data-state="タイタス"]{ background-color: hsla(200,100%,50%,0.3); font-weight: bold; }
#lois table tbody span[data-state="昇華"]    { background-color: hsla( 50,100%,50%,0.3); font-weight: bold; }

#memory table tbody td:nth-child(1) { width: 6.2em; border-right-width: 1px; } /* 関係 */
#memory table tbody td:nth-child(2) { width:  14em; border-right-width: 1px; } /* 名前 */
#memory table tbody td:nth-child(3) { width: 4.5em; border-right-width: 1px; } /* 感情 */
#memory table tbody td.left {
  padding-left: .5em;
}

#insanity dl {
  display: grid;
  grid-template-columns: 10em auto;
  border-width: 1px 0 0;
  border-style: solid;
}
#insanity dl dt {
  padding: .2em 0;
  border-width: 0 1px 0 0;
  border-style: dotted;
  text-align: center;
}
#insanity dl dd {
  padding: .2em .5em;
  text-align: left;
}


/* // Area-Battle
---------------------------------------------------------------------------------------------------- */
#area-battle {
  position: relative;
}
@media screen and (min-width:1400px){
  #area-battle {
    margin-top: -1rem;
  }
}
#area-battle > .box {
  margin-top: 1rem;
}
#area-battle > .box > table {
  width: 100%;
  border-style: hidden;
}
#area-battle > .box > table tbody tr {
  border-width: 1px 0 0;
  border-style: solid;
}
#area-battle > .box > table tbody td {
  border-left-width: 1px;
  border-style: dotted;
}

/* Effects */
#effect {
  position: relative;
}
#effect table thead th {
  vertical-align: bottom;
}
#effect table thead th:nth-child(n+4) {
  font-size: 90%;
}
#effect table thead th:nth-child(1) { width: 2.1em; } /* No. */
#effect table thead th:nth-child(2) { width:  auto; } /* 名称 */
#effect table thead th:nth-child(3) { width:   2em; } /* Lv */
#effect table thead th:nth-child(4) { width: 8.4em; } /* タイミング */
#effect table thead th:nth-child(5) { width: 7.0em; } /* 技能 */
#effect table thead th:nth-child(6) { width: 3.8em; } /* 難易度 */
#effect table thead th:nth-child(7) { width: 5.8em; } /* 対象 */
#effect table thead th:nth-child(8) { width: 4.8em; } /* 射程 */
#effect table thead th:nth-child(9) { width: 3.4em; } /* 侵蝕値 */
#effect table thead th:nth-child(10){ width: 4.9em; } /* 制限 */

#effect table tbody td:nth-child(n+2) {
  font-family: var(--font-proportional);
  font-feature-settings: "palt";
}
#effect table tbody td:nth-child(1) {  } /* No. */
#effect table tbody td:nth-child(2) { font-weight: bold; } /* 名称 */
#effect table tbody td:nth-child(3) {  } /* Lv */
#effect table tbody td:nth-child(4) { font-size: 90%; } /* タイミング */
#effect table tbody td:nth-child(5) { font-size: 90%; } /* 技能 */
#effect table tbody td:nth-child(6) { font-size: 90%; } /* 難易度 */
#effect table tbody td:nth-child(7) { font-size: 90%; } /* 対象 */
#effect table tbody td:nth-child(8) { font-size: 90%; } /* 射程 */
#effect table tbody td:nth-child(9) {  } /* 侵蝕値 */
#effect table tbody td:nth-child(10){ font-size: 90%; } /* 制限 */

#effect table tbody td.left {
  padding-left: .5rem;
  display: none;
}
#effect table tbody:hover td.left {
  display: table-cell;
}
#effect table tbody td.left span.right {
  float: right;
  font-size: 90%;
}
.ef-auto {
  display: block;
  transform: scaleY(calc(1/0.66));
  font-size: 0.66em;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: hsl(200,30%,50%);
  white-space: nowrap;
}
.ef-auto::before {
  content: '自動';
}
.ef-dlois {
  display: block;
  margin: -1.5em;
  transform: scale(0.5);
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: hsl(0,30%,50%);
}
.ef-dlois::before {
  content: 'D';
  display: block;
  transform: scale(1.1,0.9) translateY(.1em);
  font-size: 3em;
}
.ef-dlois::after {
  display: block;
  content: 'ロイス';
  white-space: nowrap;
  transform: translateY(-.1em);
}
.ef-easy {
  display: block;
  margin: -1em;
  transform: scale(0.8, 0.7) translateY(.25em);
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: hsl(100,30%,50%);
}
.ef-easy::before {
  content: 'EA';
  display: block;
}
.ef-easy::after {
  content: 'SY';
  display: block;
}
.ef-enemy {
  display: block;
  margin: -1.5em;
  transform: scale(0.5);
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: hsl(270,30%,50%);
}
.ef-enemy::before {
  content: 'E';
  display: block;
  transform: scale(1.1,0.9) translateY(.1em);
  font-size: 3em;
}
.ef-enemy::after {
  display: block;
  content: 'NEMY';
  white-space: nowrap;
  transform: translateY(-.1em);
}
.ef-other::before {
  content: '他';
  color: hsl(0,0%,50%);
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
}
@media screen and (max-width:735px){
  #effect table thead tr,
  #effect table tbody tr {
    display: grid;
    grid-template-columns: 2.1em 2em 6em auto 4em 5.5em 3em 3em 4.9em;
    border-width: 0 0 1px;
  }
  #effect table tbody tr:last-child { border: 0; }
  #effect table thead th {
    width: auto !important;
  }
  #effect table thead th:nth-child(2) {
    display: none;
  }
  #effect table tbody td[rowspan] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #effect table tbody td {
    font-size: 100% !important;
    border-width: 0 0 0 1px;
    border-style: dotted;
  }
  #effect table tbody td.name {
    grid-row: 1; grid-column: 1 / span 9;
    text-align: left;
    padding-left: .5rem;
    border-width: 0 0 1px;
    border-style: solid;
  }
  #effect table tbody td.left {
    grid-row: 1; grid-column: 1 / span 9;
    border-width: 1px 0 0;
    border-style: solid;
  }
  #effect table tbody td:first-child { border-left: 0; }
  #effect table tbody td:last-child  { border-right: 0; }
  #effect table tbody td span.shorten {
    display: none !important;
  }
  #effect table tbody td span.thin,
  #effect table tbody td span.thiner,
  #effect table tbody td span.thinest {
    transform: scaleY(calc(1/0.9)) !important;
    font-size: 90% !important;
  }
  .ef-dlois {
    margin: -1.5em;
  }
}

#magic table thead th {
  font-size: 90%;
}
#magic table thead th:nth-child(1) { width:  16em; } /* 名称 */
#magic table thead th:nth-child(2) { width: 4.5em; } /* 種別 */
#magic table thead th:nth-child(3) { width: 3.5em; } /* 経験点 */
#magic table thead th:nth-child(4) { width: 5.5em; } /* 発動値 */
#magic table thead th:nth-child(5) { width: 3.4em; } /* 侵蝕値 */
#magic table thead th:nth-child(6) { width: auto; } /* 効果 */

#magic table tbody td:nth-child(1) { font-weight: bold; } /* 名称 */


/* Combos */
#combo .combo-table {
  display: grid;
  grid-template-columns: 1.7fr 1.3fr 2fr;
  grid-template-rows: max-content max-content 1fr;
  grid-template-areas:
    "NAME COMB COMB"
    "  IN   IN  OUT"
    "NOTE NOTE  OUT"
  ;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
}
#combo .combo-table:nth-of-type(even) {
  background: var(--box-even-rows-bg-color);
}
#combo .combo-table h3 { grid-area: NAME; }
#combo .combo-table .combo-combo { grid-area: COMB; }
#combo .combo-table .combo-in    { grid-area:   IN; }
#combo .combo-table .combo-out   { grid-area:  OUT; }
#combo .combo-table .combo-note  { grid-area: NOTE; }
#combo .combo-table h3 {
  display: grid;
  place-items: center;
  margin: 0;
  border-width: 0 0 1px;
  border-style: solid;
  background: none;
}
#combo .combo-table dl dt {
  padding: .2rem 0 .1rem;
  font-size: 80%;
  white-space: nowrap;
}
#combo .combo-table dl dd {
  font-size: 90%;
  padding: .1em 0;
  border-top-width: 1px;
  border-top-style: solid;
}
#combo .combo-table dl dd:empty {
  padding: 0;
}
#combo .combo-table .combo-combo {
  border-width: 0 0 1px 1px;
  border-style: solid;
}
#combo .combo-table .combo-combo dt {
  padding-left: .3em;
  text-align: left;
}
#combo .combo-table .combo-combo dd {
  text-align: left;
  padding-left: .5em;
}
#combo .combo-table .combo-combo dd:empty::before {
  content: "";
  display: inline-block;
}
#combo .combo-table .combo-in {
  display: flex;
  border-width: 0 1px 0 0;
  border-style: solid;
}
#combo .combo-table .combo-in dl {
  flex-grow: 1;
  display: grid;
  grid-template-rows: max-content auto;
}
#combo .combo-table .combo-in dl:nth-child(1) { flex-basis: auto; }
#combo .combo-table .combo-in dl:nth-child(2) { flex-basis: 15%; }
#combo .combo-table .combo-in dl:nth-child(3) { flex-basis: 3.5em; }
#combo .combo-table .combo-in dl:nth-child(4) { flex-basis: 6em; }
#combo .combo-table .combo-in dl:nth-child(5) { flex-basis: 4em; }
#combo .combo-table .combo-in dl:nth-child(6) { flex-basis: 3em; flex-shrink: 1; flex-grow: 0; }
#combo .combo-table .combo-in dl dd {
  display: grid;
  place-items: center;
}
#combo .combo-table .combo-in dl + dl dd {
  border-left-width: 1px;
  border-left-style: dotted;
}
#combo .combo-table .combo-out {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: max-content auto;
}
#combo .combo-table .combo-out .combo-cond  { grid-column: 1; }
#combo .combo-table .combo-out .combo-dice  { grid-column: 2; }
#combo .combo-table .combo-out .combo-crit  { grid-column: 3; }
#combo .combo-table .combo-out .combo-fixed { grid-column: 4; }
#combo .combo-table .combo-out .combo-atk   { grid-column: 5; }
#combo .combo-table .combo-out dd.combo-dice  ,
#combo .combo-table .combo-out dd.combo-crit  ,
#combo .combo-table .combo-out dd.combo-fixed ,
#combo .combo-table .combo-out dd.combo-atk   { font-size: 1.2em; }
#combo .combo-table .combo-out > dd:not(.combo-cond) {
  border-left-width: 1px;
  border-left-style: dotted;
}
#combo .combo-table .combo-out dd {
  display: grid;
  place-items: center;
}
#combo .combo-table .combo-out dd.combo-cond  {
  font-size: 80%;
}
#combo .combo-table .combo-note {
  margin: 0;
  padding: .2em .5em;
  border-width: 1px 1px 0 0;
  border-style: solid;
  text-align: left;
  line-height: 1.4;
}
#combo .combo-table .combo-note:empty {
  display: unset;
}

#combo .combo-table .combo-combo dd span.thin {
  display: inline-block;
  font-size: 90%;
  transform: scaleY(calc(1/0.9));
  text-decoration: inherit;
}
#combo .combo-table .combo-in dd span {
  display: inline-block;
}
#combo .combo-table .combo-in dd span.thin          { transform: scaleY(calc(1/0.93)); font-size: 93%; }
#combo .combo-table .combo-in dd span.thiner        { transform: scaleY(calc(1/0.86)); font-size: 86%; }
#combo .combo-table .combo-in dd span.thinest       { transform: scaleY(calc(1/0.8));  font-size: 79%; }
#combo .combo-table .combo-in dd span.thinest.small { transform: scaleY(calc(1/0.8));  font-size: 73%; }

@media screen and (max-width:735px){
  #combo .combo-table {
    grid-template-columns: 11fr;
    grid-template-areas:
      "NAME"
      "COMB"
      "  IN"
      " OUT"
      "NOTE"
    ;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
  }
  #combo .combo-table h3 {
    display: block;
    padding: .5rem .2em;
    text-align: left;
    border: 0;
  }
  #combo .combo-table dl dd {
    font-size: inherit;
  }
  #combo .combo-table .combo-combo {
    display: grid;
    grid-template-columns: max-content 1fr;
    border-width: 1px 0;
    border-style: solid;
  }
  #combo .combo-table .combo-combo dt {
    padding-left :.5em;
    padding-right:.5em;
  }
  #combo .combo-table .combo-combo dd {
    padding-left: .2em;
    border-width: 0 0 0 1px;
    border-style: dotted;
  }
  #combo .combo-table .combo-in {
    margin: .5rem 0;
    border-width: 0 0 1px;
    border-style: solid;
  }
  #combo .combo-table .combo-out {
    border-width: 0 0 1px;
    border-style: solid;
  }
  #combo .combo-table .combo-note {
    margin: .5rem 0;
    border-width: 0;
    border-style: solid;
  }
  #combo .shorten {
    display: none !important;
  }
}

#combo[data-display-mode="simple"] .combo-table h3 {
  border-bottom: none;
}
#combo[data-display-mode="simple"] .combo-table .combo-combo {
  display: grid;
  align-items: center;
  border-bottom: none;
}
#combo[data-display-mode="simple"] .combo-table .combo-combo > dd {
  border-top: none;
}
#combo[data-display-mode="simple"] .combo-table .combo-combo > dt,
#combo[data-display-mode="simple"] .combo-table .combo-in ,
#combo[data-display-mode="simple"] .combo-table .combo-out,
#combo[data-display-mode="simple"] .combo-table .combo-note {
  display: none;
}
@media screen and (max-width:735px){
  #combo[data-display-mode="simple"] .combo-table .combo-combo {
    display: block;
  }
}
/* Items */
#items {
  margin-top: 1rem;
}
#items table {
  border-width: 0 0 1px;
  border-style: solid hidden !important;
}
#items .box:last-child table {
  border-bottom-style: hidden !important;
}
#items table thead th {
  height: 2em;
  vertical-align: bottom;
}
#items table thead th:nth-child(n+2) {
  font-size: 90%;
}
#items table thead th:nth-child(1) { width:  12em; } /* 名称 */
#items table thead th:nth-child(2) { width: 3.4em; } /* 常備化 */
#items table thead th:nth-child(3) { width: 3.4em; } /* 経験点 */
#items table thead th:nth-child(4) { width: 5.5em; } /* 種別 */
#items table thead th:nth-child(5) { width: 5.9em; } /* 技能 */
#items table thead th:nth-child(6) { width: 3.4em; } /* 命中  ／ドッジ */
#items table thead th:nth-child(7) { width: 3.9em; } /* 攻撃力／行動 */
#items table thead th:nth-child(8) { width: 3.4em; } /* ガード／装甲値 */
#items table thead th:nth-child(9) { width: 3.4em; } /* 射程 */
#items table thead th:last-child   { width: auto; text-align: left; padding-left: 1em; } /* 解説 */

#items table tbody td {
  font-family: var(--font-proportional);
  font-feature-settings: "palt";
}
#items table tbody td:nth-child(1) {  } /* 名称 */
#items table tbody td:nth-child(2) {  } /* 常備化 */
#items table tbody td:nth-child(3) {  } /* 経験点 */
#items table tbody td:nth-child(4) { font-size: 90%; } /* 種別 */
#items table tbody td:nth-child(5) { font-size: 90%; } /* 技能 */
#items table tbody td.range  { font-size: 90%; } /* 射程 */
#items table tbody td span.handle {
  display: block;
  width: 2em;
}
#items table tbody td span.handle::before {
  content: ':::';
}
#items table tbody td.left {
  padding-left: .3rem;
  font-size: 90%;
}
@media screen and (max-width:735px){
  #items table { font-size: 90%; }
  #items table thead th:nth-child(1) { width:   8em; } /* 名称 */
  #items table thead th:nth-child(2) { width: 3.4em; } /* 常備化 */
  #items table thead th:nth-child(3) { width: 3.4em; } /* 経験点 */
  #items table thead th:nth-child(4) { width: 5.5em; } /* 種別 */
  #items table thead th:nth-child(5) { width: 5.9em; } /* 技能 */
  #items table thead th:nth-child(6) { width: 3.4em; } /* 命中  ／ドッジ */
  #items table thead th:nth-child(7) { width: 3.4em; } /* 攻撃力／行動 */
  #items table thead th:nth-child(8) { width: 3.4em; } /* ガード／装甲値 */
  #items table thead th:nth-child(9) { width: 3.4em; } /* 射程 */
  #items table thead th:last-child   { width: auto; } /* 解説 */
}

/* Exps */
#exps table {
  table-layout: fixed;
}

/* Encroach-Bonus
---------------------------------------------------------------------------------------------------- */
#enc-bonus {
  position: sticky;
  bottom: 0;
  margin-top: 1rem;
  background-image: none;
  background-color: var(--bg-color);
  border-radius: 5px;
}
#enc-bonus details:not([open]) summary::after {
  content: '（クリックで展開）';
  font-size: 90%;
}
#enc-bonus p {
  margin: -1.4em 0 0 9em;
}
#enc-bonus p input#current-encroach {
  width: 4em;
  padding: .1em;
  text-align: center;
  vertical-align: text-bottom;
  font-size: 110%;
  font-weight: bold;
}
#enc-bonus p input[type="checkbox"] {
  margin: 0 .4rem 0 1em;
  transform: scale(1.4);
}
#enc-bonus p input[type="checkbox"] + label {
  display: inline-block;
  user-select: none;
  cursor: pointer;
}
#enc-bonus p input[type="checkbox"]:not(:checked) + label {
  opacity: 0.5;
}
#enc-bonus p input[type="checkbox"] + label:hover {
  opacity: 0.8;
}
#enc-bonus table {
  border-top: 1px;
  border-bottom: hidden;
  table-layout: fixed;
}
#enc-bonus table col.current {
  background-color: hsla(340,100%,50%,0.3);
}
#enc-bonus table th {
  font-size: 80%;
  line-height: 1;
  padding: .2rem;
}
#enc-bonus table td {
  padding: .2rem 0 .1rem;
  line-height: 1;
}

@media screen and (max-width:735px){
  #enc-bonus p {
    margin: 0 0 0 1em;
  }
  #enc-bonus p input#current-encroach {
    font-size: 150%;
  }
}

[data-edb] {
  position: relative;
}
[data-edb]:not(:empty):not([data-edb="0"]):not([data-edb=""]) {
  padding-right: .5em !important;
}
[data-edb]:not(:empty):not([data-edb="0"]):not([data-edb=""])::after {
  content: '+'attr(data-edb);
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 75%;
  line-height: 0.8;
  color: #b00;
}

/* // Free-Memo
---------------------------------------------------------------------------------------------------- */
#free-note,
#free-history{
  margin-top: 1rem;
}


/* // History
---------------------------------------------------------------------------------------------------- */
#history {
  margin-top: 1rem;
}
#history table{
  width: 100%;
  border: hidden;
}
#history table th {
  padding: 2px 0;
  line-height: 1;
  white-space: nowrap;
}
#history table td {
  font-size: .85em;
}
#history table thead th:nth-child(1) { width:   2em; } /* No. */
#history table thead th:nth-child(2) { width: 5.2em; } /* 日付 */
#history table thead th:nth-child(3) { width:  auto; } /* タイトル */
#history table thead th:nth-child(4) { width: 4.6em; } /* 経験点 */
#history table thead th:nth-child(5) { width:  auto; } /* ＧＭ */
#history table thead th:nth-child(6) { width:  auto; } /* 参加者 */

#history table tbody td:nth-child(4) s {
  opacity: 0.3;
  text-decoration: none;
}
#history table tbody td.gm span {
  display: block;
  min-width: 5em;
}
#history table tbody td.member {
  padding: 1px 0;
  text-align: left;
}
#history table tbody td.member > span {
  display: inline-block;
  padding: 0 .5em;
}
#history table tbody td.note {
  padding-left: .5rem;
  text-align: left;
}
#history table tbody td.note:empty {
  display: none;
}
#history table tbody td:nth-child(2) a,
#history table tbody td a[data-num] {
  display: block;
  background: none;
}
#history table tbody td a[data-num]:before {
  content:"#"attr(data-num);
  float: left;
  margin: 0 -0.1em;
  font-size: 90%;
  transform: scale(0.8, 0.8);
  opacity: 0.8;
}

