@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@layer system {
/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-scramble.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -100px right -20px;
  .night & {
    background-blend-mode: hard-light, hard-light;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position: center, bottom 50px right 0px;
  }
}
/* // Layout
---------------------------------------------------------------------------------------------------- */
@media screen and (width >= 1400px){
  body {
    grid-template-columns: minmax(0, 1fr) minmax(auto, 1800px) minmax(0, 1fr);
  }
  header nav {
    max-width: 1800px;
  }
  article{
    max-width: 1760px;
    display: grid;
    grid-gap: 0 1.2rem;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 0 1.2rem;
    position: relative;
  }
  #area-name, #tags {
    grid-column: span 2;
  }
  .column-status{
    grid-row: span 3;
  }
  #area-partner {
    grid-column: 2;
    grid-row: 3;
  }
  #free-note {
    grid-column: 2;
    align-self: normal;
  }
  #history {
    grid-column: 2;
    grid-row: 5;
    align-self: end;
  }
  aside#sidebar-left,
  aside#sidebar-right {
    display:none;
  }
  aside#sidebar-top,
  aside#sidebar-bottom {
    display: block;
  }
}
/* // Font
---------------------------------------------------------------------------------------------------- */
#history {
  font-family: "Kosugi","Arial",var(--base-font-family-jp);
}
#character-name,
.words {
  font-family: var(--base-font-family-min);
}
#character-name rt {
  font-family: Arial,var(--base-font-family-min);
}
#status dl dd,
#magi table {
  font-family: var(--font-proportional);
}

/* // Name / Date
---------------------------------------------------------------------------------------------------- */
#area-name {
  position: relative;
}
h1#character-name {
  padding: 1.7rem 1rem .3rem;
}
h1#character-name:not(:has(ruby)) {
  padding: 1rem;
}
#area-name::before {
  content: "クラン名";
  position: absolute;
  top: 0;
  left: .3em;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--base-font-family-jp);
  text-shadow: none;
}

/* // Area-Status
---------------------------------------------------------------------------------------------------- */
#area-status {
  display: grid;
  grid-gap: var(--box-v-gap) var(--box-h-gap);
  grid-template-columns: 1.66fr .3fr 1.4fr;
  grid-template-rows: max-content max-content 1fr;
  grid-template-areas:
    "PRF LVL IMG"
    "MEM MEM IMG"
    "STT STT IMG"
    "MAG MAG MAG"
  ;
  align-items: start;
  @media screen and (width <= 767px){
    min-height: 0%;
    grid-gap: .5rem;
  }
  @media screen and (width <= 735px){
    grid-template-columns: 1.66fr .4fr 1.3fr;
    grid-template-areas:
    "PRF LVL IMG"
    "MEM MEM IMG"
    "STT STT STT"
    "MAG MAG MAG"
    ;
  }
  #image-none,
  #image      { grid-area: IMG; }
  #profile    { grid-area: PRF; }
  #level      { grid-area: LVL; }
  #member     { grid-area: MEM; }
  #attribute  { grid-area: STT; }
  #magi       { grid-area: MAG; }
}

#area-status dd:empty::before,
#area-status td:empty::before {
  content: '　';
}

/* Image */
.image, .image-none {
  aspect-ratio: 1 / 1;
  container-type: inline-size;
}
.image-none::after {
  font-family: 'Montserrat','Impact';
  font-size: 5.8rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -.2rem;
  transform: scale(1, 1.1);
}
@container (width <= 320px) {
  .image, .image-none {
    max-height: auto;
  }
  .image-none::after {
    font-size: 4.8rem;
  }
}
@media screen and (width <= 735px){
  .image-none::after {
    font-size: 3.5rem;
  }
}

/* // Profile
---------------------------------------------------------------------------------------------------- */
#profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  & #rule {
    grid-column: span 2;
  }
  & dl:nth-child(n+2) {
    border-top-width: 1px;
    border-top-style: solid;
  }
  & dl:nth-child(n+2):nth-child(odd) {
    border-left-width: 1px;
    border-left-style: solid;
  }
  & dd {
    word-break: auto-phrase;
    overflow-wrap: break-word;
  }
}
@media screen and (width <= 735px){
  #profile {
    display: block;
  }
  #profile dl:nth-child(n+2) {
    border-top-width: 1px;
    border-top-style: solid;
  }
  #profile dl:nth-child(odd) {
    border-right-width: 0;
  }
}

/* // Level
---------------------------------------------------------------------------------------------------- */
#level {
  align-self: end;
  & dd {
    line-height: 1;
    font-size: 150%;
  }
}


/* // Member
---------------------------------------------------------------------------------------------------- */
#member h2:not(:first-child) {
  margin-top: 0;
}
#member ul {
  &:not(:first-of-type) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & li {
      display: grid;
      padding: 0 .3em;
    }
    & li:nth-child(odd) {
      border-right-width: 1px;
      border-right-style: solid;
    }
    & li > span {
      display: block;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
    }
    & li:last-child > span,
    & li:nth-last-child(2):nth-child(odd) > span {
      border-bottom-width: 0;
    }
  }
}

#attribute ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  > li {
    display: grid;
    padding: 0 .3em;
  }
  > li:not(:nth-child(3n)) {
    border-right-width: 1px;
    border-right-style: solid;
  }
  > li > span {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
  }
  > li:last-child > span,
  > li:nth-last-child(2):nth-child(3n+2) > span,
  > li:is(:nth-last-child(2),:nth-last-child(3)):nth-child(3n+1) > span {
    border-bottom-width: 0;
  }
}

#status > dl {
  display: grid;
  grid-template-columns: 4.2em 1fr;
  > dt {
    font-size: 120%;
    padding-left: .2em;
  }
  > *:first-of-type {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  > dd ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  > dd.attribute > ul li:nth-child(n+4) {
    border-top-width: 1px;
    border-top-style: dotted;
  }
  > dd.attribute > ul li:empty::before {
    content: "　";
  }
}

/* // Magi
---------------------------------------------------------------------------------------------------- */
#magi {
  align-self: start;
}
#magi > table {
  margin-top: -1em;
  table-layout: fixed;
  & colgroup {
    .name   { width: 9.2em; }
    .timing { width: 7.2em; }
    .target { width: 7.2em; }
    .cond   { width: 7.2em; }
  }
  
  & tbody {
    .name   { font-weight: bold; }
    .timing {  }
    .target { font-size: 90%; }
    .cond   { font-size: 90%; }
    .note   { font-size: 90%; }
    :empty::before {
      content: "　";
    }
  }
}
/* // Free-Memo
---------------------------------------------------------------------------------------------------- */
#free-note,
#free-history{
  margin-top: var(--box-v-gap);
}
@media screen and (width >= 1400px){
  #free-note {
    margin-top: 0;
  }
}


/* // History
---------------------------------------------------------------------------------------------------- */
#history {
  margin-top: var(--box-v-gap);
}
#history table thead {
  .grow   { width: 4.6em; } /* 成長 */
}


/* ////////// LayerEnd ////////// */
}