@charset "utf-8";

@layer system {
/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-scramble.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -100px right -20px;
  .night & {
    background-blend-mode: hard-light, hard-light;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position: center, bottom 50px right 0px;
  }
}
/* // List
---------------------------------------------------------------------------------------------------- */
.list table tr {
  grid-template-columns: 26rem 0.6fr 4em minmax(6.5em, 1.1fr) 1.1fr 0.5fr;
  @media screen and (width <= 735px){
    grid-template-columns: 18rem 6em 4em 0.7fr 1fr 4em;
  }
  grid-template-areas:
    "NAME   PL  LVL TAXA HOME DATE"
    "NAME   PL ORGN CLAN ADRS DATE"
    "NAME TAGS TAGS TAGS TAGS DATE"
  ;
  .name    { grid-area: NAME; }
  .player  { grid-area:   PL; }
  .level   { grid-area:  LVL; }
  .taxa    { grid-area: TAXA; }
  .home    { grid-area: HOME; }
  .origin  { grid-area: ORGN; }
  .clan    { grid-area: CLAN; }
  .address { grid-area: ADRS; }
  .tags    { grid-area: TAGS; }
  .date    { grid-area: DATE; }
}
.list.clan table tr {
  grid-template-areas:
    "NAME   PL  LVL BASE RULE DATE"
    "NAME   PL  LVL BLNG RULE DATE"
    "NAME TAGS TAGS TAGS TAGS DATE"
  ;
  .base    { grid-area: BASE; }
  .belong  { grid-area: BLNG; }
  .rule    { grid-area: RULE; }
}

.list table td {
  &:is(.taxa, .home, .origin, .clan, .address, .base, .belong, .rule) > span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.1;
  }
  &.rule {
    font-size: 90%;
    text-align: left;
  }
  &.rule span {
    line-height: 1.2;
    -webkit-line-clamp: 3;
  }
}

/* // List-Simple
---------------------------------------------------------------------------------------------------- */
.list ul li a::before {
  content: attr(data-type);
}


/* ////////// LayerEnd ////////// */
}