@charset "utf-8";

:root{
  --theme-main-hue  : 90;
  --theme-sub-hue   : 85;
  --theme-accent-hue: 80;
  --header-chroma: 0.18;
  --header-lightness: 81%;
  --menu-icon-current-color   : #93178B;
  --menu-icon-current-bg-color: #FFE51F;
  --icon--current-color: var(--menu-icon-current-color);
  --a-hover-color  : oklch(62% 0.25 320);
}
@media screen {
  .night {
    --header-lightness: 55%;
  }
}
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-scramble.png);
  background-blend-mode: normal, normal;
  background-position: center, bottom -100px right -20px;
  .night & {
    background-blend-mode: hard-light, hard-light;
  }
  @media screen and (width <= 735px){
    background-size: auto, 100%;
    background-position: center, bottom 50px right 0px;
  }
}
