@charset "utf-8";

/* // 
---------------------------------------------------------------------------------------------------- */
body {
  grid-template-rows: 0 auto max-content;
}

.button[onclick] {
  display: inline-block;
  padding: 5px 7px;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to bottom, #f0f7ff, #c0c7cf);
  color: #000;
  text-shadow: none;
}
.button[onclick]:hover {
  background: #c0c7cf;
}

/* // フォーム設定
---------------------------------------------------------------------------------------------------- */
html {
  overflow: visible;
}
main {
  padding-top: 0;
  overflow: visible;
}
@media screen and (max-width:735px){
  main {
    padding-top: 6em;
    overflow-x: hidden;
  }
}
header {
  display: none;
}
footer {
  grid-row: 3;
}

select option,
select optgroup {
  background-color: #fff;
  color: #000;
}
input,
select {
  font-weight: inherit;
}
input[type=checkbox] {
  margin: 0 .2rem;
  transform: scale(1.3);
}
input::placeholder {
  opacity: 0.5;
}

h2[onclick],
h4[onclick] {
  cursor: pointer;
}
h2[onclick]:hover,
h4[onclick]:hover {
  background: linear-gradient(to top, #cef 20%, transparent 30%, transparent);
}
input.fail,
select.fail,
.fail input,
.fail select {
  background-color: rgba(125,125,125,0.2);
}
dt.fail, dt.fail + dd {
  background-color: rgba(125,125,125,0.2) !important;
  opacity: 0.9;
}
dt.fail::before {
  content: "✖ ";
  font-weight: bold;
  color: #c00;
}
.night dt.fail::before {
  color: #e80;
}
dt.fail > select,
dt.fail + dd > input {
  background-color: transparent;
}
.fail select option,
.fail select optgroup {
  background-color: #ddd;
  color: #000;
}
input.error,
select.select,
.error input,
.error select {
  color: #c00;
  border-color: #f00;
  border-style: dotted;
  background-color: rgba(255,0,0,0.1);
}
.night input.error,
.night select.select,
.night .error input,
.night .error select {
  color: #ea0;
  border-color: #f70;
  border-style: dotted;
  background-color: rgba(255,0,0,0.1);
}
.mark input,
.mark select,
input.mark,
select.mark,
span.mark {
  background: rgba(255,200,0,0.3);
  font-weight: bold;
}
span.mark {
  padding: 1px 3px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}
/* 非表示 */
.hidden {
  display: none;
}
/* テーブル */
.edit-table,
.edit-tables table,
.edit-tables ul,
.edit-tables dl {
  width: 100%;
  border-style: hidden hidden none;
}
@media screen and (max-width:735px){
  .edit-table,
  .edit-tables table,
  .edit-tables ul,
  .edit-tables dl {
    min-width: calc(100% - 1rem);
  }
}
.edit-table.side-margin,
.edit-tables.side-margin table,
.edit-tables.side-margin ul,
.edit-tables.side-margin dl {
  width: calc(100% - 1rem);
  margin: 0 .5rem;
}
.edit-table:last-child,
.edit-tables table {
  border-bottom-style: hidden;
}
table.edit-table:not(.side-margin) thead th,
.edit-tables:not(.side-margin) table thead th {
  padding: .3rem 0 .2rem;
  border-width: 0;
  line-height: 1;
}
table.edit-table > tbody tr,
.edit-tables table tbody tr {
  border-width: 1px 0;
  border-style: solid;
}
table.edit-table:last-child {
  border-bottom-style: hidden !important;
}
table.edit-table:not(.side-margin):not(.no-border-cells) tbody > tr > *,
.edit-tables:not(.side-margin):not(.no-border-cells) table tbody > tr > * {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: dotted;
  border-right-style: dotted;
}
table.edit-table.line-tbody.no-border-cells tbody > tr {
  border-width: 0px;
}
table.edit-table.line-tbody.no-border-cells tbody {
  border-width: 1px 0;
  border-style: solid;
}
table.edit-table:not(.line-tbody).no-border-cells tbody tr > * {
  padding-top: 2px;
  padding-bottom: 2px;
}
table.edit-table.line-tbody.no-border-cells tbody tr:first-child > * {
  padding-top: 2px;
}
table.edit-table.line-tbody.no-border-cells tbody tr:last-child > * {
  padding-bottom: 2px;
}
table.edit-table tbody td select,
table.edit-table tbody td textarea,
table.edit-table tbody td input[type="text"],
table.edit-table tbody td input[type="number"],
table.edit-table tbody td input[type="url"] {
  width: calc(100% - 2px);
  margin: 1px;
}
table.edit-table.no-border-cells tbody td select,
table.edit-table.no-border-cells tbody td textarea,
table.edit-table.no-border-cells tbody td input[type="text"],
table.edit-table.no-border-cells tbody td input[type="number"],
table.edit-table.no-border-cells tbody td input[type="url"] {
  width: calc(100% - 1px);
  margin: 1px 1px 1px 0;
}
table.edit-table:not(.side-margin).line-tbody tbody:nth-of-type(even),
table.edit-table:not(.side-margin):not(.line-tbody) tbody tr:nth-of-type(even),
.edit-tables:not(.side-margin) table.line-tbody tbody:nth-of-type(even),
.edit-tables:not(.side-margin) table:not(.line-tbody) tbody tr:nth-of-type(even) {
  background-color: var(--box-even-rows-bg-color);
}

ul.edit-table > li,  .edit-tables ul  > li,
dl.edit-table > *,   .edit-tables dl  > *  {
  border-width: 0 0 1px;
  border-style: solid;
}
ul.edit-table:last-child > li:last-child,
dl.edit-table:last-child > dt:last-of-type,
dl.edit-table:last-child > dt:last-of-type ~ dd,
.edit-tables ul:last-child > li:last-child,
.edit-tables dl:last-child > dt:last-of-type,
.edit-tables dl:last-child > dt:last-of-type ~ dd {
  border-bottom-style: hidden;
}

input.auto {
  text-align: center;
  border: hidden;
  background-color: transparent;
  font-size: 100%;
  cursor: inherit;
}
/* Sortable */
.sortable-drag {
}
.sortable-chosen {
}
.sortable-ghost {
  background-color: hsla(50,100%,50%,0.3) !important;
}
.sortable-swap-highlight {
  background-color: hsla(100,100%,50%,0.3) !important;
}
.handle {
  cursor: ns-resize;
}
.handle::before {
  content: '::';
  font-family: Arial;
  font-weight: bold;
}

/* // メニュー
---------------------------------------------------------------------------------------------------- */
#header-menu {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: rgba(90,90,90,0.9);
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0 0 .5em .5em;
  color: #fff;
  overflow: hidden;
}
#header-menu h2 {
  display: grid;
  align-items: flex-end;
  height: calc(1.6em + 5px);
  padding: 0 .2em 3px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(200,200,200,0.3);
  font-size: 130%;
  font-family: var(--base-font-family-min);
  line-height: 1;
  text-shadow: #000 0px 0px .1rem,
    #000  .1rem .1rem, #000 -.1rem -.1rem,
    #000 -.1rem .1rem, #000  .1rem -.1rem,
    #000  .0rem .1rem, #000  .0rem -.1rem,
    #000 -.1rem .0rem, #000  .1rem  .0rem;
  white-space: nowrap;
}
#header-menu h2 .aka {
  margin-right: .5em;
}
#header-menu h2 ruby rt {
  font-size: 0.6em;
}
#header-menu ul {
  display: flex;
  line-height: 1;
  font-weight: bold;
  overflow: hidden;
}
#header-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  cursor: pointer;
  user-select: none;
}
#header-menu ul li:not(.button) {
  border-right: 1px solid rgba(200,200,200,0.3);
}
#header-menu ul li:hover {
  background: rgba(0,0,0,0.5);
}
#header-menu ul li span {
  display: inline-block;
}
#header-menu ul li.button {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  padding: 0;
}
#header-menu ul li.button input {
  padding: .3em .5em;
  border: 0;
  border-radius: 0;
}
#header-menu ul li.button input + input {
  margin-left: 1px;
}
#header-menu ul li.button input[type="submit"] {
  padding: .3em 1em;
}
section {
  margin-top: 2em;
}
section > h2 {
  margin-top: 1rem;
}
@media screen and (max-width:735px){
  #header-menu {
    position: fixed;
    left: 0;
    right: 0;
    border-radius: 0;
  }
  #header-menu ul {
    bottom: calc(-1em - 3px - 2rem);
  }
  #header-menu ul li:not(.button) {
    text-align: center;
  }
  #header-menu ul li.button input[type="button"],
  #header-menu ul li.button input[type="submit"] {
    padding-top: .6em;
    padding-bottom: .6em;
  }
}

/* // フッタ付近
---------------------------------------------------------------------------------------------------- */
article > form > hr {
  margin: 5rem 0px;
  border-width: 1px 0 0;
  border-style: solid;
}

.deleteform {
  margin-top: 5rem;
  padding-top: 5rem;
  border-width: 1px 0 0;
  border-style: solid;
  text-align: right;
}
.deleteform input[type="submit"] {
  margin-left: .5rem;
  padding: .3rem .5rem;
}
/* // ボックス
---------------------------------------------------------------------------------------------------- */
.box input[type="text"],
.box input[type="url"],
.box input[type="number"],
.box select,
.box textarea {
  width: calc(100% - 4px);
  min-width: 3em;
  margin: 2px;
  padding: 2px;
}
.box textarea {
  resize: vertical;
}
.box input[type="text"],
.box input[type="url"],
.box input[type="number"],
.box select {
  height: calc(1.2em + 3px * 2);
  line-height: 1.2;
}
input[type="number"] {
  text-align: center;
}
@media screen and (max-width:735px){
  .box {
    max-width: 100%;
    font-size: 2.2rem;
  }
  .box h2,
  .box dt,
  .box th,
  .box summary {
    font-size: 2rem;
  }
  .box input[type="text"],
  .box input[type="url"],
  .box input[type="number"],
  .box select {
    height: calc(1.6em + 3px * 2);
    font-size: 2.2rem;
  }
  .box textarea {
    font-size: 2.2rem;
  }
}

input[type="submit"] {
  background: linear-gradient(to bottom, #ddeeff, #ccccff);
  box-shadow: 1px 1px 0 0 #ffffff inset, -1px -1px 0 0 #bbbbee inset;
}
input[type="button"] {
  background: linear-gradient(to bottom, #e0e7ef, #c0c7cf);
  box-shadow: 1px 1px 0 0 #ffffff inset, -1px -1px 0 0 #bbbbdd inset;
}
input[type="submit"]:hover,
input[type="button"]:hover {
  background: linear-gradient(to bottom, rgba(50,150,250,0.5), rgba(50,50,250,0.5));
  color: #ffffff;
}
.night input[type="submit"] {
  background: linear-gradient(to bottom, #445566, #333355);
  box-shadow: 1px 1px 0 0 #777788 inset, -1px -1px 0 0 #000000 inset;
}
.night input[type="button"] {
  background: linear-gradient(to bottom, #50575f, #30373f);
  box-shadow: 1px 1px 0 0 #777788 inset, -1px -1px 0 0 #000000 inset;
}
.night input[type="submit"]:hover {
  background: linear-gradient(to bottom, rgba(50,150,250,0.5), rgba(50,50,250,0.5));
  color: #ffffff;
}
/* 行追加ボタン */
.box .add-del-button {
  text-align: center;
}
.add-del-button a {
  display: inline-block;
  margin: 0px 2em;
  cursor: pointer;
  transform: scale(3.5, 1);
}
.add-del-button a:hover {
  opacity: 0.5;
}
.add-del-button a::before {
  display: block;
  transform: scale(0.4, 1);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--bg-color);
  font-family: var(--base-font-family-mono);
}
.add-del-button a[onclick*="add"]::before {
  content:"+";
}
.add-del-button a[onclick*="del"]::before {
  content:"-";
}
/* メッセージ・注釈 */
.message {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
}
.message:empty {
  display: none;
}
.message h2 {
  font-size: 110%;
}
.message dl {
  text-align: left;
}
.message dd {
  margin-left: .25em;
  padding-left: .25em;
  border-left: 2px solid var(--box-head-bg-color-pale);
}

.box .annotate {
  font-size: 90%;
  padding: 0 1rem;
}
.box .add-del-button + .annotate {
  border-top-width: 1px;
  border-top-style: solid;
}
.example {
  background: rgba(170,170,170,0.2);
}

/* // 共通設定欄
---------------------------------------------------------------------------------------------------- */
/* 名前 */
#name-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;
  margin: 1rem 0;
  position: relative;
}
.night #name-form {
  background-color: #222;
}
#name-form > div:first-child {
}
#name-form input {
  width: calc(100% - 4px);
  min-width: 3em;
  margin: 0 2px;
  padding: 2px;
}
#name-form dl {
  display: grid;
  grid-template-rows: max-content auto;
  width: 100%;
  padding: 0 0 3px 2px;
  font-size: inherit;
  font-family: inherit;
}
#name-form dl dt {
  grid-row: 1;
  display: grid;
  font-weight: bold;
  text-align: left;
}
#name-form dl dd {
  grid-row: 2;
}
#name-form #character-name {
}
#name-form dl dt.ruby {
  align-self: flex-end;
  font-size: 85%;
}
#name-form #player-name {
  padding-bottom: 2px;
  border-width: 0 0 0 1px;
  border-style: solid;
}
#name-form input[type="submit"],
#name-form input[type="button"] {
  width: 100px;
  align-self: stretch;
}
#name-form input[type="button"] {
  width: 50px;
}
@media screen and (max-width:735px){
  #name-form {
    display: block;
  }
  #name-form dl {
    display: block;
  }
  #name-form dl#aka,
  #name-form dl#player-name {
    border-width: 1px 0 0 !important;
    border-style: solid;
    margin-top: .5em;
  }
}

/* 編集保護 */
#edit-protect {
  margin-top: 1rem;
}
/* 閲覧可否 */
#hide-options {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
  align-items: center;
}
#forbidden-checkbox {
  flex-basis:  10em;
  text-align: left;
}
#hide-checkbox {
  text-align: left;
}
#hide-options select {
  width: auto;
}
#hide-options dd:last-child {
  margin-left: auto;
  padding-right: .2rem;
  align-self: flex-end;
  font-size: 85%;
}
@media screen and (max-width:735px){
  #edit-protect {
  }
  #hide-options dt {
    flex-basis: 100%;
  }
}

/* グループ */
#group {
  margin-top: 1rem;
}
#group dl {
  display: grid;
  grid-template-columns: 4em 1fr 2.5em 3fr;
  grid-template-rows: auto;
  text-align: right;
}
#group dl > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
#group dl > dt:not(:first-child) {
  justify-content: flex-end;
}
@media screen and (max-width:735px){
  #group dl {
    grid-template-columns: 4em 1fr;
    grid-template-rows: auto auto;
  }
  #group dl dt {
    grid-column: 1;
  }
}
/* 画像 */
#area-status #image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  cursor: unset;
}
#image > h2 {
  background-image: linear-gradient(to bottom, var(--box-head-bg-color), transparent);
  text-shadow: var(--bg-color) 0px 0px .5em,
    var(--bg-color)  .1rem .1rem, var(--bg-color) -.1rem -.1rem,
    var(--bg-color) -.1rem .1rem, var(--bg-color)  .1rem -.1rem,
    var(--bg-color)  .0rem .1rem, var(--bg-color)  .0rem -.1rem,
    var(--bg-color) -.1rem .0rem, var(--bg-color)  .1rem  .0rem;
}
#image > p {
  background: rgba(255,255,255,0.4);
  text-shadow: 0 0 3px var(--bg-color), 0 0 3px var(--bg-color), 0 0 3px var(--bg-color),
               0 0 3px var(--bg-color), 0 0 3px var(--bg-color), 0 0 3px var(--bg-color),
               0 0 3px var(--bg-color), 0 0 3px var(--bg-color), 0 0 3px var(--bg-color),
               0 0 3px var(--bg-color), 0 0 3px var(--bg-color), 0 0 3px var(--bg-color),
               0 0 3px var(--bg-color), 0 0 3px var(--bg-color), 0 0 3px var(--bg-color);
}
.night #image > p {
  background: rgba(0,0,0,0.5);
}
#area-status #image h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
#area-status #image p {
  padding: .5em .1em;
  text-align: center;
  line-height: 1.2;
}
#area-status #image p+p {
  margin-top: 1em;
}
#area-status #image p:last-child {
  margin-bottom: .5em;
}
#area-status #image select {
  width: calc(100% - 6.5em);
}
#area-status #image input[type="checkbox"] {
  transform: scale(1.1)
}

#area-status #image .words-input select {
  width: auto;
}

/* // 画像ビュー
---------------------------------------------------------------------------------------------------- */
#image-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr max-content;
  
  background-color: hsla(0, 0%, 50%, 0.8);
  
  z-index: 100;
}
.image-custom-view-area {
  grid-row: span 2;
  display: grid;
  grid-gap: 0 5em;
  grid-template-columns: 1fr 25vh 350px 1fr;
  grid-template-rows: 1fr max-content max-content minmax(3em,1fr);
  background-color: hsla(0, 0%, 10%, 0.6);
}
.image-custom-view-area > div.image-custom-frame {  }
.image-custom-view-area > div#image-custom-frame-M  { grid-column: 3; grid-row: 2 / span 2; height: 567px; }
.image-custom-view-area > div#image-custom-frame-S1 { grid-column: 2; grid-row: 2; width: 20vh; height: 40vh; margin-top: 0; }
.image-custom-view-area > div#image-custom-frame-S2 { grid-column: 2; grid-row: 3; width: 25vh; height: 30vh; margin-top: 3em; }
.image-custom-view-area > div#image-custom-frame-M {
  cursor: grab;
}
.image-custom-view-area > div#image-custom-frame-M:active {
  cursor:grabbing;
}
.image-custom-view-area > div.image-custom-frame {
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  background-image: url(../img/back-pattern.png);
  background-repeat: repeat;
  border-radius: 5px;
}
.image-custom-view-area > div.image-custom-frame .image-custom-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.image-custom-view-area > div.image-custom-frame b {
  display: block;
  margin-top: -1.5em;
  padding-left: .5em;
  color: #fff;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}
.image-custom-view-area > div.image-custom-frame .words {
  pointer-events: none;
  user-select: none;
}
.image-custom-view-area > div.image-custom-frame input[name="imagePositionX"] {
  position: absolute;
  bottom: -1.5em;
  width: 100%;
}
.image-custom-view-area > div.image-custom-frame input[name="imagePositionY"] {
  position: absolute;
  top: 50%;
  right: calc(-567px /2 - 1em);
  width: 567px;
  transform: rotate(90deg);
}
.image-custom-view-area #image-custom-numberview {
  position: absolute;
  bottom: -5em;
  margin-left: auto;
}
.image-custom-form {
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--box-base-bg-color), var(--box-base-bg-color));
  border-top: 1px solid hsla(0,0%,50%,0.2);
  overflow-y: auto;
}
.image-custom-form h3 {
  padding: .5em .5rem 1rem;
}
.image-custom-form h3:not(:first-child) {
  border-top-width: 1px;
  border-top-style: solid;
}
.image-custom-form p {
  margin: 0em auto 1em;
  padding: 0em 1em;
}
.image-custom-form p#image-drop-area {
  background-color: hsla(0,0%,50%,0.2);
  margin: 0 1em 1em;
  padding: 1em;
}
.image-custom-form p input,
.image-custom-form p select,
.image-custom-form p textarea {
  padding: .2em .5em;
}
#words-preview {
  position: absolute;
  padding-top: 1em;
  padding-bottom: 1em;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 2rem;
  color: var(--text-color);
  text-shadow:
    var(--bg-color) .2rem  .0rem, var(--bg-color) -.2rem  .0rem,
    var(--bg-color) .0rem -.2rem, var(--bg-color)  .0rem  .2rem,
    var(--bg-color) .2rem  .2rem, var(--bg-color) -.2rem  .2rem,
    var(--bg-color) .2rem -.2rem, var(--bg-color) -.2rem -.2rem,
    var(--bg-color) .1rem  .2rem, var(--bg-color) -.1rem  .2rem,
    var(--bg-color) .1rem -.2rem, var(--bg-color) -.1rem -.2rem,
    var(--bg-color) .2rem  .1rem, var(--bg-color) -.2rem  .1rem,
    var(--bg-color) .2rem -.1rem, var(--bg-color) -.2rem -.1rem;
}
#words-preview span {
  display: inline-block;
}
#words-preview span.brackets {
  text-indent: -1em;
}
#image-copyright-preview {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  color: #fff;
  text-shadow: 
    #000  .1rem .1rem, #000 -.1rem -.1rem,
    #000 -.1rem .1rem, #000  .1rem -.1rem,
    #000  .0rem .1rem, #000  .0rem -.1rem,
    #000 -.1rem .0rem, #000  .1rem  .0rem,
    #000 0 0 .3rem, #000 0 0 .3rem, #000 0 0 .3rem;
  word-break: break-all;
}
#image-custom .close-button {
  background-color: #777;
}
#image-custom .close-button .button {
  display: block;
  margin: 1em 2em;
  padding: 1rem;
  text-align: center;
}
@media screen and (max-width:1155px){
  .image-custom-view-area {
    grid-template-columns: 1fr 350px 1fr;
  }
  .image-custom-view-area > div#image-custom-frame-M { grid-column: 2; grid-row: 2 / span 1; }
  .image-custom-view-area > div#image-custom-frame-S1,
  .image-custom-view-area > div#image-custom-frame-S2 { display: none; }
}
@media screen and (max-width:860px){
  #image-custom {
    grid-template-columns: 1fr 370px;
  }
  .image-custom-view-area {
    grid-template-columns: 1fr 35vw 1fr;
  }
  .image-custom-view-area > div#image-custom-frame-M { height: 56.7vw; }
  .image-custom-view-area > div.image-custom-frame input[name="imagePositionY"] {
    right: calc(-56.7vw /2 - 1em);
    width: 56.7vw;
  }
  #words-preview {
    font-size: 2vw;
  }
}
@media screen and (max-width:735px){
  #image-custom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40vh max-content;
  }
  #image-custom .close-button {
    right: 0;
  }
  .image-custom-view-area {
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr 25vh 1fr;
    grid-template-rows: 1fr max-content 1fr;
  }
  .image-custom-view-area > div#image-custom-frame-M { grid-column: 2; grid-row: 2 / span 1; height: 46vh; }
  .image-custom-view-area > div.image-custom-frame input[name="imagePositionY"] {
    right: calc(-46vh /2 - 1em);
    width: 46vh;
  }
  .image-custom-form {
    grid-column: 1;
  }
  #words-preview {
    font-size: 1.8vh;
  }
}

/* // パレット
---------------------------------------------------------------------------------------------------- */
#section-palette .box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#section-palette .box > * {
  grid-column: span 2;
}
#section-palette .box > .palette-column {
  grid-column: span 1;
}


/* // カラーカスタム
---------------------------------------------------------------------------------------------------- */
.box.color-custom {
  margin-bottom: 1em;
}
span.box.color-custom,
label.box.color-custom {
  display: inline-block;
  cursor: pointer;
  padding: .1em;
  padding-left: 1.4em;
  position: relative;
}
label.box.color-custom input {
  display: none;
}
label.box.color-custom input+i,
.color-custom.night-switch i {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto .3rem;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border-radius: .4rem;
  font-size: 80%;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-style: normal;
  text-align: center;
  background: #fff;
  box-shadow: #777 inset 0 0 .2rem;
  color: #000;
  overflow: hidden;
}
label.box.color-custom input:checked+i::before,
.night .color-custom.night-switch i::before {
  content: '\f00c';
}
.box.color-custom table {
  margin-left: 1em;
}
.box.color-custom table td {
  padding: .5em;
}
.box.color-custom table td:last-child {
  width: 4em;
}
.box.color-custom .color-range-R th { color: #f00; }
.box.color-custom .color-range-G th { color: #0f0; }
.box.color-custom .color-range-B th { color: #00f; }
.box.color-custom input[type="range"] {
  width: 361px;
}
.box.color-custom input[type=range] {
  -webkit-appearance:none;
  background: #000;
  height: 14px;
  border-radius: 0px;
}
.box.color-custom .color-range-H input[type=range] {
  background: linear-gradient(to right, #f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00);
}
.box.color-custom .color-range-S input[name=colorHeadBgS] {
  background: linear-gradient(to right, #fff, hsl(var(--box-head-bg-color-h),100%,50%));
}
.box.color-custom .color-range-L input[name=colorHeadBgL] {
  background: linear-gradient(to right, #000, hsl(var(--box-head-bg-color-h),var(--box-head-bg-color-s),50%), #fff);
}
.box.color-custom .color-range-S input[name=colorBaseBgS] {
  background: linear-gradient(to right, #fff, hsla(var(--box-base-bg-color-h),70%,83%,0.5));
}
.night .box.color-custom .color-range-S input[name=colorBaseBgS] {
  background: linear-gradient(to right, #111, hsla(var(--box-base-bg-color-h),100%,15%,0.5));
}
.box.color-custom input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  border: 1px solid #777;
  background: linear-gradient(to bottom, #fff, #bbb);
  box-shadow: #fff inset 0 0 .1rem .1rem;
  height: 20px;
  width: 10px;
  border-radius: 0px;
}
.box.color-custom input[type=range]::-ms-tooltip{
  display:none;
}
.box.color-custom input[type=range]::-moz-range-track{
  height:0;
}
.box.color-custom input[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  border: 1px solid #777;
  background: linear-gradient(to bottom, #fff, #bbb);
  height: 20px;
  width: 10px;
  border-radius: 0px;
}

/* // 
---------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1300px){
  body {
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
  }
  header nav {
    max-width: 900px;
  }
  article{
    max-width: 860px;
    display: block;
  }
}