@charset "utf-8";

/* ゆとシートⅡ - リスト共通 */

/* // Body
---------------------------------------------------------------------------------------------------- */
@media screen and (max-width:735px){
  html {
    font-size: 1.6vw;
  }
  header nav {
    margin-top: 4rem;
  }
}

/* // Article
---------------------------------------------------------------------------------------------------- */
article {
  border-width: 1px 0 0;
  border-style: solid;
}
article h1 {
  margin-top: .5em;
}
article h1 small {
  display: inline-block;
  font-size: 50%;
}

/* // Aside
---------------------------------------------------------------------------------------------------- */
main aside {
  max-width: 50rem;
  margin: 1rem auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 1.4rem;
}
main aside h2 {
  margin: 0.5em;
  font-size: 2rem;
}
main aside p {
  margin: 1.5em 1em;
}
main aside h2 + p {
  margin-top: 0.5em;
}
main aside hr {
  margin: 1rem;
}
/* // Sidebar
---------------------------------------------------------------------------------------------------- */
@media screen and (max-width:735px){
  aside#sidebar-top {
    padding-top: 11rem;
    margin-bottom: -4rem;
  }
}
@media screen and (max-width:1200px){
  aside#sidebar-left,
  aside#sidebar-right {
    display:none;
  }
  aside#sidebar-top,
  aside#sidebar-bottom {
    display: block;
  }
  aside#sidebar-top{
    grid-row: 2 / 3;
  }
  main {
    grid-row: 3 / 4;
  }
  aside#sidebar-bottom{
    grid-row: 4 / 5;
  }
  footer {
    grid-row: 5 / 6;
  }
}

/* // Search-Form
---------------------------------------------------------------------------------------------------- */
form#form-search{
  width: max-content;
  margin-left: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
}
form#form-search h3 {
  width: max-content;
  margin-left: auto;
  padding: 0 1em;
  cursor: pointer;
}
form#form-search h3:hover {
  background-color: rgba(100,200,255,0.2);
}
form#form-search p {
  width: max-content;
  margin: .5rem 1.5rem;
  margin-left: auto;
  padding: .5em 1em;
  text-align: left;
}
form#form-search p input {
  height: 3rem;
  margin: 1px;
  vertical-align:middle;
}
form#form-search p input::placeholder {
  font-size: 80%;
  opacity: 0.8;
}
form#form-search p input[type="submit"] {
  display: block;
  margin-left: auto;
}

/* // List
---------------------------------------------------------------------------------------------------- */
.list {
  margin: 1.5rem 0 5rem;
  padding: 1.5rem 0 0;
  font-family: var(--font-proportional);
}
.list h2 {
  font-size: 2rem;
}
.list h2 small {
  font-size: 1.4rem;
  font-weight: normal;
}
.list .navbar {
  text-align: center;
  padding: .5em;
}
.list .navbar a {
  display: inline-block;
  margin: .1em 0;
  padding: .3em .6em;
  border-radius: .5em;
  background: rgba(175,175,175,0.2);
}
.list .navbar b {
  display: inline-block;
  margin: .1em 0;
  padding: .3em .6em;
  border-radius: .5em;
  border: 1px solid rgba(175,175,175,0.5);
}
.list table {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.list table thead {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}
.list table tbody {
  display: block;
}
.list table tr {
  display: grid;
  grid-template-rows: auto;
}
.list table tr > th {
  display: grid;
}
.list table tr td {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list table tr td:not(.name) {
  flex-wrap: wrap;
}
.list table th > a,
.list table th > span {
  display: grid;
  align-items: center;
  margin: 1px;
  padding: 5px;
  background: rgba(225,230,235,0.9);
  border-radius: 5px;
  white-space: nowrap;
}
.night .list table th > a,
.night .list table th > span {
  background: rgba(45,50,55,0.9);
}
.list table tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;
}
.list table tbody tr:nth-child(even) {
  background: rgba(165,170,175,0.1);
}
.list table tbody tr::before,
.list table tbody tr::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.list table tbody tr:hover::after {
  background: linear-gradient(to top, rgba(100,230,255,0.2), transparent 50%);
}
.list table tbody tr.hide::before {
  background-image: linear-gradient(135deg, rgba(80,80,200,0.3) 10px, transparent 10px);
  background-position: top left;
}
.list table td {
  padding: 2.5px 5px 2.5px;
  text-align: center;
}
.list table td.name {
  height: 100%;
  padding: 0;
  line-height: 1;
}
.list table td.name a {
  flex-grow: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100% + 5px);
  
  font-size: 1.1em;
  font-weight: bold;
}
.list table td.name a:hover {
  background: rgba(180,200,255,0.1);
}
.list table td.player {
  word-break: break-all;
}
.list table td span[data-gender] {
  display: inline-block;
  position: relative;
  width: calc(1em + 6px);
  padding: 3px;
  border-radius: 3px;
  font-size: 90%;
  line-height: 1;
  color: transparent;
}
.list table td span[data-gender=male]   { background-color: #07f3; }
.list table td span[data-gender=female] { background-color: #f003; }
.list table td span[data-gender=cross]  { background-color: #70f3; }
.list table td span[data-gender=none]   { background-color: #7773; }
.list table td span[data-gender=unknown]{ background-color: #7773; }
.list table td span[data-gender]::before {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-family: "Material Symbols Outlined";
  color: var(--text-color);
  font-size: 1.2em;
}
.list table td span[data-gender=male]::before   { content:"\e58e"; }
.list table td span[data-gender=female]::before { content:"\e590"; }
.list table td span[data-gender=cross]::before  { content:"\e58d"; }
.list table td span[data-gender=none]::before   { content:"\f108"; }
.list table td span[data-gender=unknown]::before{ content:"\eb8b"; }
.list table td.date {
  font-family: Arial;
  font-size: 85%;
}
.list table td.date > div > span {
  display: inline-block;
}
.list table td.date {
  font-family: Arial;
  font-size: 85%;
}
.list table td.tags {
  padding: 0 .2em 0;
  flex-wrap: wrap;
  justify-content: start;
  border-top: 1px solid #7775;
}
.list table td.tags:empty {
  display: none;
}
.list table td.tags a {
  margin: .2em 1em .2em 0;
  padding: .3rem .5rem;
  border-radius: 12px 5px 5px 12px;
  background-color: rgba(140,170,200,0.2);
  color: inherit;
  font-size: 80%;
  line-height: 1;
}
.list table td.tags a:first-child {
  margin-left: 0;
}
.list table td.tags a::before {
  content:"●";
  display: inline-block;
  margin-left: -.3rem;
  color: var(--bg-color);
  font-size: 80%;
  transform: scale(0.8);
}
.list table td.tags a:hover {
  background-color: rgba(120,220,220,0.4) !important;
}
.list table td.tags span.session {
  margin-left: auto;
  font-size: 80%;
}
.list table td.tags span.session::before {
  content: "";
  font-size: 90%;
}
.list .more {
  padding: .5rem;
  text-align: right;
  font-size: 150%;
  font-weight: bold;
}

@media screen and (max-width:735px){
  .list table tr {
    font-size: 95%;
  }
  .list table tr > th {
    display: grid;
  }
  .list table tr > th > a,
  .list table tr > th > span {
    padding: 2px;
  }
  .list table td {
    padding-left : 2px;
    padding-right: 2px;
  }
  .list table th.player > span {
    white-space: normal;
  }
  .list table td.name a {
    font-size: unset;
  }
  .list table th.date > span {
    white-space: normal;
  }
  .list table td.date {
    padding-left: 0;
    padding-right: 0;
  }
  .list table td.date > div > span:first-child {
    display: none;
  }
}

/* // List-Monster/Simple
---------------------------------------------------------------------------------------------------- */
.list ul {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
}
.list ul li {
}
.list ul li.hide {
  background-image: linear-gradient(135deg, rgba(80,80,200,0.3) 20px, transparent 20px);
  background-position: top left;
  border-radius: 1rem;
}
.list ul li a {
  display: block;
  position: relative;
  padding: 1em;
  background-color: rgba(225,235,255,0.1);
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}
.list ul li a::before {
  position: absolute;
  top: .1em;
  left: .5em;
  font-weight: normal;
}
.list ul li a small {
  display: block;
  position: absolute;
  right: .5em;
  bottom: .1em;
  font-weight: normal;
}
.list ul li a small::before {
  content:"by "
}
.list ul li a:hover {
  background: rgba(180,200,255,0.1);
}

.list ul.grouplist a {
  text-align: left;
  font-size: 125%;
}
.list ul.grouplist a small {
  position: static;
  font-size: 75%;
}
.list ul.grouplist a small::before {
  content:""
}