@charset "utf-8";

/* ゆとシートⅡ - リスト共通 */

@layer list {
/* // Body
---------------------------------------------------------------------------------------------------- */
@media screen and (width <= 735px){
  html {
    font-size: 1.6vw;
  }
}

/* // Article
---------------------------------------------------------------------------------------------------- */
article {
  border-width: 1px 0 0;
  border-style: solid;
}
nav + article {
  border-width: 0;
}
article h1 {
  margin-top: .5em;
  & small {
    display: inline-block;
    font-size: 50%;
  }
}

/* // Aside
---------------------------------------------------------------------------------------------------- */
main aside {
  max-width: 50rem;
  margin: 1rem auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 1.4rem;
  & h2 {
    margin: 0.5em;
    font-size: 2rem;
  }
  & p {
    margin: 1.5em 1em;
  }
  & h2 + p {
    margin-top: 0.5em;
  }
  & hr {
    margin: 1rem;
  }
}
/* // Sidebar
---------------------------------------------------------------------------------------------------- */
@media screen and (width <= 735px){
  aside#sidebar-top {
    padding-top: 11rem;
    margin-bottom: -4rem;
  }
}
@media screen and (width <= 1200px){
  aside#sidebar-left,
  aside#sidebar-right {
    display:none;
  }
  aside#sidebar-top,
  aside#sidebar-bottom {
    display: block;
  }
  aside#sidebar-top{
    grid-row: 2 / 3;
  }
  main {
    grid-row: 3 / 4;
  }
  aside#sidebar-bottom{
    grid-row: 4 / 5;
  }
  footer {
    grid-row: 5 / 6;
  }
}

/* // Search-Form
---------------------------------------------------------------------------------------------------- */
.search-button {
  display: block;
  margin-left: auto;
  align-content: center;
  text-align: center;
  width : 1.5em;
  height: 1.5em;
  margin-top: -1.5em;
  font-size: 2.2rem;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  background: var(--h2-color);
  cursor: pointer;
  &::before {
    content: "\e8b6";
    font-family: "Material Symbols Outlined";
    font-variation-settings: 'FILL' 1;
    font-weight: 700;
  }
  &:hover {
    background: var(--bg-color);
  }
}
form#form-search {
  display: block;
  width: max-content;
  margin: .2em;
  margin-left: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: var(--section-bg-color);
  overflow: clip;
  
  transition-property: display, max-height;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
  & h3 {
    padding: .2em .5em;
  }
  & label {
    cursor: pointer;
  }
  & label.mylist {
    display: block;
    width: max-content;
    margin-top: -1em;
    margin-left: auto;
    margin-right: 1.5em;
  }
  & dl {
    margin: .5rem 0;
    padding: 0 1em;
    display: grid;
    grid-template-columns: max-content 1fr;
    > dt,
    > dd {
      align-content: center;
      &:nth-of-type(odd) {
        background-color: #a5aaaf34;
      }
    }
    > dt {
      padding: 0 .5em;
    }
    > dd {
      padding: 0 .5em 0 0;
    }
  }
  & p {
    margin: .5rem 1.5rem;
    padding: 0 1em;
  }
  & :is(input,select) {
    height: 2.8rem;
    margin: .2rem .1rem;
    vertical-align:middle;
    &::placeholder {
      font-size: 80%;
      opacity: 0.8;
    }
    @media screen and (width <= 735px){
      height: calc(2.8rem + 10px);
    }
  }

  max-height: 100vh;
  @starting-style {
    max-height: 0;
  }
  &.hide{
    display: none;
    max-height: 0;
  }
}
.search-summary {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-content: center;
  position: sticky;
  z-index: 2;
  top: 4rem;
  height: 3.6rem;
  padding: 0 .5em;
  line-height: 1.6rem;
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--h2-color));
  > dt::after {
    content: ":";
  }
  > dd {
    font-size: 1.2rem;
    color: #7777;
    > span {
      display: inline-block;
      color: var(--text-color);
    }
  }
}

/* // Main-Nav
---------------------------------------------------------------------------------------------------- */
main nav {
  margin: 1em 1em 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  --nav-shadow: linear-gradient(to top, rgba(125,125,125,0.2), transparent 10px);
}
main nav::before,
main nav::after {
  content: '';
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  background: var(--nav-shadow);
}
main nav ul {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;
}
main nav ul li {
  display: flex;
  font-size: 100%;
  
  &::before,
  &::after {
    content: '';
    display: block;
    width: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    background: var(--nav-shadow);
  }
  & a {
    padding: .7em .8em;
    border-width: 1px;
    border-style: solid;
    border-radius: .5em .5em 0 0;
    background: var(--nav-shadow);
    background-color: hsla(var(--theme-sub-hue),30%,75%,0.2);
    color: inherit !important;
    font-weight: bold;
  }
  .night &:not(.current) a {
    color: #ddf !important;
  }
  &.current a {
    border-bottom-style: hidden;
    background: linear-gradient(to bottom, var(--h2-color), transparent);
  }
  & a:hover {
    background: var(--bg-color);
  }
}
@media screen and (width <= 735px){
  main nav  {
    margin-top: 4em;

    & ul li {
      font-size: 100%;
    }
    & ul li::before,
    & ul li::after {
      width: 2px;
    }
    & ul li a {
      padding: .8em .8em;
    }
  }
}

/* // List
---------------------------------------------------------------------------------------------------- */
.list {
  margin: 1.5rem 0 5rem;
  padding: 0;
  font-family: var(--font-proportional);
}
.list h2 {
  height: 4rem;
  padding: 0 .8em;
  margin-bottom:.5em;
  align-content: center;
  background-color: var(--h2-color);
  border-radius: 10px;
  font-size: 1.6rem;
  & small {
    font-size: 1.4rem;
    font-weight: normal;
  }
}
.list .navbar {
  text-align: center;
  padding: .5em;
  & a, & b {
    display: inline-block;
    margin: .1em 0;
    padding: .3em .6em;
    border-radius: .5em;
  }
  & a { background: #afafaf33; }
  & b { border: 1px solid #afafaf80; }
}
.list table {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.list table :is(thead,tbody) tr {
  display: grid;
  grid-template-rows: auto;
}
.list table thead {
  display: block;
  position: sticky;
  top: 4rem;
  z-index: 1;
  background: var(--bg-color);
}
.search-summary ~ .list table thead {
  top: 7.6rem;
}
.list table thead tr {
  gap: 0 1px;
  > th {
    display: grid;
    margin-top: 1px;
    > a,
    > span {
      place-content: center;
      min-height: calc(1.5em + 10px);
      padding: 0;
      line-height: 1.2;
      border-radius: 5px;
      background: var(--h3-color);
      white-space: nowrap;
    }
  }
}
.list table tbody {
  display: block;
}
.list table tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;

  &:nth-child(even) {
    background: #a5aaaf1a;
  }
  &:hover {
    background: var(--row-bg-hover);
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  &.hide::before {
    background-image: linear-gradient(135deg, rgba(80,80,200,0.3) 10px, transparent 10px);
    background-position: top left;
  }
}
.list table td {
  min-width: 0;
  padding: 2.5px 5px 2.5px;
  text-align: center;
  align-content: center;
  word-break: auto-phrase;
  overflow-wrap: break-word;
}
.list table td.name {
  height: 100%;
  padding: 0;
  line-height: 1;
  & a {
    display: block;
    height: 100%;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    align-content: center;
    
    &:hover {
      background: var(--row-bg-hover);
    }

    > span {
      display: inline-block;
    }
  }
}
.list table td:is(.player, .author) {
  font-size: 90%;
}
.list table td span[data-gender] {
  display: inline-block;
  position: relative;
  width: calc(1em + 6px);
  padding: 3px;
  border-radius: 3px;
  font-size: 90%;
  line-height: 1;
  color: transparent;

  &::before {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-family: "Material Symbols Outlined";
    color: var(--text-color);
    font-size: 1.2em;
  }
  &[data-gender=male]   { background-color: #07f3; }
  &[data-gender=female] { background-color: #f003; }
  &[data-gender=cross]  { background-color: #70f3; }
  &[data-gender=none]   { background-color: #7773; }
  &[data-gender=unknown]{ background-color: #7773; }
  &[data-gender=male]::before   { content:"\e58e"; }
  &[data-gender=female]::before { content:"\e590"; }
  &[data-gender=cross]::before  { content:"\e58d"; }
  &[data-gender=none]::before   { content:"\f108"; }
  &[data-gender=unknown]::before{ content:"\eb8b"; }
}
.list table th.date {
  font-size: 80%;
}
.list table td.date {
  font-family: Arial;
  font-size: 80%;
  > div > span {
    display: inline-block;
  }
}
.list table td.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .2em 0;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #7775;
  &:empty {
    display: none;
  }
  & a {
    margin: .2em 1em .2em 0;
    padding: .3rem .5rem;
    border-radius: 12px 5px 5px 12px;
    background-color: rgba(140,170,200,0.2);
    color: inherit;
    font-size: 80%;
    line-height: 1;
  }
  & a:first-child {
    margin-left: 0;
  }
  & a::before {
    content:"●";
    display: inline-block;
    margin-left: -.3rem;
    color: var(--bg-color);
    font-size: 80%;
    transform: scale(0.8);
  }
  & a:hover {
    background-color: rgba(120,220,220,0.4) !important;
  }
  & span.session {
    margin-left: auto;
    font-size: 80%;
  }
  & span.session::before {
    content: "";
    font-size: 90%;
  }
}
.list .more {
  padding: .5rem;
  text-align: right;
  font-size: 150%;
  font-weight: bold;
}

@media screen and (width <= 735px){
  .list table tr {
    font-size: 95%;
  }
  .list table tr > th {
    display: grid;
  }
  .list table tr > th > a,
  .list table tr > th > span {
    padding: 2px;
  }
  .list table td {
    padding-left : 2px;
    padding-right: 2px;
  }
  .list table th.player > span {
    white-space: normal;
  }
  .list table td.name a {
    font-size: unset;
  }
  .list table th.date > span {
    white-space: normal;
  }
  .list table td.date {
    padding-left: 0;
    padding-right: 0;
  }
  .list table td.date > div > span:first-child {
    display: none;
  }
}

/* // List-Simple
---------------------------------------------------------------------------------------------------- */
.list ul {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
}
.list ul li.hide {
  background-image: linear-gradient(135deg, rgba(80,80,200,0.3) 20px, transparent 20px);
  background-position: top left;
  border-radius: 1rem;
}
.list ul li a {
  display: block;
  position: relative;
  padding: 1em;
  background-color: rgba(225,235,255,0.1);
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  
  &::before {
    position: absolute;
    top: .1em;
    left: .5em;
    font-weight: normal;
  }
  & small {
    display: block;
    position: absolute;
    right: .5em;
    bottom: .1em;
    font-weight: normal;
    
    &::before { content:"by "  }
  }
  &:hover {
    background: rgba(180,200,255,0.1);
  }
}

.list ul.grouplist a {
  text-align: left;
  font-size: 125%;

  & small {
    position: static;
    font-size: 75%;

    &::before { content:"" }
  }
}

/* ////////// LayerEnd ////////// */
}
